<div class="container">
    <ul class="nav nav-tabs" id="myTab" style="background-color: #444;">
      <li class="active"><a class="nav_list" data-target="#dailydeals" data-toggle="tab">Daily Deals</a></li>
      <li><a class="nav_list" data-target="#stores" data-toggle="tab">Stores</a></li>
      <li><a class="nav_list" data-target="#profile" data-toggle="tab">Profile</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="dailydeals">
        <ul>
          <li class="list_block">
            <a class="item_list">
                <img src="img/item_1.1.png">
              <div><span class="item_title">Fashion</span></div>
            </a>
              <div><span class="pull-right">Rs 150</span>
              <span class="item_delp"><del>Rs 250</del></span></div>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/item_2.png">
              <div><span class="item_title">Shoes</span></div>
            </a>
              <div><span class="pull-right">Rs 150</span>
              <span class="item_delp"><del>Rs 250</del></span></div>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/item_3.png">
              <div><span class="item_title">Mobiles</span></div>
            </a>
              <div><span class="pull-right">Rs 150</span>
              <span class="item_delp"><del>Rs 250</del></span></div>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/item_4.png">
              <div><span class="item_title">Computers</span></div>
            </a>
              <div><span class="pull-right">Rs 150</span>
              <span class="item_delp"><del>Rs 250</del></span></div>
          </li>
        </ul>
        <ul>
          <li class="list_block">
            <a class="item_list">
                <img src="img/item_5.png">
              <div><span class="item_title">College Bags</span></div>
            </a>
              <div><span class="pull-right">Rs 150</span>
              <span class="item_delp"><del>Rs 250</del></span></div>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/item_6.png">
              <div><span class="item_title">Lagguage Bags</span></div>
            </a>
              <div><span class="pull-right">Rs 150</span>
              <span class="item_delp"><del>Rs 250</del></span></div>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/item_7.png">
              <div><span class="item_title">Car Accesories</span></div>
            </a>
              <div><span class="pull-right">Rs 150</span>
              <span class="item_delp"><del>Rs 250</del></span></div>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/item_8.png">
              <div><span class="item_title">Kitchen Needs</span></div>
            </a>
              <div><span class="pull-right">Rs 150</span>
              <span class="item_delp"><del>Rs 250</del></span></div>
          </li>
        </ul>
        <a href="http://192.168.0.73:8081" class="view-all view_btn">View More Deals</a>
      </div>
      <div class="tab-pane tab_pane" id="stores">
        <ul>
          <li class="list_block">
            <a class="item_list">
                <img src="img/amazon.png">
            </a>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/flipkart.png">
            </a>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/snapdeal.png">
            </a>
          </li>
        </ul>
        <ul>
          <li class="list_block">
            <a class="item_list">
                <img src="img/snapdeal.png">
            </a>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/ebay.png">
            </a>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/paytm.png">
            </a>
          </li>
        </ul>
        <ul>
          <li class="list_block">
            <a class="item_list">
                <img src="img/shopclues.png">
            </a>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/paytm.png">
            </a>
          </li>
          <li class="list_block">
            <a class="item_list">
                <img src="img/shopclues.png">
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="profile">Profile</div>
    </div>
  </div>