<!doctype html>
<html>
	

<head th:replace="fragments/PortalHeadFragment::HeadFragment('Password Reset','Password Reset','Password Reset')"></head>
	<body ng-app="HungryHomeTerminal">
			<div th:replace="fragments/LocationFragment"></div>
		<div class="wrapper">
				<header th:replace="fragments/HeaderFragment :: HeaderFragment('false')"></header>

		<div th:replace="fragments/ResetPasswordFragment"></div>

		<div th:replace="fragments/FooterFragment"></div>
		</div><!-- .wrapper -->
		<th:block th:replace="fragments/PortalScriptsFragment"></th:block>
	</body>


</html>