<th:block th:fragment = "itemImageFragment">
	<div class="col-lg-4">
  	 <img th:src="${mainimagelocation}" />
  	</div>
  	<div class="col-lg-2" style="margin-top:90px;">
  	 <img th:src="${listimagelocation}"  />
  	</div>
  	<div class="col-lg-2 text-center" style="margin-top:150px;">
  	 <img th:src="${thumbimagelocation}" />
  	</div>
  	</th:block>
  	<th:block th:fragment = "subCategoryImageFragment">
  	
  	<div class="col-lg-4">
  	 <img th:src="${imagelocation}" />
  	</div>
  	
  	</th:block>

