<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

  <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
  <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
  <!--[if !IE]><!-->
  
<html xmlns:th="http://www.thymeleaf.org">
  <!--<![endif]-->

  <!-- Head BEGIN -->
  <head>
    <meta charset="utf-8"/>
    <title th:text="${title} + ${title} + '!'">
  </title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
   
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   

   

    <link rel="shortcut icon" href="favicon.ico"/>

    <!-- Global styles START -->          
    <link href="../static/common/lib/global/plugins/font-awesome/css/font-awesome.min.css" 
    	th:href="@{/common/lib/global/plugins/font-awesome/css/font-awesome.min.css}"
     		rel="stylesheet"/>

    <link href="../static/common/lib/global/plugins/simple-line-icons/simple-line-icons.min.css" 
    		th:href="@{/common/lib/global/plugins/simple-line-icons/simple-line-icons.min.css}"
    		 rel="stylesheet" type="text/css"/>

    <link href="../static/common/lib/Flaticon/flaticon.css" 
    	th:href="@{/common/lib/Flaticon/flaticon.css}"
    		 rel="stylesheet"/>

    <link href="../static/common/lib/global/plugins/bootstrap/css/bootstrap.min.css" 
    		th:href="@{/common/lib/global/plugins/bootstrap/css/bootstrap.min.css}" 
    			rel="stylesheet"/>

    <link href="../static/common/lib/global/fonts/fonts.css"
    	 th:href="@{/common/lib/global/fonts/fonts.css}" 
    	 	rel="stylesheet"/>
	<link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" />
    <!-- Global styles END --> 
    

    <!-- Theme styles START -->
    <link href="../static/common/lib/global/css/components.css" 
    	th:href="@{/common/lib/global/css/components.css}"
    		 rel="stylesheet"/>
    <link href="../static/common/lib/frontend/layout/css/style.css" 
    	th:href="@{/common/lib/frontend/layout/css/style.css}" 
    		rel="stylesheet"/>
    <link href="../static/common/lib/frontend/pages/css/style-revolution-slider.css" 
    	th:href="@{/common/lib/frontend/pages/css/style-revolution-slider.css}" 
    		rel="stylesheet"/>
    <link href="../static/common/lib/frontend/layout/css/style-responsive.css" 
    		 th:href="@{/common/lib/frontend/layout/css/style-responsive.css}"
    		 	 rel="stylesheet"/>
    <link href="../static/common/lib/frontend/layout/css/themes/red.css" 
    		th:href="@{/common/lib/frontend/layout/css/themes/red.css}" 
    			rel="stylesheet" id="style-color"/>
    <link href="../static/common/lib/frontend/layout/css/custom.css" 
    	th:href="@{/common/lib/frontend/layout/css/custom.css}" 
    		rel="stylesheet"/>
    <!-- Theme styles END -->
    <!-- Page level plugin styles START -->
    <link href="../static/common/lib/global/plugins/fancybox/source/jquery.fancybox.css"
    			 th:href="@{/common/lib/global/plugins/fancybox/source/jquery.fancybox.css}"
    			 	 rel="stylesheet"/>
    <link href="../static/common/lib/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" 
    		th:href="@{/common/lib/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css}"
    			 rel="stylesheet"/>
    <link href="../static/common/lib/global/plugins/slider-layer-slider/css/layerslider.css"
    	 th:href="@{/common/lib/global/plugins/slider-layer-slider/css/layerslider.css}" 
    	 	rel="stylesheet"/>
    <link href="../static/common/lib/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css"
    	 th:href="@{/common/lib/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css}"
    	 	 rel="stylesheet"/>
     <link href="../static/common/lib/global/plugins/uniform/css/uniform.default.css" 
     	th:href="@{/common/lib/global/plugins/uniform/css/uniform.default.css}" 
     		rel="stylesheet" type="text/css"/>
     <link href="../static/common/css/style2.css"
     	 th:href="@{/common/css/style2.css}"
			rel="stylesheet" type="text/css"/>
     <link href="../static/common/css/swiper.css"
     	 th:href="@{/common/css/swiper.css}" 
     	 	rel="stylesheet" type="text/css"/>
     <link href="../static/common/css/slider.css" 
     		th:href="@{/common/css/slider.css}"
     			 rel="stylesheet" type="text/css"/>
     <!-- <link href="../static/common/css/idangerous.swiper.css"
     		 th:href="@{/common/css/idangerous.swiper.css}" 
     			rel="stylesheet" type="text/css" /> -->
     <link  href="../static/common/css/responsive.css" 
     		th:href="@{/common/css/responsive.css}" 
     			rel="stylesheet" type="text/css" />
    <!-- Page level plugin styles END -->

    <!-- Theme styles START -->
    
    <link href="../static/common/lib/frontend/pages/css/searchbar.css" 
    	th:href="@{/common/lib/frontend/pages/css/searchbar.css}" 
    		rel="stylesheet"/>
   
    <link href="../static/common/lib/frontend/pages/css/style-shop.css" 
    	th:href="@{/common/lib/frontend/pages/css/style-shop.css}" 
    	rel="stylesheet" type="text/css"/>
    <link href="../static/common/lib/frontend/pages/css/style-layer-slider.css" th:href="@{/common/lib/frontend/pages/css/style-layer-slider.css}" rel="stylesheet"/>
   
    <link href="../static/common/css/btm-footer.css" 
    	th:href="@{/common/css/btm-footer.css}" 
    		rel="stylesheet"/>
    <link href="../static/common/css/MyIcons(1)/flaticon.css" 
    	th:href="@{/common/css/MyIcons(1)/flaticon.css}" 
    	rel="stylesheet"/>
    <link href="../static/common/css/app.custom.css" 
    	th:href="@{/common/css/app.custom.css}" 
    		rel="stylesheet"/>
    <link href="../static/common/css/style1.css" 
    th:href="@{/common/css/style1.css}" 
    	rel="stylesheet"/>
    
   
  </head>
  <!-- Head END -->

  <!-- Body BEGIN -->
  <body class="ecommerce">
      <div th:replace="fragments/HeaderFragment :: HeaderFragment">

      
    </div>
      <!-- Header END-->
  <div class="slider-container">                <!-- BEGIN FLEXSLIDER SLIDER -->
      <div id="slider-1" class="slider banners swiper_container masterslider ms-skin-default post-1986 page type-page status-publish hentry" style="height: 400px;" data-autoplay="yes" data-interval="3000" data-height="400">

          <div class="swiper-wrapper" style="padding-left: 0px; padding-right: 0px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); transition-duration: 0s; -webkit-transition-duration: 0s; width: 2294px; height: 400px;">

        
        
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-big swiper-slide-visible swiper-slide-active" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="#"><img width="392" height="525" src="../static/images/slide1.jpg" th:src="@{/images/slide1.jpg}" class="attachment-full wp-post-image" alt="slider-4"/></a>
                <div class="slide-text border bottom">
                  <h4>Exclusive from Designer</h4>
                  <h3>LIVING ROOM</h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-small swiper-slide-visible" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="#"><img width="225" height="255" src="../static/images/slide2.jpg" th:src="@{/images/slide2.jpg}" class="attachment-full wp-post-image" alt="slider-3b"/></a>
                <div class="slide-text center" style="position: absolute; height: 69px; top: 50%; margin-top: -34.5px; zoom: 1;">
                  <h4>TURN ON</h4>
                  <h3> THE LIGHTS</h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
        
              <div class="slide-wrapper">
                <a href="#"><img width="225" height="254" src="../static/images/slide5.jpg" th:src="@{/images/slide5.jpg}" class="attachment-full wp-post-image" alt="slider-2"/></a>
                <div class="slide-text center" style="position: absolute; height: 26px; top: 50%; margin-top: -13px; zoom: 1;">
                  <h4></h4>
                  <h3></h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-big swiper-slide-visible" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="#"><img width="392" height="525" src="../static/images/slide8.jpg" th:src="@{/images/slide8.jpg}" class="attachment-full wp-post-image" alt="slider-1"/></a>
                <div class="slide-text center" style="position: absolute; height: 69px; top: 50%; margin-top: -34.5px; zoom: 1;">
                  <h4>Fashion Week</h4>
                  <h3>READY TO WEAR</h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-small swiper-slide-visible" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="#"><img width="584" height="700" src="../static/images/slide3.jpg" th:src="@{/images/slide3.jpg}" class="attachment-full wp-post-image" alt="marmellate"/></a>
                <div class="slide-text center" style="position: absolute; height: 26px; top: 50%; margin-top: -13px; zoom: 1;">
                  <h4></h4>
                  <h3></h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
        
              <div class="slide-wrapper">
                <a href="#"><img width="225" height="270" src="../static/images/slide11.jpg" th:src="@{/images/slide11.jpg}" class="attachment-full wp-post-image" alt="luxurr"/></a>
                <div class="slide-text center" style="position: absolute; height: 26px; top: 50%; margin-top: -13px; zoom: 1;">
                  <h4></h4>
                  <h3></h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-small swiper-slide-visible" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="#"><img width="392" height="525" src="../static/images/slide15.jpg" th:src="@{/images/slide15.jpg}" class="attachment-full wp-post-image" alt="big"/></a>
                <div class="slide-text center" style="position: absolute; height: 26px; top: 50%; margin-top: -13px; zoom: 1;">
                  <h4></h4>
                  <h3></h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
        
              <div class="slide-wrapper">
                <a href="#"><img width="225" height="270" src="../static/images/slide13.jpg" th:src="@{/images/slide13.jpg}"  class="attachment-full wp-post-image" alt="23"/></a>
                <div class="slide-text border center" style="position: absolute; height: 39px; top: 50%; margin-top: -19.5px; zoom: 1;">
                  <h4>THE FINAL TOUCH</h4>
                  <h3></h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-big" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="#"><img width="392" height="525" src="../static/images/slide9.jpg" th:src="@{/images/slide9.jpg}" class="attachment-full wp-post-image" alt="wom"/></a>
                <div class="slide-text top">
                  <h4>NEW ARRIVALS</h4>
                  <h3>560 ACCESSORIES</h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-big" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="#"><img width="392" height="525" src="../static/images/slide10.jpg" th:src="@{/images/slide10.jpg}" class="attachment-full wp-post-image" alt="slider-11"/></a>
                <div class="slide-text border center" style="position: absolute; height: 71px; top: 50%; margin-top: -35.5px; zoom: 1;">
                  <h4>NEW LOOK</h4>
                  <h3>COUNTRY STYLE</h3>
                </div>
                <a href="#" class="slide-link"></a>           </div>

          
        
            </div>
          </div>
          <!-- END SLIDE -->

          </div>

                  <a href="#" class="prev">Previous</a>
          <a href="#" class="next">Next</a>
          
      </div>


      <!-- END SLIDER -->

    
  </div>

  <div class="container">
  <div class="col-md-12 row">
            <!-- <div class="col-md-9">
              <span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span>
            </div> -->
              <div class="col-md-4 text-center">
                <div class="banner-box">
                  <a class="" href="#" target="_blank"><img alt="ban1" src="../static/images/ban1.png" th:src="@{/images/ban1.png}"/></a>
                  <div class="text-banner">
                    <h4>NEW ARRIVAL</h4>
                    <h3>-30% Sale</h3>
                  </div>
                </div>
              </div>
             <div class="col-md-4 text-center">
               <div class="banner-box">
                 <a class=" " href="#" target="_blank"><img src="../static/images/ban2.png" th:src="@{/images/ban2.png}" alt="ban2"/></a>
                 <div class="text-banner">
                    <h4>TRENDING</h4>
                    <h3>-30% Sale</h3>
                  </div>
                </div>
              </div>
            <div class="col-md-4 text-center">
              <div class="banner-box">
                 <a class="  " href="#" target="_blank"><img alt="ban3" src="../static/images/ban3.png" th:src="@{/images/ban3.png}"/></a>
                 <div class="text-banner">
                    <h4>MOST TRENDING</h4>
                    <h3>-30% Sale</h3>
                  </div>
              </div>
            </div>
           
          </div>
        </div>
      
      

      <div class="main">

        <div class="container">

       <!--    <div class="seperator"><i class="fa fa-cutlery"></i></div> -->



<!--   <div class="steps-block steps-block-red">
        <div class="container">
          <div class="row">
            <div class="col-md-4 steps-block-col">
              <i class="fa fa-truck"></i>
              <div>
                <h2>Free shipping</h2>
                <em>Express delivery withing minute's</em>
              </div>
              <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
              <i class="fa fa-gift"></i>
              <div>
                <h2>Daily Gifts</h2>
                <em>3 Gifts daily for lucky customers</em>
              </div>
              <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
              <i class="fa fa-phone"></i>
              <div>
                <h2>477 505 8877</h2>
                <em>24/7 customer care available</em>
              </div>
            </div>
          </div>
        </div>
      </div> -->


   <!-- Parallax Div -->
  <!-- <div class="bg-success col-lg-12 col-md-12 col-sm-12 h6 parallax_img1" style="height:250px">

    </div> -->
      <!-- End Parallax Div-->

  <!-- <div class="strike">
      <span>Sample Text</span>
  </div>
 -->
      
        <section class="big-menu section">
        <div class="section-title">
        
        <h2><span class="extra-bold">Our</span>Menu</h2>

        <div class="section-title-line" style="width: 280px;">
          <div class="section-title-icon">
            <img src="../static/images/salad.png" th:src="@{/images/salad.png}" alt="salad"/>
          </div>
          <hr/>
        </div>

        <!--   Start Section Title -->
          <img id="food-logo" src="../static/images/food_logo.png" th:src="@{/images/food_logo.png}" alt="food"/>
        <p style="font-size: 18px;font-family: Varela Round;  color: #818181;">
        Grenadier jackfish arowana temperate perch bonytongue seamoth sea devil longfin Alaska blackfish<br/>
        yellow weaver. Elephant fish great white shark slipmouth pencilsmelt, popeye catafula African<br/>
        lungfish. Rough scad roanoke bass. Codlet Molly Miller.
        </p>

        </div>

        <!--   Start Section Title -->

        <div class="special-tab">   
        <ul class="special-tabs-titles">
          <li class="current"><div class="food-icon-1"></div><span>Steaks</span></li> 
          <li class=""><div class="food-icon-2"></div><span>Vegetarian</span></li>
          <li class=""><div class="food-icon-3"></div><span>Cheese Based</span></li>
          <li><div class="food-icon-4"></div><span>Hot Dishes</span></li>
          <li><div class="food-icon-5"></div><span>Fish</span></li>
          <li><div class="food-icon-6"></div><span>Chicken</span></li>
          <li><div class="food-icon-7"></div><span>Pizza</span></li>
          <li><div class="food-icon-8"></div><span>Pasta</span></li>
          <li><div class="food-icon-9"></div><span>Sushi</span></li>
          <li><div class="food-icon-10"></div><span>Soft Drinks</span></li>
        </ul>
        <div class="special-tab-content" style="display: block;">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="food-menu-item animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="pull-left food-menu-item-img-outer">
                  <img class="img-circle" src="../static/images/circle_dish_img_1.jpg" th:src="@{/images/circle_dish_img_1.jpg}" alt="circle dish"/>
                </div>
                <div class="food-menu-desc">
                  <h5><span class="extrabold">Marinated</span> Pork Steak</h5>
                  <p>Grenadier jackfish arowana temperate perch weaver.</p>
                  <div class="food-menu-details">
                    <span class="food-menu-weight">450g</span> | <span class="food-menu-price">$89</span>
                  </div>
                </div>
              </div><!-- end .food-menu-item -->
            </div><!-- end .col -->
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="food-menu-item animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="pull-left food-menu-item-img-outer">
                  <img class="img-circle" src="../static/images/circle_dish_img_2.jpg" th:src="@{/images/circle_dish_img_2.jpg}" alt="circle"/>
                </div>
                <div class="food-menu-desc">
                  <h5><span class="extrabold">Lamb</span> Steak with Cheese</h5>
                  <p>Grenadier jackfish arowana temperate perch weaver.</p>
                  <div class="food-menu-details">
                    <span class="food-menu-weight">380g</span> | <span class="food-menu-price">$115</span>
                  </div>
                </div>
              </div><!-- end .food-menu-item -->
            </div><!-- end .col -->
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="food-menu-item animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="pull-left food-menu-item-img-outer">
                  <img class="img-circle" src="../static/images/circle_dish_img_3.jpg" th:src="@{/images/circle_dish_img_3.jpg}" alt="circledish1"/>
                </div>
                <div class="food-menu-desc">
                  <h5><span class="extrabold">Veal</span> Steak</h5>
                  <p>Grenadier jackfish arowana temperate perch weaver.</p>
                  <div class="food-menu-details">
                    <span class="food-menu-weight">520g</span> | <span class="food-menu-price">$85</span>
                  </div>
                </div>
              </div><!-- end .food-menu-item -->
            </div><!-- end .col --> 
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="food-menu-item animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="pull-left food-menu-item-img-outer">
                  <img class="img-circle" src="../static/images/circle_dish_img_4.jpg" th:src="@{/images/circle_dish_img_4.jpg}" alt="circledish4"/>
                </div>
                <div class="food-menu-desc">
                  <h5><span class="extrabold">Deer</span> Steak with Potatoes</h5>
                  <p>Grenadier jackfish arowana temperate perch weaver.</p>
                  <div class="food-menu-details">
                    <span class="food-menu-weight">630g</span> | <span class="food-menu-price">$158</span>
                  </div>
                </div>
              </div><!-- end .food-menu-item -->
            </div><!-- end .col -->
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="food-menu-item animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="pull-left food-menu-item-img-outer">
                  <img class="img-circle" src="../static/images/circle_dish_img_5.jpg" th:src="@{/images/circle_dish_img_5.jpg}" alt="circledish5"/>
                </div>
                <div class="food-menu-desc">
                  <h5><span class="extrabold">Pork</span> Steak</h5>
                  <p>Grenadier jackfish arowana temperate perch weaver.</p>
                  <div class="food-menu-details">
                    <span class="food-menu-weight">280g</span> | <span class="food-menu-price">$55</span>
                  </div>
                </div>
              </div><!-- end .food-menu-item -->
            </div><!-- end .col -->
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="food-menu-item animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="pull-left food-menu-item-img-outer">
                  <img class="img-circle" src="../static/images/circle_dish_img_6.jpg" th:src="@{/images/circle_dish_img_6.jpg}" alt="circleimg6"/>
                </div>
                <div class="food-menu-desc">
                  <h5><span class="extrabold">Spicy</span> Lamb Steak</h5>
                  <p>Grenadier jackfish arowana temperate perch weaver.</p>
                  <div class="food-menu-details">
                    <span class="food-menu-weight">490g</span> | <span class="food-menu-price">$105</span>
                  </div>
                </div>
              </div><!-- end .food-menu-item -->
            </div><!-- end .col --> 
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="food-menu-item animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="pull-left food-menu-item-img-outer">
                  <img class="img-circle" src="../static/images/circle_dish_img_7.jpg" th:src="@{/images/circle_dish_img_7.jpg}" alt="circledish7"/>
                </div>
                <div class="food-menu-desc">
                  <h5><span class="extrabold">Marinated</span> Pork Steak</h5>
                  <p>Grenadier jackfish arowana temperate perch weaver.</p>
                  <div class="food-menu-details">
                    <span class="food-menu-weight">390g</span> | <span class="food-menu-price">$78</span>
                  </div>
                </div>
              </div><!-- end .food-menu-item -->
            </div><!-- end .col -->
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="food-menu-item animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="pull-left food-menu-item-img-outer">
                  <img class="img-circle" src="../static/images/circle_dish_img_8.jpg" th:src="@{/images/circle_dish_img_8.jpg}" alt="circleimg8"/>
                </div>
                <div class="food-menu-desc">
                  <h5><span class="extrabold">BBQ</span> Veal Steak</h5>
                  <p>Grenadier jackfish arowana temperate perch weaver.</p>
                  <div class="food-menu-details">
                    <span class="food-menu-weight">425g</span> | <span class="food-menu-price">$70</span>
                  </div>
                </div>
              </div><!-- end .food-menu-item -->
            </div><!-- end .col -->
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="food-menu-item animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="pull-left food-menu-item-img-outer">
                  <img class="img-circle" src="../static/images/circle_dish_img_9.jpg" th:src="@{/images/circle_dish_img_9.jpg}" alt="circledishimg9"/>
                </div>
                <div class="food-menu-desc">
                  <h5><span class="extrabold">Seasoned</span> Deer Steak</h5>
                  <p>Grenadier jackfish arowana temperate perch weaver.</p>
                  <div class="food-menu-details">
                    <span class="food-menu-weight">580g</span> | <span class="food-menu-price">$69</span>
                  </div>
                </div>
              </div><!-- end .food-menu-item -->
            </div><!-- end .col --> 
          </div>                                    
        </div><!-- end .special-tab-content -->                                    
      </div>

      </section>


        <!--   end .special-tab-content -->









          <!-- New Content -->
          <!-- <div class="block-banner h2">
                  <div class="">
                      <div class="row">
                          <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                              <div class="banner">
                                  <a href="#">
                                      <img src="../../assets/frontend/pages/img/FoodImages/Sample/1.jpg" class="img-responsive" alt="">
                                  </a> 
                              </div>
                              <div class="banner">
                                  <a href="#">
                                      <img src="../../assets/frontend/pages/img/FoodImages/Sample/3.jpg" class="img-responsive" alt="">
                                  </a> 
                              </div>

                          </article>
                          <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                              <div class="banner">
                                  <a href="#">
                                      <img src="../../assets/frontend/pages/img/FoodImages/Sample/l2.jpg" class="img-responsive" alt="">
                                  </a>
                              </div>

                          </article>
                          <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                              <div class="banner">
                                  <a href="#">
                                      <img src="../../assets/frontend/pages/img/FoodImages/Sample/l3.jpg" class="img-responsive" alt="">
                                  </a>
                              </div>

                          </article>
                          <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                              <div class="banner">
                                  <a href="#">
                                      <img src="../../assets/frontend/pages/img/FoodImages/Sample/8.jpg" class="img-responsive" alt="">
                                  </a> 
                              </div>
                              <div class="banner">
                                  <a href="#">
                                      <img src="../../assets/frontend/pages/img/FoodImages/Sample/9.jpg" class="img-responsive" alt="">
                                  </a>
                              </div>
                          </article>
                      </div>
                  </div>
              </div> -->
          <!-- End new Content -->
          

          
          
          <!-- BEGIN TABS AND TESTIMONIALS -->
          <div class="row mix-block margin-bottom-40">


                















     <!-- BEGIN SIDEBAR & CONTENT 2-->
          <div class="row margin-bottom-40 ">
            
            <div class="sidebar col-md-3 col-sm-4">
      <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/b4.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/b4.jpg}"  class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/b4.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/b4.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="category_page.html" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <!-- <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a> -->
                    <div class="sticker sticker-new"></div>
                  </div>
            </div>
            <!-- BEGIN CONTENT -->
            <div class="col-md-6 col-sm-8">
              <h2 class="nav nav-tabs">Featured Categories</h2>
              <div class="owl-carousel owl-carousel3">
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="category_page.html" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                    <div class="sticker sticker-new">
                    
                    </div>

                  </div>

                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="category_page.html" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png}" class="img-responsive"  alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="category_page.html" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png}" class="img-responsive" alt="Berry Lace Dress" />
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="category_page.html" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress4</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                    <div class="sticker sticker-sale"></div>
                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel3_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel3_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel3_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel3_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="category_page.html" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress5</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="category_page.html" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress6</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                  </div>
                </div>
              </div>
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN SIDEBAR -->
       <div class="sidebar col-md-3 col-sm-4">
      <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/b6.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/b6.jpg}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/b6.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/b6.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="category_page.html" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <!-- <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a> -->
                    <div class="sticker sticker-new"></div>
                  </div>
            </div>
            <!-- END SIDEBAR -->
          </div>
          <!-- END SIDEBAR & CONTENT -->
          <!-- BEGIN TWO PRODUCTS & PROMO -->
          <div id="todaySpecial" th:replace="fragments/todayspecial :: specialsntestimonials">
            </div>
            <!-- END PROMO -->
          </div>        
          <!-- END TWO PRODUCTS & PROMO -->
        </div>
      </div>

      <!-- BEGIN BRANDS -->
      <div class="brands">
        <div class="container">
          <h2 class="nav nav-tabs">Best Restaurants</h2>
              <div class="owl-carousel owl-carousel6-brands">
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res8.png"  th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res8.png}" alt="canon" title="canon"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res1.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res1.png}" alt="esprit" title="esprit"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png}" alt="gap" title="gap"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res3.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res3.png}" alt="next" title="next"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res4.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res4.png}" alt="puma" title="puma"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res5.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res5.png}" alt="zara" title="zara"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res6.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res6.png}" alt="canon" title="canon"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res7.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res7.png}" alt="esprit" title="esprit"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res8.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res8.png}" alt="gap" title="gap"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png}" alt="next" title="next"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res5.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res5.png}" alt="puma" title="puma"/></a>
                <a href="shop-product-list.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res5.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res5.png}" alt="zara" title="zara"/></a>
              </div>
          </div>
      </div>
      <!-- END BRANDS -->

      
      
      <!-- BEGIN STEPS -->
      
      <!-- END STEPS -->

      <!-- Parallax Div style="text-align: center;margin-top: 67px;font-size: 30px;
  "-->
  <div class="bg-success col-lg-12 col-md-12 col-sm-12 h6 parallax_img" style="height:250px">
   <div class="easing_effect" style="text-align: center;margin-top: 92px; color:#fff;">
                  <h2 class="decorated"><span>Foodiesh</span></h2>
<p class="container h6">The food that is served meets the highest standards for nutritional content; it is prepared by experienced and trained chefs that have achieved a journey cook status or have had years of experience to prepare quality food and there is a dedicated focus upon the dietary requirements of each patient. The fact that pizza, burgers, and fries are not regularly on the menu is reflective of a desire to model nutritional eating towards a healthier lifestyle.</p>
                  <a class="btn_white" href="#">Buy Now <i class="fa fa-angle-right"></i></a>
                </div>
    </div>
      <!-- End Parallax Div-->
   
      <!-- BEGIN PRE-FOOTER -->   
     
   <div class="pre-footer pre-footer-light">
        <div class="container">
          <div class="row" style="padding:40px">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
              <h2>About us</h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo consequat. </p>
              <p>Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.</p>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM INFO BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
              <h2>Information</h2>
              <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="#">Delivery Information</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Customer Service</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Order Tracking</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Shipping &amp; Returns</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="contacts.html">Contact Us</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Careers</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Payment Methods</a></li>
              </ul>
            </div>
            <!-- END INFO BLOCK -->

            <!-- BEGIN TWITTER BLOCK --> 
            <div class="col-md-3 col-sm-6 pre-footer-col" data-twttr-id="twttr-sandbox-0">
              <h2 class="">Trending Categories</h2>
               <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="#">Category1</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Category2</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Category3</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Category4</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="contacts.html">Category5</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Category6</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Category7</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Category8</a></li>
              </ul>
            </div>
            <!-- END TWITTER BLOCK -->
            
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
              <h2>Our Contacts</h2>
              <address class="margin-bottom-40">
  Plot No 890/2, Sumana Hospital Road,<br/>
  Vivekananda Nagar Colony,Kukatpally,<br/>
  Hyderabad,Andhra Pradesh<br/>
  Pin :500072.<br/>

                Email: <a href="info@arthvedi.com">info@arthvedi.com</a><br/>
                Contact NUmber: <a href="skype:metronic">(040) 40171745</a>
              </address>
            </div>
            <!-- END BOTTOM CONTACTS -->
          </div>
          <hr/>
          <div class="row">
            <!-- BEGIN SOCIAL ICONS -->
            <div class="col-md-6 col-sm-6">
              <ul class="social-icons">
                <li><a class="rss" data-original-title="rss" href="#"></a></li>
                <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                <li><a class="linkedin" data-original-title="linkedin" href="#"></a></li>
                <li><a class="youtube" data-original-title="youtube" href="#"></a></li>
                <li><a class="vimeo" data-original-title="vimeo" href="#"></a></li>
                <li><a class="skype" data-original-title="skype" href="#"></a></li>
              </ul>
            </div>
            <!-- END SOCIAL ICONS -->
            <!-- BEGIN NEWLETTER -->
            <div class="col-md-6 col-sm-6">
              <div class="pre-footer-subscribe-box pull-right">
                <h2>Newsletter</h2>
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="youremail@mail.com" class="form-control"/>
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Subscribe</button>
                    </span>
                  </div>
                </form>
              </div> 
            </div>
            <!-- END NEWLETTER -->
          </div>
        </div>
      </div>
       
      <!-- END PRE-FOOTER -->


      <!-- BEGIN FOOTER -->
      <div class="footer padding-top-15 footer-light">
        <div class="container">
          <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10">
              2015 © Hungry Shop UI. ALL Rights Reserved. 
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN PAYMENTS -->
            <div class="col-md-6 col-sm-6">
              <ul class="list-unstyled list-inline pull-right">
                <li><img src="../static/common/lib/frontend/layout/img/payments/western-union.jpg"  th:src="@{/common/lib/frontend/layout/img/payments/western-union.jpg}" alt="We accept Western Union" title="We accept Western Union"/></li>
                <li><img src="../static/common/lib/frontend/layout/img/payments/american-express.jpg" th:src="@{/common/lib/frontend/layout/img/payments/american-express.jpg}" alt="We accept American Express" title="We accept American Express"/></li>
                <li><img src="../static/common/lib/frontend/layout/img/payments/MasterCard.jpg" th:src="@{/common/lib/frontend/layout/img/payments/MasterCard.jpg}" alt="We accept MasterCard" title="We accept MasterCard"/></li>
                <li><img src="../static/common/lib/frontend/layout/img/payments/PayPal.jpg" th:src="@{/common/lib/frontend/layout/img/payments/PayPal.jpg}" alt="We accept PayPal" title="We accept PayPal"/></li>
                <li><img src="../static/common/lib/frontend/layout/img/payments/visa.jpg" th:src="@{/common/lib/frontend/layout/img/payments/visa.jpg}" alt="We accept Visa" title="We accept Visa"/></li>
              </ul>
            </div>
            <!-- END PAYMENTS -->
          </div>
        </div>
      </div>
      <!-- END FOOTER -->

     

      <!-- BEGIN fast view of a product -->
      <div id="product-pop-up" style="display: none; width: 700px;">
              <div class="product-page product-pop-up">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-3">
                    <div class="product-main-image">
                      <img src="../static/common/lib/frontend/pages/img/products/model7.jpg" th:src="@{/common/lib/frontend/pages/img/products/model7.jpg}" alt="Cool green dress with red bell" class="img-responsive"/>
                    </div>
                    <div class="product-other-images">
                      <a href="#" class="active"><img th:src="@{/common/lib/frontend/pages/img/products/model3.jpg}" alt="Berry Lace Dress" src="../static/common/lib/frontend/pages/img/products/model3.jpg"/></a>
                      <a href="#"><img th:src="@{/common/lib/frontend/pages/img/products/model4.jpg}" alt="Berry Lace Dress" src="../static/common/lib/frontend/pages/img/products/model4.jpg"/></a>
                      <a href="#"><img th:src="@{/common/lib/frontend/pages/img/products/model5.jpg}" alt="Berry Lace Dress" src="../static/common/lib/frontend/pages/img/products/model5.jpg"/></a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-9">
                    <h2>Cool green dress with red bell</h2>
                    <div class="price-availability-block clearfix">
                      <div class="price">
                        <strong><span>$</span>47.00</strong>
                        <em>$<span>62.00</span></em>
                      </div>
                      <div class="availability">
                        Availability: <strong>In Stock</strong>
                      </div>
                    </div>
                    <div class="description">
                      <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed nonumy nibh sed euismod laoreet dolore magna aliquarm erat volutpat 
  Nostrud duis molestie at dolore.</p>
                    </div>
                    <div class="product-page-options">
                      <div class="pull-left">
                        <label class="control-label">Size:</label>
                        <select class="form-control input-sm">
                          <option>L</option>
                          <option>M</option>
                          <option>XL</option>
                        </select>
                      </div>
                      <div class="pull-left">
                        <label class="control-label">Color:</label>
                        <select class="form-control input-sm">
                          <option>Red</option>
                          <option>Blue</option>
                          <option>Black</option>
                        </select>
                      </div>
                    </div>
                    <div class="product-page-cart">
                      <div class="product-quantity">
                          <input id="product-quantity" type="text" value="1" readonly="readonly" name="product-quantity" class="form-control input-sm"/>
                      </div>
                      <button class="btn btn-primary" type="submit">Add to cart</button>
                      <a href="shop-item.html" class="btn btn-default">More details</a>
                    </div>
                  </div>

                  <div class="sticker sticker-sale"></div>
                </div>
              </div>
      </div>
      <!-- END fast view of a product -->

      <!-- Load javascripts at bottom, this will reduce page load time -->
      <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
      <!--[if lt IE 9]>
      <script src="../static/common/lib/global/plugins/respond.min.js"></script>  
      <![endif]-->
      <script src="../static/common/lib/global/plugins/jquery.min.js" th:src="@{/common/lib/global/plugins/jquery.min.js}" type="text/javascript"></script>
      <script src="../static/common/lib/global/plugins/jquery-migrate.min.js" th:src="@{/common/lib/global/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
      <script src="../static/common/lib/global/plugins/bootstrap/js/bootstrap.min.js" th:src="@{/common/lib/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>      
      <script src="../static/common/lib/frontend/layout/scripts/back-to-top.js" th:src="@{/common/lib/frontend/layout/scripts/back-to-top.js}" type="text/javascript"></script>
      <script src="../static/common/lib/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{/common/lib/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
      <!-- END CORE PLUGINS -->

      <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
      <script src="../static/common/lib/global/plugins/fancybox/source/jquery.fancybox.pack.js" th:src="@{/common/lib/global/plugins/fancybox/source/jquery.fancybox.pack.js}" type="text/javascript"></script><!-- pop up -->
      <script src="../static/common/lib/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" th:src="@{/common/lib/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script><!-- slider for products -->
      <script src='../static/common/lib/global/plugins/zoom/jquery.zoom.min.js' th:src="@{/common/lib/global/plugins/zoom/jquery.zoom.min.js}" type="text/javascript"></script><!-- product zoom -->
      <script src="../static/common/lib/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" th:src="@{/common/lib/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js}" type="text/javascript"></script><!-- Quantity -->
      <script src="../static/common/js/swiper.min.js" th:src="@{/common/js/swiper.min.js}"> </script>
      <script src="../static/common/js/idangerous.swiper.min.js" th:src="@{/common/js/idangerous.swiper.min.js}"> </script>
      <script src="../static/common/js/masterslider.min.js" th:src="@{/common/js/masterslider.min.js}"> </script>
     
      <script src="../static/common/js/slider.banners.js" th:src="@{/common/js/slider.banners.js}"> </script>
      <script src="../static/common/js/theme_ga.js" th:src="@{/common/js/theme_ga.js}"> </script>
      <script src="../static/common/js/theme.js" th:src="@{/common/js/theme.js}"> </script>

      <!-- BEGIN LayerSlider -->
      <script src="../static/common/lib/global/plugins/slider-layer-slider/js/greensock.js" th:src="@{/common/lib/global/plugins/slider-layer-slider/js/greensock.js}" type="text/javascript"></script><!-- External libraries: GreenSock -->
      <script src="../static/common/lib/global/plugins/slider-layer-slider/js/layerslider.transitions.js" th:src="@{/common/lib/global/plugins/slider-layer-slider/js/layerslider.transitions.js}" type="text/javascript"></script><!-- LayerSlider script files -->
      <script src="../static/common/lib/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js" th:src="@{/common/lib/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js}" type="text/javascript"></script><!-- LayerSlider script files -->
      <script src="../static/common/lib/frontend/pages/scripts/layerslider-init.js" th:src="@{/common/lib/frontend/pages/scripts/layerslider-init.js}" type="text/javascript"></script>
      <!-- END LayerSlider -->

    
      <script src="../static/common/lib/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" th:src="@{/common/lib/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js}" type="text/javascript"></script> 
      <script src="../static/common/lib/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" th:src="@{/common/lib/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js}" type="text/javascript"></script> 
      <script src="../static/common/lib/frontend/pages/scripts/revo-slider-init.js" th:src="@{/common/lib/frontend/pages/scripts/revo-slider-init.js}" type="text/javascript"></script>
      <!-- END RevolutionSlider -->
  <script src="../static/common/lib/global/plugins/uniform/jquery.uniform.min.js" th:src="@{/common/lib/global/plugins/uniform/jquery.uniform.min.js}"  type="text/javascript"></script>





      <script src="../static/common/lib/frontend/layout/scripts/layout.js" th:src="@{/common/lib/frontend/layout/scripts/layout.js}" type="text/javascript"></script>
      <script type="text/javascript">
          jQuery(document).ready(function() {
              Layout.init();    
              Layout.initOWL();

              LayersliderInit.initLayerSlider();
              RevosliderInit.initRevoSlider();
              Layout.initImageZoom();
              Layout.initTouchspin();
              Layout.initTwitter();
               Layout.initUniform();
          });
      </script>
      <!-- END PAGE LEVEL JAVASCRIPTS -->
  </body>
  <!-- END BODY -->
  </html>