<ion-view>
<ion-content>
  <ion-list>
    <th:block th:each="subOrder:${subOrders}" th:if="${subOrder.timings}">
      <input type="hidden" th:attr="ng-init='setOrderData(\''+${subOrder.id}+'\',\''+${subOrder.subOrderCode}+'\',\''+${subOrder.subOrderStatus}+'\',\''+${subOrder.subOrderTotalPrice}+'\',\''+${subOrder.timings.startTime}+'\',\''+${subOrder.timings.endTime}+'\',\''+${subOrder.timings.timingName}+'\',\''+${subOrder.subOrderDeliveryTime}+'\',\''+${#dates.format(subOrder.subOrderDeliveryDate, 'dd-MMM-yyyy')}+'\')'" />
      <th:block th:each="orderItem:${subOrder.orderItems}">
        <input type="hidden" th:attr="ng-init='setOrderItemsData(\''+${subOrder.id}+'\',\''+${subOrder.subOrderCode}+'\',\''+${orderItem.sellerItem.item.itemName}+'\',\''+${orderItem.id}+'\',\''+${orderItem.units}+'\')'" />
      </th:block>
    </th:block>
    <th:block th:each="subOrder:${subOrders}" th:unless="${subOrder.timings}">
      <input type="hidden" th:attr="ng-init='setOrderData(\''+${subOrder.id}+'\',\''+${subOrder.subOrderCode}+'\',\''+${subOrder.subOrderStatus}+'\',\''+${subOrder.subOrderTotalPrice}+'\',\'N/A\',\'N/A\',\'N/A\',\''+${subOrder.subOrderDeliveryTime}+'\',\''+${#dates.format(subOrder.subOrderDeliveryDate, 'dd-MMM-yyyy')}+'\')'" />
      <th:block th:each="orderItem:${subOrder.orderItems}">
        <input type="hidden" th:attr="ng-init='setOrderItemsData(\''+${subOrder.id}+'\',\''+${subOrder.subOrderCode}+'\',\''+${orderItem.sellerItem.item.itemName}+'\',\''+${orderItem.id}+'\',\''+${orderItem.units}+'\',\''+${orderItem.sellerItem.measurementUnit}+'\')'" />
      </th:block>
    </th:block>
    <!-- <p class="text-center" style="color:#F27028">Pending Orders</p> -->
    <!-- <ion-item ng-repeat="subOrder in orderData track by $index" class="order-item animated bounceInLeft" ng-if="subOrder.subOrderStatus == 'PLACED' " ng-click='toggleGroup(subOrder.id)' on-swipe-right="onSwipeRight()">
      <div class="row no-padding">
        <span class="col col-50" style="color: #908282;font-size: 16px;" ng-class='{active: isGroupShown(subOrder.id)}'>
                {{subOrder.subOrderCode}} <span style="font-size: 10px;">({{subOrder.orderItems.length}})</span>
        </span>
        <span class="col col-25"  style="font-size: 12px;color: #4CAF50;">
          <i class="ion ion-clock"></i> {{subOrder.subOrderDeliveryTime}}
        </span>
        <span class="col col-25"  style="font-size: 12px;color: #607D8B;">
          <i class="fa fa-rupee"></i> {{subOrder.subOrderTotalPrice}} <i class="ion pull-right" ng-class="isGroupShown(subOrder.id) ? 'ion-android-more-vertical' : 'ion-android-more-horizontal'"></i>
        </span>
      </div>
      <div class="item-accordion" style="" ng-show='isGroupShown(subOrder.id)'>
        <div class="accordion-toggle no-padding" style="font-size:14px;" >
          <div class="padding-left row" ng-repeat="orderItem in subOrder.orderItems" >
            <div style="col-50 item-color">
              {{orderItem.itemName}}
            </div>
            <div class="col-50 units">
                <span style="margin-left:4px;">{{orderItem.units}} {{orderItem.measurementUnit}}</span>
            </div>
          </div>
        </div>
        <div class="row no-padding" style="margin-top:3px;border-top:1px solid #DFDFDF;">
          <button class="button button-small col col-10 col-offset-20 button-red" ng-click="declineOrder(subOrder.id,'DECLINE')"><i class="ion ion-ios-trash-outline"></i>
          </button>
          <button class="button button-small button-round col col-10 col-offset-33 button-green" ng-click="confirmOrder(subOrder.id,'CONFIRMED')"><i class="ion ion-checkmark-round"></i></button>
        </div>
      </div>
    </ion-item> -->


    <div ng-repeat="subOrder in orderData" class="card order-item animated bounceInLeft" ng-if="subOrder.subOrderStatus == 'PLACED' ">
      <div class="item item-divider" style="background-color:#FFFFFF;padding: 5px;">
        <div class="row" style="color: #CCCBCB;padding:0px;">
          <div class="col col-50 font-size">Delivery Time</div>
          <div class="col col-50 font-size" style="text-align: right;">Order No</div>
        </div>
        <div class="row" style="padding:0px;">
          <span class="col col-50" style="font-size: 12px;color: #4CAF50;">
            {{subOrder.subOrderDeliveryDate}} {{subOrder.subOrderDeliveryTime}}
          </span>
          <div class="col col-50 font-size" style="text-align: right;color: #4CAF50;">
            {{subOrder.subOrderCode}} 
            <!-- <span style="font-size: 10px;">({{subOrder.orderItems.length}})</span> -->
          </div>
        </div>
      </div>
      <div class="item item-text-wrap" style="padding: 5px;">
        <!-- <div class="row" style="color: #CCCBCB;padding:0px;">
          <div class="col col-50" style="font-size:12px;">Items</div>
          <div class="col col-50" style="text-align: right;font-size:12px;">Weight</div>
        </div> -->
        <div class="row font-12" ng-repeat="orderItem in subOrder.orderItems">
          <div class="col-50 item-color order-item">
            {{orderItem.itemName}}
          </div>
          <div class="col-50">
            <span class="pull-right">{{orderItem.units}} {{orderItem.measurementUnit}}</span>
          </div>
        </div>
        <!-- <div class="row font-12" ng-repeat="orderItem in subOrder.orderItems">
          <div class="col-50 item-color order-item">
            {{orderItem.itemName}}
          </div>
          <div class="col-50 units">
            <span class="pull-right">{{orderItem.units}} {{orderItem.measurementUnit}}</span>
          </div>
        </div> -->
      </div>
      <div class="item item-divider" style="background-color:#FFFFFF;padding: 5px;">
        <div class="row">
          <!-- <a class="col-50 font-12" href="#/start/singleOrder/{{subOrder.id}}">MORE DETAILS</a> -->
          <a class="col-50 font-12" ng-click="singleOrder(subOrder.id)">MORE DETAILS</a>
          <div class="font-size col-50" style="text-align: right;color:#F44336">
            <i class="fa fa-rupee"></i> {{subOrder.subOrderTotalPrice | number}}
          </div>
        </div>
      </div>
    </div>

    <div ng-show="!orderData.length" class="text-center">
        No Pending Orders 
      </div>



  </ion-list>
</ion-content>
</ion-view>
<style type="text/css">
    a{
      text-decoration: none;
    }
    .font-size{
      font-size: 14px;
    }
    .font-12{
      font-size: 12px;
    }
   </style>

   