<ion-view view="" hide-nav-bar="true" hide-back-button="true" title="Login">
	<ion-content has-header="true" scroll="false" style="background-color: #FFFFFF;">
		<div class="container-fluid" style="" ng-controller="loginController">
			<div class="first-Pag col-xs-12">
				<div class="">
					<div class="center_logo">
						<a><img src="img/Login2.PNG" style="width:100%;" /></a>
						<!-- <i class="ion ion-fork" style="font-size: 60px;"></i>
						<i class="ion ion-android-restaurant" style="font-size: 60px;"></i>
						<i class="ion ion-spoon" style="font-size: 60px;"></i> -->
						<div class="">
							<!-- <form role="form" method="post" action="http://192.168.0.72:8082/login"> -->
							<form role="form" method="post">
								<!-- <div class="form-group"> -->
									<div class="item item-input" style="background-color: rgba(255, 255, 255, 0);">
										<i class="icon ion-ios-person placeholder-icon"></i>
										<input type="email" class="form-control" name="username" id="username" placeholder="Email or Phone Number" autofocus="" />
									</div>
								<!-- </div> -->
								<!-- <div class="form-group"> -->
									<div class="item item-input" style="background-color: rgba(255, 255, 255, 0);">
										<i class="icon ion-ios-locked-outline placeholder-icon"></i>
										<input type="password" class="form-control" name="password" id="password" placeholder="Passsword"/>
									</div>
								<!-- </div> -->
								<!-- <div class="checkbox">
									<label><input type="checkbox"> Remember me</label>
								</div> -->
								<!-- <input type="submit" value="Login In" id="loginform" /> -->
								 <div class="form-group" style="margin-top: 10px;">
								<a href="#/start/home" class="button button-outline button-block button-assertive">
									<span>Log In</span>
								</a>
								<!-- <a href="#/start/orders" class="button-color title" ><i class="ion ion-edit"></i> <span>Sign Up</span>  </a> -->

								<!-- <a ng-click="login()" class="button button-outline button-block button-assertive">
									Log In  
								</a> -->
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div><!-- .container -->
	</ion-content>
</ion-view>
<style type="text/css">
	.form-group{
		padding: 5px 20px;
	}
		.form-group input {
			padding-left: 15px;
			height: 40px;
			/*background: rgba(255,255,255,0.3);*/
			box-shadow: none;
			border-bottom: 1px solid #fff;
			border-radius: 0;
	}
	input[type="email"] , input[type="password"]{
		/*color: #FFFFFF !important;*/
		text-align: center;
	}
.center_logo {
    margin-top: 0% !important;
    font-family: cursive;
    font-weight: 800;
    color: #B57878;
    text-align: center;
}
	
</style>