<ion-content>
	<div class="list">
    <div class="card">
      <div class="item item-thumbnail-left">
        <img src="img/chicken.png" style="margin-top: 13px;">
      	<p><b>Chicken Boneless</b></p>
      	<p>by Suguna</p>
    		<div class="col col-50">
  				<label class="item item-input  input_qty">
    				<input type="number" placeholder="Qty" style="padding-right: 0px;" />
  				</label>
  			</div>
      </div>   
      <div class="col b-b" style="font-weight:600;">
        <div class="text-center">Rs 150</div>
      </div>
      <div class="row">
        <div class="col col-33"><p>Delivery:</p></div>
        <div class="col col-66"><span>Free</span>
        <p style="font-size: 11px;">Standard delivered By April 6</p>
        </div>
      </div>
      <div class="row b-b">
        <div class="col col-33"><p>Total:</p></div>
        <div class="col col-66"><p>Rs 150</p></div>
      </div>
      <div class="row" style="padding: 4px;">
        <div class="col col-50" style="border-right: 1px solid #DFDFDF;">
          <button class="ion-trash-a button button-small button-light" style="padding: 2px 25px 1px;"> Remove</button>
        </div>
        <div class="col col-50">
          <button class="ion-heart button button-small button-light" style="padding: 2px 25px 1px;"> Add Wishlist</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-thumbnail-left">
        <img src="img/chillichicken.png" style="margin-top: 13px;">
        <p><b>Chicken Boneless</b></p>
        <p>by Suguna</p>
        <div class="col col-50">
          <label class="item item-input input_qty">
            <input type="number" placeholder="Qty" style="padding-right: 0px;" />
          </label>
        </div>
      </div>   
      <div class="col b-b" style="font-weight: 600;">
        <div class="text-center">Rs 200</div>
      </div>
      <div class="row">
        <div class="col col-33"><p>Delivery:</p></div>
        <div class="col col-66"><span>40</span>
          <p style="font-size: 11px;">Standard delivered By April 6</p>
        </div>
      </div>
      <div class="row b-b">
        <div class="col col-33"><p>Total:</p></div>
        <div class="col col-66"><p>Rs 240</p></div>
      </div>
      <div class="row" style="padding: 4px;">
        <div class="col col-50" style="border-right: 1px solid #DFDFDF;">
          <button class="ion-trash-a button button-small button-light" style="padding: 2px 25px 1px;"> Remove</button>
        </div>
        <div class="col col-50">
          <button class="ion-heart button button-small button-light" style="padding: 2px 25px 1px;"> Add Wishlist</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-thumbnail-left">
        <img src="img/mutton.png" style="margin-top: 13px;">
        <p><b>Chicken Boneless</b></p>
        <p>by Suguna</p>
        <div class="col col-50">
          <label class="item item-input input_qty">
            <input type="number" placeholder="Qty" style="padding-right: 0px;" />
          </label>
        </div>
     </div>   
     <div class="col b-b" style="font-weight: 600;">
        <div class="text-center">Rs 300</div>
     </div>
        <div class="row">
          <div class="col col-33"><p>Delivery:</p></div>
          <div class="col col-66"><span>55</span>
            <p style="font-size: 11px;">Standard delivered By April 6</p>
          </div>
        </div>
        <div class="row b-b">
          <div class="col col-33"><p>Total:</p></div>
          <div class="col col-66"><p>Rs 355</p></div>
        </div>
        <div class="row" style="padding: 4px;">
          <div class="col col-50" style="border-right: 1px solid #DFDFDF;">
            <button class="ion-trash-a button button-small button-light" style="padding: 2px 25px 1px;"> Remove</button>
          </div>
          <div class="col col-50">
            <button class="ion-heart button button-small button-light" style="padding: 2px 25px 1px;"> Add Wishlist</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="item item-thumbnail-left">
          <img src="img/prawns.png" style="margin-top: 13px;">
          <p><b>Chicken Boneless</b></p>
          <p>by Suguna</p>
          <div class="col col-50">
            <label class="item item-input input_qty">
              <input type="number" placeholder="Qty" style="padding-right: 0px;" />
            </label>
          </div>
        </div>   
        <div class="col b-b" style="font-weight: 600;">
          <div class="text-center">Rs 180</div>
        </div>
        <div class="row">
          <div class="col col-33"><p>Delivery:</p></div>
          <div class="col col-66"><span>Free</span>
            <p style="font-size: 11px;">Standard delivered By April 6</p>
          </div>
        </div>
        <div class="row b-b">
          <div class="col col-33"><p>Total:</p></div>
          <div class="col col-66"><p>Rs 180</p></div>
        </div>
        <div class="row" style="padding: 4px;">
          <div class="col col-50" style="border-right: 1px solid #DFDFDF;">
            <button class="ion-trash-a button button-small button-light" style="padding: 2px 25px 1px;"> <span>Remove</span></button>
          </div>
          <div class="col col-50">
            <button class="ion-heart button button-small button-light" style="padding: 2px 25px 1px;"> <span>Add Wishlist</span></button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar style="height: 60px;">
    <div class="col col-30">
      <a ui-sref="app.checkout" style="text-decoration: blink;"><button class="button button-balanced button-small" style="width:150px;">
      Proceed To Checkout
      </button></a>
    </div>
    <div class="col col-70">
      <b>Total:</b>
      <span style="float:right">Rs 925.00</span>
    </div>
  </ion-footer-bar>

<style>
	.input_qty {
    padding: 0px;
    border:1px solid #DFDFDF;
    -webkit-box-shadow: 1px 1px 6px 1px rgba(82,76,82,0.75);
-moz-box-shadow: 1px 1px 6px 1px rgba(82,76,82,0.75);
box-shadow: 1px 1px 6px 1px rgba(82,76,82,0.75);
}
	.item-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 6px 0 5px 16px;
    background-color: white;
    height: 30px;
}
.inline {
    width: 370px;
    margin-top: 35px;
    margin-left: -107px;
}
.ion-close-circled {
        color: #e42112;
    font-size: x-large;
    float: right;
    margin-top: -23px;
    margin-left:40px;
    padding-right: 25px;
}
.icon_compose {
    font-size: x-large;
    float: right;
    margin-top: -23px;
}
.price_item{
    float: left;
    margin-top: 5px;
}
</style>