<div class="bg-success col-lg-12 col-md-12 col-sm-12 h6 parallax_img" th:fragment="BottomParallaxFragment" style="height:250px">
   <div class="easing_effect" style="text-align: center;margin-top: 92px; color:#fff;">
                  <h2 class="decorated"><span>Foodiesh</span></h2>
<p class="container h6">The food that is served meets the highest standards for nutritional content; it is prepared by experienced and trained chefs that have achieved a journey cook status or have had years of experience to prepare quality food and there is a dedicated focus upon the dietary requirements of each patient. The fact that pizza, burgers, and fries are not regularly on the menu is reflective of a desire to model nutritional eating towards a healthier lifestyle.</p>
                  <a class="btn_white" href="#">Buy Now <i class="fa fa-angle-right"></i></a>
                </div>
    </div>