<div class="row" th:fragment="CategoryThumbnailFragment">
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="../static/common/lib/frontend/pages/img/FoodImages/cate_small/s12.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/cate_small/s12.jpg}" alt="..."/>
      <div class="caption">
        <h6>Thumbnail label</h6>
        <!-- <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="../static/common/lib/frontend/pages/img/FoodImages/cate_small/s11.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/cate_small/s11.jpg}" alt="puma"/>
      <div class="caption">
        <h6>Thumbnail label</h6>
        <!-- <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="../static/common/lib/frontend/pages/img/FoodImages/cate_small/s7.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/cate_small/s7.jpg}" alt="..."/>
      <div class="caption">
        <h6>Thumbnail label</h6>
        <!-- <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="../static/common/lib/frontend/pages/img/FoodImages/cate_small/s10.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/cate_small/s10.jpg}" alt="..."/>
      <div class="caption">
        <h6>Thumbnail label</h6>
        <!-- <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
     <img src="../static/common/lib/frontend/pages/img/FoodImages/cate_small/s12.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/cate_small/s12.jpg}" alt="..."/>
      <div class="caption">
        <h6>Thumbnail label</h6>
        <!-- <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="../static/common/lib/frontend/pages/img/FoodImages/cate_small/s7.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/cate_small/s7.jpg}" alt="gap"/>
      <div class="caption">
        <h6>Thumbnail label</h6>
        <!-- <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
</div>