

<form data-toggle="validator" role="form" class="user-chgpwd chgpwd form-group" ng-controller="MyAccountController">
 	<div class="form-group col-lg-4">
	<label for="currentPassword" class="control-label">Current Password <sup>*</sup></label>
	<input type="password" class="input-text form-control input-sm" placeholder="current password" ng-model="chgpwd.password" name="" data-minlength="6" required="required" />
	 
	</div>
<div class="clearfix"></div>
	<div class="form-group col-lg-4">
									<label for="newPassword">New Password <sup>*</sup></label>
										<input type="password" class="form-control input-text input-sm" ng-model="chgpwd.newPassword" id="newPassword" placeholder="new password" data-minlength="6" name="newPassword" required="required"  />
									 <span class="help-block">i.e,Minimum of 6 characters</span>
									</div>
<div class="clearfix"></div>
	<div class="form-group col-lg-4">
										<label for="confirmPassword">Confirm Password <sup>*</sup></label>
					<input type="password" class="form-control input-text input-sm" ng-model="chgpwd.confirmPassword" id="confirmPassword"  placeholder="confirm password" data-match="#newPassword" data-match-error="Whoops, these don't match"  name="confirmPassword" required="required"  />
										  <div class="help-block with-errors"></div>
									</div>

<div class="clearfix"></div>
  
  <div class="form-group col-lg-4">
  	<button type="submit" class="btn btn-main button" name="chgpwd" ng-click="changePassword(chgpwd)" value="chgpwd">Submit</button>
  </div>
</form>