<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" width="500px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="display:inline">&times;</button>
        <h4 class="modal-title" style="display:inline; font-weight:bold;">Edit the shipping address</h4>
      </div>
      <div class="modal-body" style="padding: 20px 70px 0px 70px;">
        <form class="form-horizontal" role="form" style="padding:20px; overflow:hidden;">
         
          <div class="form-group">
           <label class="control-label col-sm-3">Pin code:</label>
            <div class="col-sm-9"> 
             <input type="text" ng-model="selectedAddress.zipcode" class="form-control" placeholder="pincode"/>
            </div>
          </div>
         
  <div class="form-group">
           <label class="control-label col-sm-3">Contact Person Name</label>
            <div class="col-sm-9"> 
             <input type="text" ng-model="selectedAddress.contactPerson" class="form-control" placeholder="Contact Person Name"/>
            </div>
          </div>

          <div class="form-group">
           <label class="control-label col-sm-3">LineNo</label>
            <div class="col-sm-9"> 
             <input type="text" ng-model="selectedAddress.line1" class="form-control" placeholder="lineNo"/>
            </div>
          </div>
          
          <div class="form-group">
           <label class="control-label col-sm-3">City</label>
            <div class="col-sm-9"> 
             <input type="text" ng-model="selectedAddress.city" class="form-control" placeholder="City"/>
            </div>
          </div>
            <div class="form-group">
           <label class="control-label col-sm-3"> Area </label>
            <div class="col-sm-9"> 
             <select ng-model="selectedAddress.area" class="form-control"> <option th:each="area:${zoneAreas}" th:value="${area.area}" th:text="${area.area}"></option></select>
            </div>
          </div>
           <div class="form-group">
           <label class="control-label col-sm-3">Town</label>
            <div class="col-sm-9"> 
             <input type="text" ng-model="selectedAddress.town" class="form-control" placeholder="Town"/>
            </div>
          </div>
        
           <div class="form-group">
           <label class="control-label col-sm-3">District</label>
            <div class="col-sm-9"> 
             <input type="text" ng-model="selectedAddress.district" class="form-control" placeholder="District"/>
            </div>
          </div>
          <div class="form-group">
           <label class="control-label col-sm-3">State</label>
            <div class="col-sm-9"> 
             <input type="tex" class="form-control" ng-model="selectedAddress.state"  placeholder="State"/>
            </div>
          </div>
          <div class="form-group">
           <label class="control-label col-sm-3">Phone</label>
            <div class="col-sm-9"> 
             <input type="tex" class="form-control" ng-model="selectedAddress.mobileNo" placeholder="Phone"/>
            </div>
          </div>
  <div class="form-group"> 
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" ng-click="saveAddress(selectedAddress)" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>