<!-- <footer class="footer4">
		
	<section class="f-block footer-bottom-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 coloredIcon">
					        	
 
            <h3>Follow Us</h3>
            <ul class="mdl-social">
                               <li class="facebook"><a title="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            
                               <li class="twitter"><a title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            
                               <li class="google-plus"><a title="google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                            
                               <li class="youtube"><a title="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                            
                               <li class="pinterest"><a title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                            
                                <li class="linkedin"><a title="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            
                            
                               <li class="rss"><a title="rss" href="#"><i class="fa fa-rss"></i></a></li>
                            
                               <li class="tumblr"><a title="tumblr" href="#"><i class="fa fa-tumblr"></i></a></li> 
                
            </ul>
				</div>
				<div class="col-sm-8">
					<form action="http://koolthememaster.biz/famous/furniture/index.php/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
    <div class="form-subscribe">
    	<h3><span>Newsletter Signup</span></h3>
        <div class="msg-block">
			<div class="input-newsletter"><input type="text" name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email" /></div>
			<button type="submit" title="Submit" class="button-newsletter">
				<span><span><i class="fa fa-envelope-o"></i></span></span>
			</button>
		</div>
    </div>
</form>

				</div>
			</div>
		</div>
	</section>
	
	<section class="f-block footer-wrapper-top">
		<div class="container">
			<div class="areaBox f-block">
				<div class="row">
					
					<ul class="uspBox">
						<li>
							<i class="fa fa-money"></i>
							<h3>Great Value</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue non semper lectus lacinia.</p>
						</li>
						<li>
							<i class="fa fa-bus"></i>
							<h3>Worldwide Delivery</h3>
							<p>Donec pharetra felis quis tellus porta iaculis. Quisque ut placerat sapien  non semper lectus lacinia.</p>
						</li>
						<li>
							<i class="fa fa-credit-card"></i>
							<h3>Safe Payment</h3>
							<p>Integer vitae congue nibh. Ut luctus dolor neque, eu pellentesque erat elementum  non semper lectus lacinia.</p>
						</li>
						<li>
							<i class="fa fa-thumbs-up"></i>
							<h3>Shop with Confidence</h3>
							<p>Duis mattis lectus eu ipsum sagittis, non semper lectus lacinia. Nulla accumsan neque id leo dignissim</p>
						</li>
						<li>
							<i class="fa fa-users"></i>
							<h3>24/7 Help Center</h3>
							<p>Suspendisse rutrum, nulla nec ultricies tristique, odio ante rhoncus nulla  non semper lectus lacinia.</p>
						</li>
					</ul>
								</div>
			</div>
		</div>
	</section>
	

	<section class="f-block footer-wrapper">
		<div class="container">
			<div class="f-block">
				<div class="row">
					
					<div class="links col-sm-20">
						<h3>Information</h3>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">New products</a></li>
						</ul>
					</div>

					<div class="links col-sm-20">
						<h3>Customer Service</h3>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Returns</a></li>
						</ul>
					</div>

					<div class="links col-sm-20">
						<h3>Extras</h3>
						<ul>
							<li><a href="#">Brands</a></li>
							<li><a href="#">Affiliates</a></li>
						</ul>
					</div>


					<div class="links col-sm-20">
						<h3>My Account</h3>
						<ul>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order History</a></li>
						</ul>
					</div>    
						

					<div class="links col-sm-20">
						<h3>Contact</h3>
						<ul>
							<li>2506 SARYOBA ROAD</li>
							<li><a href="#">info@menzshop.com</a></li>
						</ul>
					</div> 
								</div>
			</div>
		</div>
	</section>

	
	<div class="copyrightBox f-block">
		<div class="container">
			<p class="copyText">© 2015 Magento Demo Store. All Rights Reserved.</p>
			
					<div class="media-payment"><img alt="" src="http://koolthememaster.biz/famous/skin/frontend/ktm/default/images/payment.png" /></div>
						</div>
	</div>	
	<div id="back-top" class="goTop" style="display: block;"><a href="javascript:void(0);"><i class="fa fa-angle-up"></i></a></div>
	</footer> -->

	<footer class="footer4" ng-controller="FooterController">
<section class="f-block footer-bottom-wrapper footer-news">
		<div class="container">
			<div class="row">
				<div id="back-top" class="goTop"  style="display: block;"><a ng-click="scrollTop($event)"><i class="fa fa-angle-up"></i></a></div>
			<!-- 	<div class="col-sm-4 coloredIcon">
					        	
 
            <h3>Follow Us</h3>
            <ul class="mdl-social">
                               <li class="facebook"><a title="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            
                               <li class="twitter"><a title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            
                               <li class="google-plus"><a title="google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                            
                               <li class="youtube"><a title="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                            
                               <li class="pinterest"><a title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                            
                                <li class="linkedin"><a title="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            
                            
                               <li class="rss"><a title="rss" href="#"><i class="fa fa-rss"></i></a></li>
                            
                               <li class="tumblr"><a title="tumblr" href="#"><i class="fa fa-tumblr"></i></a></li> 
                
            </ul>
				</div> -->
				<div class="col-sm-4 coloredIcon">
					        	
 
            <h3>Follow Us</h3>
            <ul class="mdl-social">
                               <li class="facebook"><a title="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            
                               <li class="twitter"><a title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            
                               <li class="google-plus"><a title="google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                            
                               <li class="youtube"><a title="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                            
                               <li class="pinterest"><a title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                            
                                <li class="linkedin"><a title="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            
                            
                               <li class="rss"><a title="rss" href="#"><i class="fa fa-rss"></i></a></li>
                            
                               <li class="tumblr"><a title="tumblr" href="#"><i class="fa fa-tumblr"></i></a></li> 
                
            </ul>
				</div>
				<div class="col-sm-8">
					<form id="newsletter-validate-detail">
    <div class="form-subscribe">
    	<h3><strong>Newsletter Signup</strong></h3>
        <div class="msg-block">
			<div class="input-newsletter">
			<input type="email" name="emailId" id="emailId" ng-model="news['properties'].userEmail" title="Sign up for our newsletter" class="input-text required-entry validate-email" required="required"/></div>
			<button title="Submit" ng-click="getSubcribeWithUs(news)" class="button-newsletter">
				<span><span><i class="fa fa-envelope-o"></i></span></span>
			</button>
		</div>
    </div>
</form>

				</div>
				
			</div>
		</div>
	</section>
	<section class="f-block footer-wrapper-top">
		<div class="container">
			<div class="areaBox f-block">
				<div class="row">
					
					<ul class="uspBox">
						<li>
							<i class="fa fa-money"></i>
							<h3 class="one-b">Great Value</h3>
							<p>Lorem ipsum dolor</p>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur</p> -->
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue non semper lectus lacinia.</p> -->
						</li>
						<!-- <li>
							<i class="fa fa-bus"></i>
							<h3>Worldwide Delivery</h3>
							<p>Donec pharetra felis quis tellus porta iaculis. Quisque ut placerat sapien  non semper lectus lacinia.</p>
						</li> -->
						<li>
							
							<i class="fa fa-credit-card"></i>
							<!-- <div class="footer-fea"> -->
							<h3 class="two-b">Safe Payment</h3>
							<p>Lorem ipsum dolor</p>
							<!-- </div> -->
							<!-- <p>Lorem ipsum dolor sit amet, consectetur</p> -->
							<!-- <p>Integer vitae congue nibh. Ut luctus dolor neque, eu pellentesque erat elementum  non semper lectus lacinia.</p> -->
						</li>
						<li>
							<i class="fa fa-thumbs-up"></i>
							<h3 class="three-b">Shop with Confidence</h3>
							<p>Lorem ipsum dolor</p>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur</p> -->
							<!-- <p>Duis mattis lectus eu ipsum sagittis, non semper lectus lacinia. Nulla accumsan neque id leo dignissim</p> -->
						</li>
						<li class="helpCenter">
							<i class="fa fa-users"></i>
							<h3 class="four-b">24/7 Help Center</h3>
							<p>Lorem ipsum dolor</p>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur</p> -->
							<!-- <p>Suspendisse rutrum, nulla nec ultricies tristique, odio ante rhoncus nulla  non semper lectus lacinia.</p> -->
						</li>
					</ul>
								</div>
			</div>
		</div>
	</section>
<section class="f-block footer-wrapper">
		<div class="container">
			<div class="f-block">
				<div class="row">
					
					<div class="links col-sm-20">
						<h3>Information</h3>
						<ul>
							<li>
								<a  th:href="@{/about-us}">About Us</a>
							</li>
							<li><a href="#">New products</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">New products</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">New products</a></li>
						</ul>
					</div>

					<div class="links col-sm-20">
						<h3>Service</h3>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">New products</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">New products</a></li>
						</ul>
					</div>

					<!-- <div class="links col-sm-20">
						<h3>Extras</h3>
						<ul>
							<li><a href="#">Brands</a></li>
							<li><a href="#">Affiliates</a></li>
						</ul>
					</div> -->


					<div class="links col-sm-20">
						<h3>My Account</h3>
						<ul>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">New products</a></li><li><a href="#">About Us</a></li>
							<li><a href="#">New products</a></li>
						</ul>
					</div>    
						

					<div class="links col-sm-20 helpCenter" >
						<h3>Contact Us</h3>
						<ul>
							<li>2506 SARYOBA ROAD</li>
							<li><a href="#">info@menzshop.com</a></li>
							<li><i class="fa fa-check"></i><a>507-Union Trade Centre, Beside Apple Hospital, Udhana Darwaja, Ring Road, Surat, India</a></li>
							<li><a href="#">9014553534</a></li>
							<li><a href="#">info@buynonveg.com</a></li>
							
						</ul>
					</div> 
								</div>
			</div>
		</div>
	</section>


<div class="copyrightBox f-block">

		<div class="container ">
		<div class="col-sm-4 coloredIcon"></div>
			<p class="copyText pull-left pdt20">© 2016 All Rights Reserved By Arthvedi Info Pvt Ltd.</p>
			
					<div class="col-sm-4 text-right"><img alt="" src="/common/img/home/img/meat_logo1.png" /></div>
						</div>
	</div>	
	




	</footer>