<div class="slider-container">                <!-- BEGIN FLEXSLIDER SLIDER -->
      <div id="slider-1" class="slider banners swiper_container masterslider ms-skin-default post-1986 page type-page status-publish hentry" style="height: 400px;" data-autoplay="yes" data-interval="3000" data-height="400">

          <div class="swiper-wrapper" style="padding-left: 0px; padding-right: 0px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); transition-duration: 0s; -webkit-transition-duration: 0s; width: 2294px; height: 400px;">

        
        
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-big swiper-slide-visible swiper-slide-active" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="392" height="525" src="../static/images/slide1.jpg" th:src="@{/images/slide1.jpg}" class="attachment-full wp-post-image" alt="slider-4"/></a>
                <div class="slide-text border bottom">
                  <h4>Exclusive from Designer</h4>
                  <h3>LIVING ROOM</h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-small swiper-slide-visible" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="225" height="255" src="../static/images/slide2.jpg" th:src="@{/images/slide2.jpg}" class="attachment-full wp-post-image" alt="slider-3b"/></a>
                <div class="slide-text center" style="position: absolute; height: 69px; top: 50%; margin-top: -34.5px; zoom: 1;">
                  <h4>TURN ON</h4>
                  <h3> THE LIGHTS</h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="225" height="254" src="../static/images/slide5.jpg" th:src="@{/images/slide5.jpg}" class="attachment-full wp-post-image" alt="slider-2"/></a>
                <div class="slide-text center" style="position: absolute; height: 26px; top: 50%; margin-top: -13px; zoom: 1;">
                  <h4></h4>
                  <h3></h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-big swiper-slide-visible" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="392" height="525" src="../static/images/slide8.jpg" th:src="@{/images/slide8.jpg}" class="attachment-full wp-post-image" alt="slider-1"/></a>
                <div class="slide-text center" style="position: absolute; height: 69px; top: 50%; margin-top: -34.5px; zoom: 1;">
                  <h4>Fashion Week</h4>
                  <h3>READY TO WEAR</h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-small swiper-slide-visible" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="584" height="700" src="../static/images/slide3.jpg" th:src="@{/images/slide3.jpg}" class="attachment-full wp-post-image" alt="marmellate"/></a>
                <div class="slide-text center" style="position: absolute; height: 26px; top: 50%; margin-top: -13px; zoom: 1;">
                  <h4></h4>
                  <h3></h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="225" height="270" src="../static/images/slide11.jpg" th:src="@{/images/slide11.jpg}" class="attachment-full wp-post-image" alt="luxurr"/></a>
                <div class="slide-text center" style="position: absolute; height: 26px; top: 50%; margin-top: -13px; zoom: 1;">
                  <h4></h4>
                  <h3></h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-small swiper-slide-visible" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="392" height="525" src="../static/images/slide15.jpg" th:src="@{/images/slide15.jpg}" class="attachment-full wp-post-image" alt="big"/></a>
                <div class="slide-text center" style="position: absolute; height: 26px; top: 50%; margin-top: -13px; zoom: 1;">
                  <h4></h4>
                  <h3></h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="225" height="270" src="../static/images/slide13.jpg" th:src="@{/images/slide13.jpg}"  class="attachment-full wp-post-image" alt="23"/></a>
                <div class="slide-text border center" style="position: absolute; height: 39px; top: 50%; margin-top: -19.5px; zoom: 1;">
                  <h4>THE FINAL TOUCH</h4>
                  <h3></h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-big" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="392" height="525" src="../static/images/slide9.jpg" th:src="@{/images/slide9.jpg}" class="attachment-full wp-post-image" alt="wom"/></a>
                <div class="slide-text top">
                  <h4>NEW ARRIVALS</h4>
                  <h3>560 ACCESSORIES</h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
        
                    </div>
          </div>
          <!-- END SLIDE -->
          
          <!-- START SLIDE -->
          <div class="swiper-slide swiper-slide-big" style="height: 400px;">
            <div class="slide-inner">

        
              <div class="slide-wrapper">
                <a href="/Items/Biryanis"><img width="392" height="525" src="../static/images/slide10.jpg" th:src="@{/images/slide10.jpg}" class="attachment-full wp-post-image" alt="slider-11"/></a>
                <div class="slide-text border center" style="position: absolute; height: 71px; top: 50%; margin-top: -35.5px; zoom: 1;">
                  <h4>NEW LOOK</h4>
                  <h3>COUNTRY STYLE</h3>
                </div>
                <a href="/Items/Biryanis" class="slide-link"></a>           </div>

          
        
            </div>
          </div>
          <!-- END SLIDE -->

          </div>

                  <a href="#" class="prev">Previous</a>
          <a href="#" class="next">Next</a>
          
      </div>


      <!-- END SLIDER -->

    
  </div>