<div class="sidebar col-md-3 col-sm-4">
      <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/b4.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/b4.jpg}"  class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/b4.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/b4.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="Items/Biryanis" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <!-- <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a> -->
                    <div class="sticker sticker-new"></div>
                  </div>
            </div>
            <!-- BEGIN CONTENT -->
            <div class="col-md-6 col-sm-8">
              <h2 class="nav nav-tabs">Featured Categories</h2>
              <div class="owl-carousel owl-carousel3">
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="Items/Biryanis" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                    <div class="sticker sticker-new">
                    
                    </div>

                  </div>

                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="Items/Biryanis" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png}" class="img-responsive"  alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="Items/Biryanis" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png}" class="img-responsive" alt="Berry Lace Dress" />
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel2_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="Items/Biryanis" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress4</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                    <div class="sticker sticker-sale"></div>
                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel3_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel3_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel3_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel3_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="Items/Biryanis" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress5</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/carosuel1_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="Items/Biryanis" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress6</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="clearfix">
                    </div>
                    <p>green salad is good for health</p>

                  </div>
                </div>
              </div>
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN SIDEBAR -->
       <div class="sidebar col-md-3 col-sm-4">
      <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="../static/common/lib/frontend/pages/img/FoodImages/b6.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/b6.jpg}" class="img-responsive" alt="Berry Lace Dress"/>
                      <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/b6.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/b6.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="Items/Biryanis" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <!-- <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a> -->
                    <div class="sticker sticker-new"></div>
                  </div>
            </div>