
                <div id="content-wrap">
    <div class="container">
        <div id="hot-categories" class="row latest-blog ">

        
             <div class="div_latest_header">
              <a href="#">
               <h2 class="latest_div">Hot Categories</h2>
               </a> 
               </div>
            
            <div class="col-xs-12 col-sm-6  col-lg-3 ">
            <div class="cate-box">
                <div class="cate-tit">
                    
                     <img src="/common/img/home/img/260x100/BoilerChicken.jpg" alt="Boiler Chicken" />
                 <!--    <div class="div-1" >
                        <div class="cate-name-wrap">
                            <p class="cate-name">Boiler Chicken</p>
                        </div>
                        
                    </div>
                    <div class="div-2">
                        <a href="#">
                            <img src="/common/img/home/img/170x140/dealitems/deal_item14.png" alt="Boiler Chicken" class="hot-cate-img img-rounded " />
                        </a>
                    </div> -->
                    
                </div>
                <div class="cate-content">
                    <ul style="display:inline-block;float:left">
                        <li><a href="#">Leg Pieces</a></li>
                        <li><a href="#">Boneless Chicken</a></li>
                        <li><a href="#">Skinless</a></li>
                        <li><a href="#">Liver Pieces</a></li>
                    </ul>
                    <div class="pull-left shop_nw">
                        <a href="" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
                    </div>
                </div>
                </div>
            </div> <!-- /.cate-box -->
            
            <div class="col-xs-12 col-sm-6  col-lg-3 ">
            <div class="cate-box">
                <div class="cate-tit">
                    <div class="div-1" >
                        <div class="cate-name-wrap">
                            <p class="cate-name">Country Chicken</p>
                        </div>
                      
                    </div>
                    <div class="div-2">
                        <a href="#">
                            <img src="/common/img/home/img/100x100/Nattukodi-Chicken.png" alt="Electronics" class="hot-cate-img img-rounded" />
                        </a>
                    </div>
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Skinless</a></li>
                        <li><a href="#">Boneless</a></li>
                        <li><a href="#">Legpieces</a></li>
                        <li><a href="#">Breast(Bones)</a></li>
                    </ul>
                    <div class="pull-left shop_nw">
                        <a href="" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
                    </div>
                </div>
                </div>
            </div> <!-- /.cate-box -->
            <div class="col-xs-12 col-sm-6  col-lg-3 ">
            <div class="cate-box">
                <div class="cate-tit">
                    <div class="div-1" >
                        <div class="cate-name-wrap">
                            <p class="cate-name">Goat Meat</p>
                        </div>
                      
                    </div>
                    <div class="div-2">
                        <a href="#">
                            <img src="/common/img/home/img/100x100/GoatMutton.png" alt="Electronics" class="hot-cate-img img-rounded" />
                        </a>
                    </div>
                    
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Mutton Bones</a></li>
                        <li><a href="#">Mutton Boneless</a></li>
                        <li><a href="#">Mutton Kheema</a></li>
                        <li><a href="#">Mutton Liver</a></li>
                    </ul>
                    <div class="pull-left shop_nw">
                        <a href="" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
                    </div>
                </div>
                </div>
            </div> <!-- /.cate-box -->
            <div class="col-xs-12 col-sm-6  col-lg-3 ">
            <div class="cate-box">
                <div class="cate-tit">
                    <div class="div-1" >
                        <div class="cate-name-wrap">
                            <p class="cate-name">Sheep Meat</p>
                        </div>
                    </div>
                    <div class="div-2">
                        <a href="#">
                            <img src="/common/img/home/img/100x100/SheepMutton.png" alt="Electronics" class="hot-cate-img img-rounded" />
                        </a>
                    </div>
                    
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Mutton Bones</a></li>
                        <li><a href="#">Mutton Boneless</a></li>
                        <li><a href="#">Mutton Liver</a></li>
                        <li><a href="#">Mutton Kheema</a></li>
                    </ul>
                    <div class="pull-left shop_nw">
                        <a href="" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
                    </div>
                </div>
                </div>
            </div> <!-- /.cate-box -->
            <div class="col-xs-12 col-sm-6  col-lg-3 ">
            <div class="cate-box">
                <div class="cate-tit">
                    <div class="div-1" >
                        <div class="cate-name-wrap">
                            <p class="cate-name">Fish</p>
                        </div>
                    </div>
                    <div class="div-2">
                        <a href="#">
                            <img src="/common/img/home/img/100x100/Fish.png" alt="Electronics" class="hot-cate-img img-rounded" />
                        </a>
                    </div>
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Boneless Fish</a></li>
                        <li><a href="#">Rohu</a></li>
                        <li><a href="#">Catla</a></li>
                        <li><a href="#">Basa</a></li>
                    </ul>
                    <div class="pull-left shop_nw">
                        <a href="" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
                    </div>
                </div>
                </div>
            </div> <!-- /.cate-box -->
            
            <div class="col-xs-12 col-sm-6  col-lg-3">
            <div class="cate-box">
                <div class="cate-tit">
                    <div class="div-1" >
                        <div class="cate-name-wrap">
                            <p class="cate-name">Prawns</p>
                        </div>
                    </div>
                    <div class="div-2">
                        <a href="#">
                            <img src="/common/img/home/img/100x100/Prawns.png" alt="Electronics" class="hot-cate-img img-rounded" />
                        </a>
                    </div>
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">White Prawns</a></li>
                        <li><a href="#">Tiger Prawns</a></li>
                        <li><a href="#">Kuruma Prawns</a></li>
                        <li><a href="#">Caramote Prawns</a></li>
                    </ul>
                    <div class="pull-left shop_nw">
                        <a href="" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
                    </div>
                </div>
                </div>
            </div><!-- /.cate-box -->
            <div class="col-xs-12 col-sm-6  col-lg-3">
            <div class="cate-box">
                <div class="cate-tit">
                    <div class="div-1" >
                        <div class="cate-name-wrap">
                            <p class="cate-name">Crabs</p>
                        </div>
                    </div>
                    <div class="div-2">
                        <a href="#">
                            <img src="/common/img/home/img/100x100/Crabs.png" alt="Electronics" class="hot-cate-img img-rounded"  />
                        </a>
                    </div>
                    
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Crab Legs</a></li>
                        <li><a href="#">Littoral Crabs</a></li>
                        <li><a href="#">Oceanic Crabs</a></li>
                        <li><a href="#">Red Crabs</a></li>
                    </ul>
                    <div class="pull-left shop_nw">
                        <a href="" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
                    </div>
                </div>
                </div>
            </div> <!-- /.cate-box -->
            <div class="col-xs-12 col-sm-6  col-lg-3">
            <div class="cate-box">
                <div class="cate-tit">
                    <div class="div-1" >
                        <div class="cate-name-wrap">
                            <p class="cate-name">Others</p>
                        </div>
                    </div>
                    <div class="div-2">
                        <a href="#">
                            <img src="/common/img/home/img/100x100/Others.png" alt="Electronics" class="hot-cate-img img-rounded" />
                        </a>
                    </div>
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Bones</a></li>
                        <li><a href="#">Boneless</a></li>
                        <li><a href="#">Skin</a></li>
                        <li><a href="#">Skinless</a></li>
                    </ul>
                    <div class="pull-left shop_nw">
                        <a href="" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
                    </div>
                </div>
                </div>
            </div><!-- /.cate-box -->                                                       
        </div> <!-- /#hot-categories -->
        
    </div> <!-- /.container -->
</div>















