
<div class="row product-list">
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                    <div>
                      <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="/Item/Chicken-Dum-Biryani" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery1_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery1_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                    <div>
                      <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery1_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery1_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="/Item/Chicken-Dum-Biryani" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery2_03.png" class="img-responsive" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery2_03.png}" alt="Berry Lace Dress"/>
                    <div>
                      <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery2_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery2_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="/Item/Chicken-Dum-Biryani" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress 2</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
            </div>
            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery3_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery3_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                    <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery3_03.png" class="btn btn-default fancybox-button" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery3_03.png}">Zoom</a>
                        <a href="/Item/Chicken-Dum-Biryani" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery4_03.png"  class="img-responsive" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery4_03.png}" alt="Berry Lace Dress"/>
                    <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery4_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery4_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="/Item/Chicken-Dum-Biryani" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                  <div class="sticker sticker-new"></div>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery5_03.png" class="img-responsive" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery5_03.png}" alt="Berry Lace Dress"/>
                    <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery5_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery5_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="/Item/Chicken-Dum-Biryani" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
            </div>
            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery6_03.png" class="img-responsive" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery6_03.png}" alt="Berry Lace Dress"/>
                    <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery6_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery6_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="/Item/Chicken-Dum-Biryani" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png}" class="img-responsive" alt="Berry Lace Dress"/>
                    <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="/Item/Chicken-Dum-Biryani" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png" class="img-responsive" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png}" alt="Berry Lace Dress"/>
                    <div>
                        <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png" class="btn btn-default fancybox-button" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/gallery_03.png}">Zoom</a>
                        <a href="/Item/Chicken-Dum-Biryani" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                  <div class="sticker sticker-sale"></div>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
            </div>
          