<div class="page-section v1-two">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
				<div class="wr-element">
					<div class="product">
						<div class="p-image">
							<span class="latest_header">Latest Fish Deals</span>
							<img src="/common/img/home/img/170x140/dealitems/deal1.png"  width="278" height="278" alt="Product 01" />
						</div>
				
					</div>
				</div>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
				<div>
					<h5 class="title-1 textup">Best Fish Items</h5>
					<div class="product-slider navtop">
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/1870623f-c4d1-440f-a73b-e8712fb7a6a5.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Squid-Fish?id=402880c854763c2c015476c014f80048">Squid Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.280/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/58a87ea9-b415-40fe-83a8-a88598fd8cab.png" class="img-thumbnail" width="120" height="139" alt="Product 03" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Sardine-Fish?id=402880c854763c2c015476c550a1004f">Sardine Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.215/-</span>
									</span>
									<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                       <!--  <div class="buy-now-button">
                        	<button><i class="fa  fa-cart-plus"></i>BUY NOW</button>
                        </div>
                      -->
          						</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/6059590d-0047-47ce-8c72-bee89ccf0c3c.png" class="img-thumbnail" width="120" height="139" alt="Product 04" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Rohu-Fish?id=402880c854763c2c01547647704e000b">Rohu Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.435/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/a1517171-7732-4c3c-8b22-ecffe7333522.png" class="img-thumbnail" width="120" height="139" alt="Product 05" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/River-Bommidailu-Fish?id=402880c8547b5bf701547b6840aa0001">River Bommidailu Fish</a></h4>
									<span class="price">
										<span class="amount">R.340/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/938785ff-b3b7-4ff1-b464-855835b3d49a.png" class="img-thumbnail" width="120" height="139" alt="Product 06" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Bass-Fish?id=402880c854763c2c015476d17455005d">Bass Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.190/-</span>
									</span>
									<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/b0583dd0-8a76-46d3-ac9e-3c9b4a15734e.png" class="img-thumbnail" width="120" height="139" alt="Product 07" />
								
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Bommidailu-Fish?id=402880c854763c2c015476b4637f003a">Bommidailu Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.190/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/91fa0caf-a064-488a-9bc7-77af201e44f5.png" class="img-thumbnail" width="120" height="139" alt="Product 07" />
								
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Mullet-Fish?id=402880c854763c2c015476bb10700041">Mullet Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.190/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/f4542c3b-02c0-46d2-b1bb-3c02190e97b8.png" class="img-thumbnail" width="120" height="139" alt="Product 07" />
								
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Barracuda-Fish?id=402880c854d1d2730154d1fc3fe20025">Barracuda Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.420/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- .product-slider -->
				</div>
			</div><!-- .col-md-6 -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .page-section -->








<div class="latest-blog wow bounceInUp animated container animated" style="visibility: visible;">
 <div class="div_latest_header">
    <a href="#">
     <h2 class="latest_div">Latest Categories</h2>
     </a> 
  </div>
		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
			<div class="blog_inner effect6">           
        <div class="blog-img">
           <a > <img src="/common/img/home/img/deals/beef.png" width="369" height="201" alt="banner 03" /> </a>
           <div class="mask"> <a class="info" href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001&amp;scid=402880c85474fa4001547518023b001c">Sheep Mutton</a> </div>
        </div>                                                                                  
      </div>                                                                                         
		</div> 
			<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
				<div class="blog_inner effect6">  
					<div class="blog-img">
             <a > <img src="/common/img/home/img/deals/chicken.png" width="369" height="201" alt="banner 04" /> </a>
             <div class="mask"> <a class="info" href="/items/category/Chicken/a?id=402880c85471c5590154721b3f000012">Chicken</a> </div>
          </div>                                                                                      
        </div>                                                                                         
			</div> 
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
					<div class="blog_inner effect6">  
						<div class="blog-img">
               <a > <img src="/common/img/home/img/deals/mutton.png" width="369" height="201" alt="banner 05" /> </a>
               <div class="mask"> <a class="info" href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001">Goat Mutton</a> </div>
            </div>                                                                                   
          </div>                                                                                          
				</div> 
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
					<div class="blog_inner effect6">  
						<div class="blog-img">
			         <a > <img src="/common/img/home/img/deals/fishes.png" width="369" height="201" alt="banner 03" /> </a>
			         <div class="mask"> <a class="info" href="/items/category/Fish/a?id=402880c85474fa400154751b79740022">Fish</a> </div>
			      </div>                                                                                  
          </div>                                                                                         
				</div> 
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
						<div class="blog_inner effect6"> 
               <div class="blog-img">
                 <a > <img src="/common/img/home/img/deals/crabs.png" width="369" height="201" alt="banner 04" /> </a>
                 <div class="mask"> <a class="info" href="/items/category/Crabs/a?id=402880c85474fa400154752c72f90048">Crabs</a> </div>
              	</div>                                                                                      
           	</div>                                                                                         
					</div> 
					<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
						<div class="blog_inner effect6">  
							<div class="blog-img">
                 <a > <img src="/common/img/home/img/deals/prawns.png" width="369" height="201" alt="banner 03" /> </a>
                 <div class="mask"> <a class="info" href="/items/category/Prawns/a?id=402880c85474fa4001547527ec0d003a">Prawns</a> </div>
              </div>                                                                                  
            </div>                                                                                         
					</div> 
	</div>





<div class="page-section v1-two">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
				<div>
					<h5 class="title-1 textup">Chicken Best Selling Items</h5>
						<div class="product-slider navtop">
							<div class="wr-element">
								<div class="product style-2">
									<div class="p-image item">
										<img src="/images_upload/item_media/d0a1bfbe-a0ee-4d6b-834a-bcfc1b4d7911.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
										
									</div>
									<div class="p-info">
										<h4><a href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-Wings?id=402880c8547a2eb701547a8541e30038">Naatukodi Chicken Wings</a></h4>
										<span class="price">
											<span class="amount">Rs.206.00/-</span>
										</span>
										<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="p-image item">
										<img src="/images_upload/item_media/e579969c-f715-478c-ba1b-ed5a2dbc231c.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
										
									</div>
									<div class="p-info">
										<h4><a href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-curry-pieces?id=402880c854c901140154c973909d0017">Naatukodi Chicken curry pieces</a></h4>
										<span class="price">
											<span class="amount">Rs.242.00/-</span>
										</span>
										<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
										<div class="wr-element">
								<div class="product style-2">
									<div class="p-image item">
										<img src="/images_upload/item_media/bd41253c-872a-42c9-ba94-77254eae3e0c.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
										
									</div>
									<div class="p-info">
										<h4><a href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-without-skin?id=402880c854c901140154c9834c8e001e">Naatukodi Chicken without skin</a></h4>
										<span class="price">
											<span class="amount">Rs.156.50/-</span>
										</span>
										<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
										<div class="wr-element">
								<div class="product style-2">
									<div class="p-image item">
										<img src="/images_upload/item_media/b6444d5b-6822-440d-bf4e-b3aeccd4d70c.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
										
									</div>
									<div class="p-info">
										<h4><a href="http://192.168.0.72:8082/meatitem/Chicken-Lollipop.?id=402880c8547a2eb701547a6b32ae001c">Chicken Lollipop</a></h4>
										<span class="price">
											<span class="amount">Rs.152.00/-</span>
										</span>
										<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="p-image item">
										<img src="/images_upload/item_media/ed49fd76-a95c-42b9-9749-5f147eeb6d84.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
										
									</div>
									<div class="p-info">
										<h4><a href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-Breast?id=402880c8547a2eb701547a78e183002a">Naatukodi Chicken Breast</a></h4>
										<span class="price">
											<span class="amount">Rs.224.00/-</span>
										</span>
										<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="p-image item">
										<img src="/images_upload/item_media/d238a508-6754-490b-887e-365a6b5f1946.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
										
									</div>
									<div class="p-info">
										<h4><a href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-with-bones?id=402880c854c901140154c94746cc0010">Naatukodi Chicken with bones</a></h4>
										<span class="price">
											<span class="amount">Rs.150.00/-</span>
										</span>
										<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="p-image item">
										<img src="/images_upload/item_media/91ec396c-27c2-4c69-860a-1faa3f198128.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
										
									</div>
									<div class="p-info">
										<h4><a href="http://192.168.0.72:8082/meatitem/Chicken-Wings?id=402880c8547a2eb701547a67f9e60016">Chicken Wings</a></h4>
										<span class="price">
											<span class="amount">Rs.142.00/-</span>
										</span>
										<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="p-image item">
										<img src="/images_upload/item_media/3667af46-98aa-483d-af5a-6a186fe9a10c.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
										
									</div>
									<div class="p-info">
										<h4><a href="http://192.168.0.72:8082/meatitem/Chicken-Breast-Special?id=402880c854cc53e40154cc61303b000a">Chicken Breast Special</a></h4>
										<span class="price">
											<span class="amount">Rs.161.00/-</span>
										</span>
										<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
									</div><!-- .product-slider -->
								</div>
							</div><!-- .col-md-6 -->

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
								<div class="wr-element">
									<div class="product">
										<div class="p-image">
											<span class="latest_header_1">Latest Chicken Deals</span>
											<img src="/common/img/home/img/170x140/dealitems/bestdeal_chicken.png"  width="278" height="278" alt="Product 01" />
										</div>
								
									</div>
								</div>
							</div>
						</div><!-- .row -->
					</div><!-- .container -->
				</div><!-- .page-section -->







<div class="page-section v1-two" style="margin-top: 25px;">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
				<div class="wr-element">
					<div class="product">
						<div class="p-image">
							<span class="latest_header">MUTTON BEST ITEMS</span>
							<img src="/common/img/home/img/170x140/dealitems/mutton1.png"  width="278" height="278" alt="Product 01" />
						</div>
				
					</div>
				</div>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
				<div>
					<h5 class="title-1 textup">Best Selling Items</h5>
					<div class="product-slider navtop">
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/3b5b5f54-a6f4-41e9-a1fc-33d6c71f93f0.png" class="img-thumbnail" width="120" height="139" alt="Product 02" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Boti-Mutton?id=402880c854763c2c0154769ae218002d">Boti Mutton</a></h4>
									<span class="price">
										<span class="amount">Rs.430/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/6cc02151-180e-4858-b62b-08a57fb11181.png" class="img-thumbnail" width="120" height="139" alt="Product 03" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Goat-curry-Pieces?id=402880c854cc53e40154cc754a3a0018">Goat Curry Pieces</a></h4>
									<span class="price">
										<span class="amount">Rs.370/-</span>
									</span>
									<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                       <!--  <div class="buy-now-button">
                        	<button><i class="fa  fa-cart-plus"></i>BUY NOW</button>
                        </div>
                      -->
          						</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/c199c39f-d61d-4c7e-8f8a-ddb5f0c6fe49.png" class="img-thumbnail" width="120" height="139" alt="Product 04" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Goat-Kidney?id=402880c854763c2c01547681d0510018">Goat Kidney</a></h4>
									<span class="price">
										<span class="amount">Rs.400/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/4778d6fa-9b62-4e9b-9263-1b7a0915127e.png" class="img-thumbnail" width="120" height="139" alt="Product 05" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Goat-Liver?id=402880c854763c2c0154768af608001f">Goat Liver</a></h4>
									<span class="price">
										<span class="amount">R.400/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/95698fdc-f528-40a5-a0f8-32cc0856c326.png" class="img-thumbnail" width="120" height="139" alt="Product 06" />
									
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Mutton-Cubes?id=402880c854763c2c015476459fca0004">Mutton Cubes</a></h4>
									<span class="price">
										<span class="amount">Rs.265/-</span>
									</span>
									<div class="p-action">
											<div class="add_cart">
                        <div class="add-cart-button p-5">
                        	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                        	</button>
                        </div>
                        <div class="add-express-button p-5">
                        	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                        	</button>
                        </div>
                      </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/b4bce44e-f466-463a-a463-87ad9f8edb94.png" class="img-thumbnail" width="120" height="139" alt="Product 07" />
								
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Minced-Mutton,?id=402880c854763c2c01547674ea810012">Minced Mutton</a></h4>
									<span class="price">
										<span class="amount">Rs.475/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/a79fc870-479b-46aa-98e7-83dacd86a7cd.png" class="img-thumbnail" width="120" height="139" alt="Product 07" />
								
								</div>
								<div class="p-info">
									<h4><a href="http://http://192.168.0.72:8082/meatitem/sheep-Boti-Mutton?id=402880c854cc53e40154cc8d1f8d003a">Sheep Boti Mutton</a></h4>
									<span class="price">
										<span class="amount">Rs.200/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="p-image item">
									<img src="/images_upload/item_media/a1dbcd74-54c9-4bb1-953e-cc95d61c257c.png" class="img-thumbnail" width="120" height="139" alt="Product 07" />
								
								</div>
								<div class="p-info">
									<h4><a href="http://192.168.0.72:8082/meatitem/Goat-Legs?id=402880c854763c2c01547692e93f0026">Goat Legs</a></h4>
									<span class="price">
										<span class="amount">Rs.390/-</span>
									</span>
									<div class="p-action">
										<div class="add_cart">
                      <div class="add-cart-button p-5">
                      	<button ><i class="fa fa-shopping-cart"></i>ADD TO CART
                      	</button>
                      </div>
                      <div class="add-express-button p-5">
                      	<button ><i class="fa fa-cart-plus"></i>EXPRESS BUY
                      	</button>
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- .product-slider -->
				</div>
			</div><!-- .col-md-6 -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .page-section -->
	<!-- 
				 <div class="container">
              <div class="div_latest_header">
              <a href="#">
               <h2 class="latest_div">Feature Deals </h2>
               </a> 
               </div>
                 
                   <div class="col-md-12 Featur_deal_main mgb10">
                    <div class="row row-wrap" id="masonry" style="position: relative; ">
                        <div class=" col-xs-6 col-sm-2 col-md-2  mgb10 pdlr10 " >
                            <div class="product">
                            <div class="prod-im1 ">
                            	<a href="#">
                            		<img src="common\img/home/6abbe91e7cf3b7c4c934613028759d42.jpg" class="img-thumbnail grow pic"/>
                            	</a>
                            </div>
                                
                               
                            </div>
                        </div>
                        <div class=" col-xs-6  col-sm-2 col-md-2  col-masonry popup-text mgb10 pdlr10" href="#product-quick-view-dialog" data-effect="mfp-move-from-top">
                            <div class="">   
                                <div class="prod-im  product">
                                	<a href=""><img src="/common/img/home/meat_image221.jpg" class="img-thumbnail grow pic"/></a>
                                </div>
                                <div class="prod-im mgt10 product">
                                    <a href=""><img src="/common/img/home/MEAT-Burger-Jannette-Dellanos-crop_54_990x660_201404242057.jpg" class="img-thumbnail grow pic" /></a> 
                                </div>
                            </div>
                        </div>
                        <div class=" col-xs-6 col-sm-4 col-md-4 col-masonry popup-text  mgb10 pdlr10" href="#product-quick-view-dialog" data-effect="mfp-move-from-top">
                            <div class="product">
                            <div class="prod-im1">
                            	<a href="#">
                            		<img src="/common/img/home/Carne-de-pollo1.jpg" width="100%" class="img-thumbnail grow pic"/>
                            	</a>
                            </div>
                                
                               
                            </div>
                        </div>
                        <div class=" col-xs-6 col-sm-2 col-md-2 col-masonry popup-text  mgb10 pdlr10" href="#product-quick-view-dialog" data-effect="mfp-move-from-top">
                            <div class="">
                            <div class="prod-im  product">
                                	<a href=""><img src="common\img/home/fish-fish.jpg" class="img-thumbnail grow pic" /></a>
                                </div>
                                <div class="prod-im mgt10 product">
                                    <a href=""><img src="common\img\home\dsc_00311.jpg" class="img-thumbnail grow pic"/></a> 
                                </div>  
                            </div>
                        </div>
                        <div class=" col-xs-6 col-sm-2 col-md-2 mgb10 pdlr10 " >
                            <div class="">
                            <div class="prod-im  product">
                                	<a href=""><img src="\common\img\home\images.jpg" class="img-thumbnail grow pic"/></a>
                                </div>
                                <div class="prod-im mgt10 product">
                                    <a href=""><img src="\common\img\home\prawns11.jpg" class="img-thumbnail grow pic"/></a> 
                                </div>  
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>  
 -->








				