<link rel="shortcut icon" href="favicon.ico"/>

    <!-- Global styles START -->          
    <link href="../static/common/lib/global/plugins/font-awesome/css/font-awesome.min.css" 
    	th:href="@{/common/lib/global/plugins/font-awesome/css/font-awesome.min.css}"
     		rel="stylesheet"/>

    <link href="../static/common/lib/global/plugins/simple-line-icons/simple-line-icons.min.css" 
    		th:href="@{/common/lib/global/plugins/simple-line-icons/simple-line-icons.min.css}"
    		 rel="stylesheet" type="text/css"/>

    <link href="../static/common/lib/Flaticon/flaticon.css" 
    	th:href="@{/common/lib/Flaticon/flaticon.css}"
    		 rel="stylesheet"/>

    <link href="../static/common/lib/global/plugins/bootstrap/css/bootstrap.min.css" 
    		th:href="@{/common/lib/global/plugins/bootstrap/css/bootstrap.min.css}" 
    			rel="stylesheet"/>

    <link href="../static/common/lib/global/fonts/fonts.css"
    	 th:href="@{/common/lib/global/fonts/fonts.css}" 
    	 	rel="stylesheet"/>
	<link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" />
    <!-- Global styles END --> 
    

    <!-- Theme styles START -->
    <link href="../static/common/lib/global/css/components.css" 
    	th:href="@{/common/lib/global/css/components.css}"
    		 rel="stylesheet"/>
    <link href="../static/common/lib/frontend/layout/css/style.css" 
    	th:href="@{/common/lib/frontend/layout/css/style.css}" 
    		rel="stylesheet"/>
    <link href="../static/common/lib/frontend/pages/css/style-revolution-slider.css" 
    	th:href="@{/common/lib/frontend/pages/css/style-revolution-slider.css}" 
    		rel="stylesheet"/>
    <link href="../static/common/lib/frontend/layout/css/style-responsive.css" 
    		 th:href="@{/common/lib/frontend/layout/css/style-responsive.css}"
    		 	 rel="stylesheet"/>
    <link href="../static/common/lib/frontend/layout/css/themes/red.css" 
    		th:href="@{/common/lib/frontend/layout/css/themes/red.css}" 
    			rel="stylesheet" id="style-color"/>
    <link href="../static/common/lib/frontend/layout/css/custom.css" 
    	th:href="@{/common/lib/frontend/layout/css/custom.css}" 
    		rel="stylesheet"/>
    <!-- Theme styles END -->
    <!-- Page level plugin styles START -->
    <link href="../static/common/lib/global/plugins/fancybox/source/jquery.fancybox.css"
    			 th:href="@{/common/lib/global/plugins/fancybox/source/jquery.fancybox.css}"
    			 	 rel="stylesheet"/>
    <link href="../static/common/lib/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" 
    		th:href="@{/common/lib/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css}"
    			 rel="stylesheet"/>
    <link href="../static/common/lib/global/plugins/slider-layer-slider/css/layerslider.css"
    	 th:href="@{/common/lib/global/plugins/slider-layer-slider/css/layerslider.css}" 
    	 	rel="stylesheet"/>
    <link href="../static/common/lib/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css"
    	 th:href="@{/common/lib/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css}"
    	 	 rel="stylesheet"/>
     <link href="../static/common/lib/global/plugins/uniform/css/uniform.default.css" 
     	th:href="@{/common/lib/global/plugins/uniform/css/uniform.default.css}" 
     		rel="stylesheet" type="text/css"/>
     <link href="../static/common/css/style2.css"
     	 th:href="@{/common/css/style2.css}"
			rel="stylesheet" type="text/css"/>
     <link href="../static/common/css/swiper.css"
     	 th:href="@{/common/css/swiper.css}" 
     	 	rel="stylesheet" type="text/css"/>
     <link href="../static/common/css/slider.css" 
     		th:href="@{/common/css/slider.css}"
     			 rel="stylesheet" type="text/css"/>
     <!-- <link href="../static/common/css/idangerous.swiper.css"
     		 th:href="@{/common/css/idangerous.swiper.css}" 
     			rel="stylesheet" type="text/css" /> -->
     <link  href="../static/common/css/responsive.css" 
     		th:href="@{/common/css/responsive.css}" 
     			rel="stylesheet" type="text/css" />
    <!-- Page level plugin styles END -->
    <!-- <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"  rel="stylesheet" type="text/css"> -->
    <!-- Theme styles START -->
    
    <link href="../static/common/lib/frontend/pages/css/searchbar.css" 
    	th:href="@{/common/lib/frontend/pages/css/searchbar.css}" 
    		rel="stylesheet"/>
   
    <link href="../static/common/lib/frontend/pages/css/style-shop.css" 
    	th:href="@{/common/lib/frontend/pages/css/style-shop.css}" 
    	rel="stylesheet" type="text/css"/>
    <link href="../static/common/lib/frontend/pages/css/style-layer-slider.css" th:href="@{/common/lib/frontend/pages/css/style-layer-slider.css}" rel="stylesheet"/>
   
    <link href="../static/common/css/btm-footer.css" 
    	th:href="@{/common/css/btm-footer.css}" 
    		rel="stylesheet"/>
    <link href="../static/common/css/MyIcons(1)/flaticon.css" 
    	th:href="@{/common/css/MyIcons(1)/flaticon.css}" 
    	rel="stylesheet"/>
    <link href="../static/common/css/app.custom.css" 
    	th:href="@{/common/css/app.custom.css}" 
    		rel="stylesheet"/>
    <link href="../static/common/css/style1.css" 
    th:href="@{/common/css/style1.css}" 
    	rel="stylesheet"/>
      <link href="../static/common/css/style2.css" 
    th:href="@{/common/css/style1.css}" 
      rel="stylesheet"/>
      <link href="../static/common/lib/global/plugins/rateit/src/rateit.css" th:href="@{/common/lib/global/plugins/rateit/src/rateit.css}" rel="stylesheet"  type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../static/common/lib/global/plugins/clockface/css/clockface.css" th:href="@{/common/lib/global/plugins/clockface/css/clockface.css}"/>
<link rel="stylesheet" type="text/css" href="../static/common/lib/global/plugins/bootstrap-datepicker/css/datepicker3.css" th:href="@{/common/lib/global/plugins/bootstrap-datepicker/css/datepicker3.css}"/>
<link rel="stylesheet" type="text/css" href="../static/common/lib/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" th:href="@{/common/lib/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/common/lib/global/plugins/bootstrap-colorpicker/css/colorpicker.css" th:href="@{/common/lib/global/plugins/bootstrap-colorpicker/css/colorpicker.css}"/>
<link rel="stylesheet" type="text/css" href="../static/common/lib/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" th:href="@{/common/lib/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css}"/>
<link rel="stylesheet" type="text/css" href="../static/common/lib/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" th:href="@{/common/lib/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}"/>