

  <div class="modal fade location-model" id="rating" role="dialog">
    
      <div class="modal-dialog" >
      <!-- Modal content-->
        <div class="modal-content">
          
          <div class="modal-header bg-r text-center">
          
            <a ><img src="/common/img/home/img/meat_logo1.png" alt="WooPlus" width="200" height="35" /></a>
            
          </div>
          <div class="modal-body" style="padding-top:0px;">
           
            <div class="row">
                         <div class="col-md-12">
                  
                   <div class="div_latest_header">
              <a href="#">
          
               </a> 
               </div>
               <table>
  <!-- <tr>
    <td>Default stars</td>
    <td><div id="stars-default"><input type=hidden name"rating"/></div></td>
    <span class="glyphicon glyphicon-comment"></span>
  </tr> -->
  <tr>
    <td>Green stars with a callback and a preset value</td>
    <td><div id="stars-red" data-rating="3"></div></td>
  </tr>
  <!-- <tr>
    <td>Ten hearts!</td>
    <td><div id="stars-herats" data-rating="6"></div></td>
  </tr>  -->
</table>
                </div><!-- .col-md-12 -->      
                </div>
              






          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>