	<div class="page-section v1-three pdt60 pdb10">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 pdb50">
								<div class="h-line-mid">
									<h5 class="textup">From recent blog</h5>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="wr-element">
									<div class="blog-post style-1">
										<article class="post">
											<div class="entry-thumb">
												<a href="#" class="cat">category name</a>
												<a class="thumb" href="blog_details.html"><img alt="Blog post 1" src="/common/img/non-veg/non-vegBlog1.png" width="569" height="426" /></a>
											</div>
											<div class="entry-content">
												<div class="entry-meta">
													<h4><a rel="bookmark" href="blog_details.html">New Bridal Dress Collection from Milan</a></h4>
													<div class="post-meta">
														<span class="posted-on">Posted on <time datetime="2015-03-20 20:00">Mar 20, 2015</time></span>
														<span class="byline"> by <span class="author vcard"><a href="#" class="url fn n">Charlie</a></span></span>
													</div>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
												<a class="more-link" href="blog_details.html">Read More</a>
											</div>
										</article>
									</div>
								</div>
							</div><!-- .col-md-6 -->
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="wr-element">
									<div class="blog-post style-2">
										<article class="post">
											<div class="entry-thumb">
												<a class="thumb" href="blog_details.html"><img alt="Blog post 2" src="/common/img/non-veg/non-vegBlog3.png" width="269" height="201" /></a>
											</div>
											<div class="entry-content">
												<div class="entry-meta">
													<h4><a rel="bookmark" href="blog_details.html">Ut sit amet turpis. In est arcu.</a></h4>
													<div class="post-meta">
														<span class="posted-on">Posted on <time datetime="2015-03-20 20:00">Mar 20, 2015</time></span>
														<span class="byline"> by <span class="author vcard"><a href="#" class="url fn n">Charlie</a></span></span>
													</div>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
												<a class="more-link" href="blog_details.html">Read More</a>
											</div>
										</article>
									</div>
								</div>
								<div class="wr-element">
									<div class="blog-post style-2">
										<article class="post">
											<div class="entry-thumb">
												<a class="thumb" href="blog_details.html"><img alt="Blog post 3" src="/common/img/non-veg/non-vegBlog2.png" width="269" height="201" /></a>
											</div>
											<div class="entry-content">
												<div class="entry-meta">
													<h4><a rel="bookmark" href="blog_details.html">Post ipsum dolor sit amet</a></h4>
													<div class="post-meta">
														<span class="posted-on">Posted on <time datetime="2015-03-20 20:00">Mar 20, 2015</time></span>
														<span class="byline"> by <span class="author vcard"><a href="#" class="url fn n">Charlie</a></span></span>
													</div>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga voluptatibus doloremque, culpa dignissimos!.</p>
												<a class="more-link" href="blog_details.html">Read More</a>
											</div>
										</article>
									</div>
								</div>
							</div><!-- .col-md-6 -->
						</div><!-- .row -->
					</div><!-- .container -->
				</div><!-- .page-section -->