<div class="col-md-12 col-sm-12">
            <h2>Most popular Items</h2>
            <div class="owl-carousel owl-carousel4">
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/images1.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/images1.jpg}" class="img-responsive" alt="Berry Lace Dress"/>
                    <div>
                      <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/images1.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/images1.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="Item/Fried-piece-Biryani">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                  <div class="sticker sticker-new"></div>
                </div>
              </div>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/images2.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/images2.jpg}" class="img-responsive" alt="Berry Lace Dress"/>
                    <div>
                      <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/images2.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/images2.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="Item/Fried-piece-Biryani">Berry Lace Dress2</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/images3.jpg" class="img-responsive" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/images3.jpg}" alt="Berry Lace Dress"/>
                    <div>
                      <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/images3.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/images3.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="Item/Fried-piece-Biryani">Berry Lace Dress3</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/images4.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/images4.jpg}" class="img-responsive" alt="Berry Lace Dress"/>
                    <div>
                      <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/images4.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/images4.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="Item/Fried-piece-Biryani">Berry Lace Dress4</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                  <div class="sticker sticker-sale"></div>
                </div>
              </div>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/images5.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/images5.jpg}" class="img-responsive" alt="Berry Lace Dress"/>
                    <div>
                      <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/images5.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/images5.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="Item/Fried-piece-Biryani">Berry Lace Dress5</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/common/lib/frontend/pages/img/FoodImages/Sample/images6.jpg" th:src="@{/common/lib/frontend/pages/img/FoodImages/Sample/images6.jpg}" class="img-responsive" alt="Berry Lace Dress"/>
                    <div>
                      <a href="../static/common/lib/frontend/pages/img/FoodImages/Sample/images6.jpg" th:href="@{/common/lib/frontend/pages/img/FoodImages/Sample/images6.jpg}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="Item/Fried-piece-Biryani">Berry Lace Dress6</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
            </div>
          </div>