 <h2 class="modal-header">Suppliers</h2>
              <div class="item">
                <a href="shop-item.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res1.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res1.png}" alt="Some Shoes in Animal with Cut Out"/></a>
                <h3><a href="shop-item.html">@Bawarchi</a></h3>
                <div class="price">$31.00</div>

              </div>
              <div class="item">
                <a href="shop-item.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png}" alt="Some Shoes in Animal with Cut Out"/></a>
                <h3><a href="shop-item.html">@Swagath</a></h3>
                <div class="price">$23.00</div>
              </div>
              <div class="item">
                <a href="shop-item.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res3.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res3.png}" alt="Some Shoes in Animal with Cut Out"/></a>
                <h3><a href="shop-item.html">@Kruthunga</a></h3>
                <div class="price">$86.00</div>
              </div>
                <div class="item">
                <a href="shop-item.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res1.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res1.png}" alt="Some Shoes in Animal with Cut Out"/></a>
                <h3><a href="shop-item.html">@Tabla</a></h3>
                <div class="price">$31.00</div>
              </div>
              <div class="item">
                <a href="shop-item.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png}" alt="Some Shoes in Animal with Cut Out"/></a>
                <h3><a href="shop-item.html">@Green Bawarchi</a></h3>
                <div class="price">$23.00</div>
        
              </div>
              <div class="item">
                <a href="shop-item.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res3.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res3.png}" alt="Some Shoes in Animal with Cut Out"/></a>
                <h3><a href="shop-item.html">@Cafe Bahar</a></h3>
                <div class="price">$86.00</div>
              </div>
                <div class="item">
                <a href="shop-item.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res1.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res1.png}" alt="Some Shoes in Animal with Cut Out"/></a>
                <h3><a href="shop-item.html">@Shah Goush</a></h3>
                <div class="price">$31.00</div>
              </div>
              <div class="item">
                <a href="shop-item.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res2.png}" alt="Some Shoes in Animal with Cut Out"/></a>
                <h3><a href="shop-item.html">@Sohail</a></h3>
                <div class="price">$23.00</div>
              </div>
              <div class="item">
                <a href="shop-item.html"><img src="../static/common/lib/frontend/pages/img/FoodImages/RestLogo/res3.png" th:src="@{/common/lib/frontend/pages/img/FoodImages/RestLogo/res3.png}" alt="Some Shoes in Animal with Cut Out"/></a>
                <h3><a href="shop-item.html">@Ohris</a></h3>
                <div class="price">$86.00</div>
              </div>