	 <div class="subMenuDiv hide animated " id="sub_div_1">
												
										<ul class="bg-white sub-menu  mega-submenu list-n">
												<li class="col-md-3 col-sm-3  col-xs-3 col-offset-lg-1">
													<a class="mega-title t-c-g b-b-g menu_head menu_head" th:href="@{/items/category/chicken(id=40288018526c1e0c01526c7215e30020)}">Naatukodi Chicken</a>
													<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;" >(24 Varities)</span> -->
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="/itemf/Paradise-Chicken-Dum-Biryani?id=402880f54e489ce1014e48a2117d0006">Naatukodi Chicken Liver</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open bold_text" href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-Breast?id=402880c8547a2eb701547a78e183002a">Naatukodi Chicken Breast<img src="/common/img/home/img/18x10/flag-new-red.png" /></a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Naatukodi Chicken Leg Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-Wings?id=402880c8547a2eb701547a8541e30038">Naatukodi Chicken Wings</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/NaatuKodi-Chicken-Bonless?id=402880c854c901140154c941665e0003">Naatukodi Chicken Bonless</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Naatukodi Chicken With Skin</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-with-bones?id=402880c854c901140154c94746cc0010">Naatukodi Chicken With Bones</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-curry-pieces?id=402880c854c901140154c973909d0017">Naatukodi Chicken Curry Pieces</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-without-skin?id=402880c854c901140154c9834c8e001e">Naatukodi Chicken Without Skin</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Naatukodi-Chicken-without-Bones?id=402880c854c901140154c98527240025">Naatukodi Chicken Without Bones</a></li>
														 
														
													</ul>
														<!-- 
															<a class="mega-title t-c-g b-b-g menu_head" href="#">CHICKEN (Boneless)<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span></a>
														<ul class=" mega-submenu list-n" >
															<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Heart</a></li>
															<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Livers</a></li>
															<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Wings</a></li>
															<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Full Body</a></li>
															<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Chicken Breast</a></li>
														 
														</ul>  -->
												</li>
												<li class="col-md-3 col-sm-3 col-xs-3  ">
													<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Boiler Chicken<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span> --></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Chicken Leg Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Chicken-Breast?id=402880c8547a2eb701547a60ab790008">Chicken Breast</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Chicken-Liver?id=402880c8547a2eb701547a63f28f000f">Chicken Liver</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Chicken-Wings?id=402880c8547a2eb701547a67f9e60016">Chicken Wings</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Chicken-Lollipop.?id=402880c8547a2eb701547a6b32ae001c">Chicken Lollipop</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Chicken-Wings-pieces?id=402880c854b822120154b8461f290001">Chicken Wings Pieces</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Chicken-Curry-Pieces?id=402880c854cc53e40154cc5cfeb10001">Chicken Curry Pieces</a></li>
															<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Chicken-Breast-Special?id=402880c854cc53e40154cc61303b000a">Chicken Breast Special</a></li>
															 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Chicken-Liver-Pieces?id=402880c854cc53e40154cc64765b0011">Chicken Liver Pieces</a></li>

													 
													</ul> 

															 <!-- <a class="mega-title t-c-g b-b-g menu_head" href="#">CHICKEN (WITHOUT SKIN) <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Heart</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Livers</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Wings</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Full Body</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Chicken Breast</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Bones</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Boneless</a></li>

													 
													</ul>  -->
												</li>

												<li class="col-md-6 col-sm-6 col-xs-6 ">
											<div class="p-10"><a class="" ><img src="/common/img/home/img/ckn_left.png" /></a></div>
											<div class="p-10"><a class="" ><img src="/common/img/home/img/ckn_right.png" /></a></div>
												</li>
											</ul>
											<!-- <div><a class="" ><img src="/common/img/home/img/menubanners/menu_banner_2.png" /></a></div> -->
									</div>
<!-- ******************sub_div_1 end********************** -->





<!-- ******************sub_div_2 start********************** -->
 <div class="subMenuDiv hide animated" id="sub_div_2">
												
										<ul class="bg-white sub-menu  mega-submenu list-n">
												<li class="col-md-3 col-sm-3 col-xs-3 col-offset-lg-1 ">
													<a class="mega-title t-c-g b-b-g menu_head " href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Goat Mutton<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span> --></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Minced-Mutton,?id=402880c854763c2c01547674ea810012">Minced Mutton</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Kidney?id=402880c854763c2c01547681d0510018">Goat Kidney<img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Liver?id=402880c854763c2c0154768af608001f">Goat Liver</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Legs?id=402880c854763c2c01547692e93f0026">Goat Legs</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Boti-Mutton?id=402880c854763c2c0154769ae218002d">Boti Mutton</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-curry-Pieces?id=402880c854cc53e40154cc754a3a0018">Goat Curry Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Goat Mutton Ribs</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Mutton-Boneless?id=402880c854cca9c60154ccb7edfd000a">Goat Mutton Boneless</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Goat Mutton Shoulders</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Mutton-Chops?id=402880c854cca9c60154ccbd4d6d0018">Goat Mutton Chops</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Goat Mutton Front Leg</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Goat Mutton Neck</a></li>
													</ul> 
													 

													 <!--  <a class="mega-title t-c-g b-b-g menu_head" href="#">Bone Mutton<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Mutton Mixed Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Mutton Chops</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Mutton Kheema</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Mutton Shoulder Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Mutton Nalli Gosht</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Mutton Baby Leg</a></li>
															<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Mutton Leg Pieces</a></li>

												 
													 
													</ul>   -->
												</li>
												

													<li class="col-md-3 col-sm-3 col-xs-3 ">
													<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sheep Mutton<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Mutton-Cubes?id=402880c854763c2c015476459fca0004">Mutton Cubes</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Sheep Minced Mutton</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Kidney?id=402880c8547a2eb701547aa6ca74004a">Sheep Kidney </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Liver?id=402880c8547a2eb701547ab67a010051">Sheep Liver</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Legs?id=402880c8547a2eb701547ac5326e0058">Sheep Legs</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Mutton--With-Skin?id=402880c854cc53e40154cc7a7776001f">Sheep Mutton With Skin</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Mutton-With-Bone?id=402880c854cc53e40154cc7cb63a0025">Sheep Mutton With Bone</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Mutton-without-Bones?id=402880c854cc53e40154cc7faaca002c">Sheep Mutton Without Bone</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Mutton-Curry-pieces?id=402880c854cc53e40154cc84b60c0033">Sheep Mutton Curry Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/sheep-Boti-Mutton?id=402880c854cc53e40154cc8d1f8d003a">Sheep Boti Mutton </a></li>
													</ul>  
												</li>
												 <li class="col-md-6 col-sm-6 col-xs-6 ">
											<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/freshmutton.png" /></a></div>
											<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/mutton.png" /></a></div>
												</li>
												
												<!--  <li class="col-lg-3">
													<img src="/common/img/home/img/195x89/menu_img_8.png" />
													<div class="clearfix"></div>
													<img src="/common/img/home/img/195x89/menu_img_7.png" />
													<div class="clearfix"></div>
													<img src="/common/img/home/img/195x89/menu_img_5.png" style="float:right;margin-top: 118px;" />
												 </li>
														-->
										
											</ul>
									</div>

<!-- ******************sub_div_2 end********************** -->

<!-- ******************sub_div_3 start********************** -->
<div class="subMenuDiv hide animated" id="sub_div_3">
												
										<ul class="bg-white sub-menu  mega-submenu list-n">
												<li class="col-md-3 col-sm-3  col-xs-3 col-offset-lg-1">
													<a class="mega-title t-c-g b-b-g menu_head menu_head" th:href="@{/items/category/chicken(id=40288018526c1e0c01526c7215e30020)}">GOAT Mutton</a>
													<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;" >(24 Varities)</span> -->
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Minced-Mutton,?id=402880c854763c2c01547674ea810012">Minced Mutton</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Kidney?id=402880c854763c2c01547681d0510018">Goat Kidney<img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Liver?id=402880c854763c2c0154768af608001f">Goat Liver</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Legs?id=402880c854763c2c01547692e93f0026">Goat Legs</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Boti-Mutton?id=402880c854763c2c0154769ae218002d">Boti Mutton</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-curry-Pieces?id=402880c854cc53e40154cc754a3a0018">Goat Curry Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Goat Mutton Ribs</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Mutton-Boneless?id=402880c854cca9c60154ccb7edfd000a">Goat Mutton Boneless</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Goat Mutton Shoulders</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Goat-Mutton-Chops?id=402880c854cca9c60154ccbd4d6d0018">Goat Mutton Chops</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Goat Mutton Front Leg</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Goat Mutton Neck</a></li>
														
													</ul>
													
													 <!--  <a class="mega-title t-c-g b-b-g menu_head" href="#">Sheep Mutton (Boneless)<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Heart</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Livers</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Wings</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Full Body</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Mutton Breast</a></li>
													 
													</ul>  -->
												</li>
												<li class="col-md-3 col-sm-3 col-xs-3  ">
													<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img srcMuttoncommon/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sheep Mutton<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span> --></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Mutton-Cubes?id=402880c854763c2c015476459fca0004">Mutton Cubes</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Sheep Minced Mutton</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Kidney?id=402880c8547a2eb701547aa6ca74004a">Sheep Kidney </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Liver?id=402880c8547a2eb701547ab67a010051">Sheep Liver</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Legs?id=402880c8547a2eb701547ac5326e0058">Sheep Legs</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Mutton--With-Skin?id=402880c854cc53e40154cc7a7776001f">Sheep Mutton With Skin</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Mutton-With-Bone?id=402880c854cc53e40154cc7cb63a0025">Sheep Mutton With Bone</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Mutton-without-Bones?id=402880c854cc53e40154cc7faaca002c">Sheep Mutton Without Bone</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sheep-Mutton-Curry-pieces?id=402880c854cc53e40154cc84b60c0033">Sheep Mutton Curry Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/sheep-Boti-Mutton?id=402880c854cc53e40154cc8d1f8d003a">Sheep Boti Mutton </a></li>

													 
													</ul> 

												<!--        <a class="mega-title t-c-g b-b-g menu_head" href="#">Sheep Mutton (WITHOUT SKIN):  </a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Heart</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Livers</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Wings</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Full Body</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Mutton Breast</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Bones</a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Boneless</a></li>

														
													</ul>  -->
												</li>

												<li class="col-md-6 col-sm-6 col-xs-6 ">
											<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/sheepMeatraw.png" /></a></div>
											<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/sheepmeat.png" /></a></div>
												</li>
													 
										
											</ul>
									</div>
<!-- ******************sub_div_3 end********************** -->

				<!-- ******************sub_div_4 start********************** -->

 <div class="subMenuDiv hide animated b-r-none" id="sub_div_4">
												
								<ul class="bg-white sub-menu  mega-submenu list-n">
									<li class="col-md-6 col-sm-6 col-xs-6 ">
											<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/fresh.png" /></a></div>
											<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/moonfish.png" /></a></div>
												</li>

												<li class="col-md-3 col-sm-3 col-xs-3 col-offset-lg-1 ">
													<a class="mega-title t-c-g b-b-g menu_head " href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sea Fish<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span> --></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Mullet-Fish?id=402880c854763c2c015476bb10700041">Mullet Fish </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Squid-Fish?id=402880c854763c2c015476c014f80048">Squid Fish <img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sardine-Fish?id=402880c854763c2c015476c550a1004f">Sardine Fish</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Red Snapper Fish </a></li>
														 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Bass-Fish?id=402880c854763c2c015476d17455005d">Bass Fish </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Salman-Fish?id=402880c854d1d2730154d1f7494d001f">Salman Fish </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Barracuda-Fish?id=402880c854d1d2730154d1fc3fe20025">Barracuda Fish </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Blue Fish </a></li>
														
													</ul> 
													 

														<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->River Fish<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Rohu-Fish?id=402880c854763c2c01547647704e000b">Rohu Fish </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >River Mullet Fish </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/River-Bommidailu-Fish?id=402880c8547b5bf701547b6840aa0001">River Bommidailu Fish</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Butter Fish </a></li>
														<!-- <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Fish Nalli Gosht</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Fish Baby Leg</a></li>
															<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Fish Leg Pieces</a></li>
 -->
												 
													 
													</ul>  
												</li>
												

													<li class="col-md-3 col-sm-3 col-xs-3 ">
													<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Dry Fish<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Catla Fish </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Bommidailu-Fish?id=402880c854763c2c015476b4637f003a">Bommidailu Fish </a></li>
														<!-- <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Fish Boti</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Fish Soup Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Fish Liver</a></li>Fish
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Fish Mince</a></li> -->
													</ul>  
												</li>
												 
												
												<!--  <li class="col-lg-3">
													<img src="/common/img/home/img/195x89/menu_img_8.png" />
													<div class="clearfix"></div>
													<img src="/common/img/home/img/195x89/menu_img_7.png" />
													<div class="clearfix"></div>
													<img src="/common/img/home/img/195x89/menu_img_5.png" style="float:right;margin-top: 118px;" />
												 </li>
														-->
										
											</ul>
									</div>

<!-- ******************sub_div_4 end********************** -->






<!-- ******************sub_div_5 start********************** -->

 <div class="subMenuDiv hide animated b-r-none" id="sub_div_5">
												
										<ul class="bg-white sub-menu  mega-submenu list-n">
													<li class="col-md-6 col-sm-6 col-xs-6 ">
											<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/Prawns.png" /></a></div>
											<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/whiteprawns.png" /></a></div>
												</li>



												<li class="col-md-3 col-sm-3 col-xs-3 col-offset-lg-1 ">
													<a class="mega-title t-c-g b-b-g menu_head " href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sea Prawns<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span> --></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Sea Prawns With Bones</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sea-Prawns-Curry-Pieces?id=402880c854cca9c60154cd0c135200cf">Sea Prawns Curry Pieces<img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Sea Prawns With Skin</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Sea-Prawns-With-Skinless?id=402880c854cca9c60154cd13af5600e4">Sea Prawns With Skinless</a></li>
														 <!-- <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >White Prawns Chopped Boneless</a></li> -->
														
													</ul> 
													 

														<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->River Prawns<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >River Prawns With Bones</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >River Prawns Curry Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >River Prawns With Bonless</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/River-Prawns-With-Skin?id=402880c854cca9c60154cd077e2800bb">River Prawns With Skin</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/River-Prawns-With-Skinless?id=402880c854cca9c60154cd09e08d00c8">River Prawns With Skinless</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Frozen-Prawns?id=402880c854d1d2730154d20697ac003f">Forzen Prawns</a></li>
													<!--     <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >White Prawns Leg Pieces</a></li>
 -->
												 
													 
													</ul>  
												</li>
												

													<li class="col-md-3 col-sm-3 col-xs-3 ">
													<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Dry Prawns<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
													<ul class=" mega-submenu list-n" >
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Triger Prawns </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/White-Prawns?id=402880c854763c2c015476dc4537006f">White Prawns </a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Dry Prawns Curry Pieces</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Dry-Prawns-with-Bones?id=402880c854cca9c60154ccdd0d6d0053">Dry Prawns With Bones</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Dry-Prawns-With-Skin?id=402880c854cca9c60154cceb8522006e">Dry Prawns With Skin</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Royal-Prawns?id=402880c854d1d2730154d20984120045">Royal Prawns</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Dry-Prawns-Without-Skinless?id=402880c854cca9c60154ccf5bc700081">Dry Prawns Without Skinless</a></li>
														<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Prawns-Sticks?id=402880c854d1d2730154d20c61970050"> Prawns Sticks</a></li>


													</ul>  
												</li>
										 
												
												<!--  <li class="col-lg-3">
													<img src="/common/img/home/img/195x89/menu_img_8.png" />
													<div class="clearfix"></div>
													<img src="/common/img/home/img/195x89/menu_img_7.png" />
													<div class="clearfix"></div>
													<img src="/common/img/home/img/195x89/menu_img_5.png" style="float:right;margin-top: 118px;" />
												 </li>
														-->
										
											</ul>
									</div>

<!-- ******************sub_div_5 end********************** -->


<!-- ******************sub_div_6 start********************** -->

 <div class="subMenuDiv hide animated b-r-none" id="sub_div_6">
	<ul class="bg-white sub-menu  mega-submenu list-n">
	 <li class="col-md-6 col-sm-6 col-xs-6 ">
			<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/rawcrab.png" /></a></div>
			<div class="p-10"><a class="" ><img src="/common/img/home/img/260x100/crabs.png" /></a></div>
		</li>
		<li class="col-md-3 col-sm-3 col-xs-3 col-offset-lg-1 ">
			<a class="mega-title t-c-g b-b-g menu_head " href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> --> Sea Crabs<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span> --></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/SoftShellCrab?id=402880c854cca9c60154cda4d2e60113">Soft Shell Crab </a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Three Spotted Crab <img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
				<!-- <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Shoulder Boneless</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Boneless keema</a></li>
				 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Chopped Boneless</a></li>
				 -->
			</ul> 
			 <!-- <a class="mega-title t-c-g b-b-g menu_head" href="#">Bone Crabs<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Mixed Pieces</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Chops</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Kheema</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Shoulder Pieces</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Nalli Gosht</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Baby Leg</a></li>
					<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Leg Pieces</a></li>
			</ul>   -->
		</li>
		<li class="col-md-3 col-sm-3 col-xs-3 ">
			<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->River Crabs<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
				<ul class=" mega-submenu list-n" >
					<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/WhiteCrabs?id=402880c854763c2c015476da84f3006a">White Crabs </a></li>
					<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/BlackFin-Crabs?id=402880c854763c2c015476dfb1bd0075">BlackFin Crabs</a></li>
					<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Claw-Crabs?id=402880c854763c2c015476e28d7c0079">Claw Crabs </a></li>
					<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crabs Legs</a></li>
					<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/RedKingCrabs?id=402880c854763c2c015476e616470081">Red King Crabs </a></li>
					<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/JumboLump-Crabs?id=402880c854763c2c015476e8f2720085">Jumpbo Lump Crabs </a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >River Crabs With Black Skin </a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Corn-Crab-White?id=402880c854cca9c60154cd3c96d900f8">Corn Crab White </a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Crab Dip </a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Crab-Rangoon?id=402880c854cca9c60154cd4194b50105">Crab Rangoon </a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Kerala River Crab </a></li>
						<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Blue-Crab?id=402880c854cca9c60154cda87fd4011e">Blue Crab </a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Alaska-King-Crab?id=402880c854cca9c60154cdac9e2e0132">Alaska King Crab </a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" href="http://192.168.0.72:8082/meatitem/Stone-Crabs?id=402880c854cca9c60154cdb0b038013d">Stone Crabs </a></li>
				</ul>  
		</li>
		<!--  <li class="col-lg-3">
			<img src="/common/img/home/img/195x89/menu_img_8.png" />
			<div class="clearfix"></div>
			<img src="/common/img/home/img/195x89/menu_img_7.png" />
			<div class="clearfix"></div>
			<img src="/common/img/home/img/195x89/menu_img_5.png" style="float:right;margin-top: 118px;" />
		 </li>
				-->
	</ul>
</div>

<!-- ******************sub_div_6 end********************** -->



<!-- ******************sub_div_7 start********************** -->
<div class="subMenuDiv hide animated" id="sub_div_7">
	<ul class="bg-white sub-menu  mega-submenu list-n">
		<li class="col-md-4 col-sm-4 col-xs-4 ">
			<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sea Oysters<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span><img src="/common/img/home/img/18x10/flag_new.png" width="23" /></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Eastern Oysters</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Olympia Oyesters</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Gulf Coast Oysters</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >American Oysters</a></li>
				 <li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Arginia Oyesters</a></li>
				 <li class=""><a class="" href="#"><img src="/common/img/home/img/18x10/more_icon.png" /></a></li>
			</ul>
				<div class=""><!-- <span class="mega-title t-c-g b-b-g menu_head" style="color: #1ab394;margin-left: 18px;float: left;font-size:14px">Mutton</span> -->
				 
 
			 
			</div>  
			 
		</li>
		
		<li class="col-md-4 col-sm-4 col-xs-4">
			<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/images/biryani.png" style="width:25px;"/> -->Flat Oysters<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Sydney Oysters 
			</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Pacific Oysters</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >Olympia Oysters</a></li>
				<li class="p-t-b-1 onele"><a class="effect_1 text f-f-open" >West Coast Oysters</a></li>
				
				
			</ul>
				 
		</li>
		 <li class="col-lg-3">
			<!-- <img src="/common/img/images/veg-twister.png" />
			<div class="clearfix"></div>
			<img src="/common/img/images/999.png" />
			<div class="clearfix"></div> -->
			<img src="/common/img/home/img/195x89/menu_img_snack.png" style="width: 220px;float:left;margin-top: 10px;" />
		 </li>
	</ul>
</div>
<!-- ******************sub_div_7 end********************** -->                  
						


						<!-- ******************sub_div_8 start********************** -->
<div class="subMenuDiv p-t-b hide animated" id="sub_div_8">
	<div class="">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 </div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 </div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 </div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 </div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 </div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 </div>
	 </div>
	<div class="">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
	</div>
	<div class="">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
	</div>
	<div class="">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
 		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 	</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 	</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 	</div>
		<div class="col-lg-2 col-md-2 col-sm-2">0.
			<a><img class="thumbnail p-none" src="/common/img/home/img/143x93/rest_icon_72.png"/></a>
	 	</div>
 </div>
</div>