<ion-content class=" chickenItems">
  <div style="height:auto;" ng-controller="ItemsCtrl">
    <div class="list card" th:each="item:${items}">
      <div class="item">
        <a th:href="'#/app/SingleItem/'+${item.id}">
          <div class="rating">
            <div><i class="ion-ios-star-half" style="color: #FF9800;float:right;"></i></div>
            <div><i class="ion ion-star" style="color: #FF9800;float:right;"></i></div>
            <div><i class="ion ion-star" style="color: #FF9800;float:right;"></i></div>
          </div>
          <img src="img/07.jpg" style="margin-left:-14px;width:110%" />
        </a>
        <div th:with=" sellerItems =${#lists.toList(item.sellerItems)}">
          <th:block th:with=" price =${sellerItems[0].offerPrice}">
            <span class="pric" style="float:right;" th:inline="text">[[${price}]]</span>
            <h2 th:text="${item.itemName}"></h2>
            <span class="pric" style="float:right"><del th:text="${sellerItems[0].sellingPrice}"></del></span>
          </th:block>
        </div>   
        <p>by Ram Reddy Chicken</p>
        <div class="row">
          <span>Quantity</span>
          <div class=""  style="padding-left:40px;">
            <label ng-click="decrementQuantity(quantity)"><i class="ion ion-minus ion-i"></i></label>
          </div>
          <div style="padding:4px;">
            <div class="text-center quantity">
              <span ng-model="quantity" style="">{{quantity}}</span>
            </div>
          </div>
          <div class="col col-10" style="padding: 0px;">
            <label ng-click="incrementQuantity(quantity)"><i class="ion ion-plus ion-i"></i></label>
          </div>
          <span style="padding-left:10px;">in Kg</span>
        </div>
        <div class="row">
          <div class="col col-50">
            <a ui-sref="app.Cartpage">
            <button class="button button-outline button-assertive button-small ion-android-cart" style="width:100%;">Add To Cart</button>
              </a>
          </div>
          <div class="col col-50">
            <button class="button button-outline button-balanced button-small ion-android-cart" style="width:100%;">EXPRESS BOWL
            </button>
          </div>
        </div>
          <!-- <button class="button button-icon button-clear ion-android-cart" style="float: right;color: #e42112;margin-top: -30px;font-size: 28px;">
        </button> -->
      </div>
    </div>
  </div>
</ion-content>
<style>
.chickenItems{
        margin-top: -12px;
  }

.pric{
    font-weight: 500;
    color:gray;
    /*position: absolute;
    top: 205px;
    border: 1px solid #DFDFDF;
    background-color: #fff;
    border-radius: 4px;
    width: 25%;
    margin-left: -15px;*/
}
.ion-i{
     width: 25px;
     padding: 5px;
     line-height: 2px;
     text-align: center;
     color: #3A3535;
     box-sizing: border-box;
     border-radius: 12px;
     -webkit-box-shadow: 1px 0px 5px 2px rgba(196,186,196,0.40);
  -moz-box-shadow: 1px 0px 5px 2px rgba(196,186,196,0.40);
  box-shadow: 1px 0px 5px 2px rgba(196,186,196,0.40);

   }
   .ver_udl{
   }
   .rating{
        position: relative;
    right: 5px;
    top: 190px;
   }
</style>