
.box-menu-02 {
  width: 890px;
  padding: 0;
  background: #737373;
}
.box-menu-02 ul.mainnav {
  margin: 0 0 0 0;
  float: left;
  list-style: none;
  padding: 0px;
}
.box-menu-02 ul.mainnav > li {
  float: left;
  position: relative;
  padding: 0;
  border-left: 1px solid transparent;
}
.box-menu-02 ul.mainnav > li.nav-home {
  border-left: 1px solid #e62e04;
}
.box-menu-02 ul.mainnav > li > a {
  display: block;
  padding: 0 17px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
}


 .side-menu {
  float: left;
  width: 270px;
  z-index: 999;
  margin: 0;
    margin-left: -270px;
  list-style: none;
  border-top: none;
  position: absolute;
  /*left: -270px;*/
}
.toggle_sideMenu{
  margin:0px!important;
}
.side-menu .side-img{
  width: 95px;
  height: 93px;
  background: url("../templates/images/menu.png") no-repeat;
  position: absolute;
  right: -96px;
  top: -6px;
  cursor: pointer;
 /* border-radius: 0px 5px 5px 0px !important;
    -webkit-box-shadow: 8px 0px 10px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 8px 0px 10px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 20px 0px 10px 0px rgba(50, 50, 50, 0.25);*/
 
}
/*.side-menu .side-img:hover{
      box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
        transform: translateZ(130px);
       background-size: cover;
      background-repeat: no-repeat;
 
}*/
.title{
	  position: relative;
  background-color: #009966;
  color: #FFFFFF;
}

 .side-menu .title  h2 {
  margin: 0;
  line-height: 40px;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 20px;
  font-size: 100%;
  position: relative;
  font-size: 16px;
}
.side-menu .title  h2 span {
 float: right;
 padding-right: 20px;
}
/*
  ul.mega-nav {
  overflow: visible !important;
  width: 270px;
  padding: 0;
  float: left;
    font-family: Varela Round;
}
 ul.mega-nav > li {
  padding: 0 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-color: transparent;
  list-style: none;
}
 ul.mega-nav > li:hover {
  background-color: #fff;
}
 ul.mega-nav > li > i{
  float: left;
  padding: 10px 10px 0px 0px;
  color: #fff;
}
 ul.mega-nav > li > a {
  display: block;
  line-height: 38px;
  position: relative;
  padding-left: 27px;
  border-bottom: 1px dashed #e8e8e8;
  color: #fff;
}
 ul.mega-nav > li > a:hover {
  color: #716969;
}*/

.menu .sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  background: #fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}
.menu li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
.menu .sub-menu:not(.mega-submenu) li {
  display: block;
  width: 100%;
}
.menu,
#site-header .extra-info ul  {
  list-style: none;
  float: left;
  margin: 0;
}
.menu li,
#site-header .extra-info ul li {
  float: left;
  position: relative;
}
.menu li i,
#site-header .extra-info ul li i {
  margin-right: 5px;
  font-size: 12px;
}
#top-menu li a,
#site-header .extra-info ul li a {
  padding: 10px 0;
  display: block;
}
#site-header .extra-info ul > li {
  margin-left: 25px;
}


#main-menu {
  float: right;
}
#main-menu .menu > li {
  font-size: 11px;
  padding: 10px 0;
  margin-left: 4px;
}
#main-menu .menu > li.new:before,
#main-menu .menu > li.new:after,
#main-menu .menu > li.hot:before,
#main-menu .menu > li.hot:after {
  content: "";
  position: absolute;
}
#main-menu .menu > li.new:before,
#main-menu .menu > li.hot:before {
  content: "NEW";
  width: 29px;
  height: 15px;
  text-align: center;
  color: #fff;
  font-size: 7px;
  background: #6dcff6;
  line-height: 15px;
  right: 0;
  top: -6px;
  -webkit-border-radius: 2px;
  -moz-border-radius:    2px;
  -ms-border-radius:     2px;
  border-radius:         2px;
}
#main-menu .menu > li.new:after,
#main-menu .menu > li.hot:after {
  border: 3px solid transparent;
  border-top: 3px solid #6dcff6;
  right: 18px;
  top: 9px;
}
.sticky #main-menu .menu > li.new:before,
.sticky #main-menu .menu > li.hot:before {
  top: 0;
}
.sticky #main-menu .menu > li.new:after,
.sticky #main-menu .menu > li.hot:after {
  top: 15px;
}
#main-menu .menu > li.hot:before {
  content: "HOT";
  background: #ff6565;
}
#main-menu .menu > li.hot:after {
  border-top-color: #ff6565;
}
/*.site-header.v2 #main-menu > li.new:before {
  background: #5d7ac3;
}
.site-header.v2 #main-menu > li.new:after {
  border-top-color: #5d7ac3;
}
.site-header.v2 #main-menu > li.hot:before {
  background: #f54b31;
}
.site-header.v2 #main-menu > li.hot:after {
  border-top-color: #f54b31;
}*/
#main-menu .menu > li > a {
  display: block;
  padding: 6px 18px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-border-radius: 2px;
  -moz-border-radius:    2px;
  -ms-border-radius:     2px;
  border-radius:         2px;
}
#main-menu .menu li.active > a,
#main-menu .menu > li > a:hover {
  background: #95c03e;
  color: #fff;
}
#main-menu .menu li a i {
  font-size: 14px;
}
#main-menu .sub-menu {
  width: 220px;
  background: #fff;
  top: 100px;
  left: 50%;
  margin-left: -110px;
  border: 1px solid #ededed;
}
#main-menu li:hover > .sub-menu {
  top: 48px;
}
#main-menu .sub-menu:not(.mega-submenu) li {
  padding: 0 20px;
}
#main-menu .sub-menu li.parent:after {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 14px;
  color: #ddd;
}
#main-menu .sub-menu li a {
  border-bottom: 1px solid #ededed;
  padding: 15px 0;
  display: block;
  font-size: 13px;
  color: #667279;
}
#main-menu .sub-menu li a:hover {
  color: #95c03e;
}
#main-menu .sub-menu li:last-child a {
  border: 0;
}
#main-menu .sub-menu ul {
  left: 218px;
  margin: 0;
  top: 50px;
}
#main-menu .sub-menu li:hover ul {
  top: -1px;
}
#main-menu .sub-menu .rtl ul {
  left: -220px;
}
#main-menu li.mega-menu {
  position: static;
}
#main-menu li.mega-menu ul {
  width: 100%;
  max-width: 1170px;
}
#main-menu li.mega-menu > .mega-submenu {
  left: 0;
  margin: 0;
  background: url('placeholder/bg_mega_menu.jpg') no-repeat left bottom / cover;
  padding: 40px 60px 60px;
}
#main-menu li.mega-menu .mega-submenu li,
#left-menu .menu .mega-menu .sub-menu li {
  position: relative;
  list-style: none;
}
#main-menu li.mega-menu .mega-submenu li .mega-title,
#left-menu .menu .mega-menu .sub-menu li .mega-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #1ab394;
  font-weight: 600;
  font-family: Open Sans;
  /*border-bottom: 1px solid #ccc;*/
}
#main-menu li.mega-menu .mega-submenu li .mega-title,
#left-menu .menu .mega-menu .sub-menu li .mega-title:before {
  /*content: '';*/
}
#main-menu li.mega-menu .mega-submenu li a,
#left-menu .menu .mega-menu .sub-menu li a {
    border: 0;
  padding: 0px 0;
    margin: 0px 10px;
    font-family:Varela Round;

}
#left-menu .menu .mega-menu .sub-menu ul li:hover a{
  color: rgb(9, 178, 114);
  font-size: 13px;
  font-weight: 500;
}
#main-menu li.mega-menu .mega-submenu li a,
#left-menu .menu .mega-menu .sub-menu li a:before {
  /*content: '@';*/
  color: red;
  margin-right: 5px;
  font-weight: 600;
    font-size: 12px;

}
#main-menu li.mega-menu .mega-submenu ul li {
  display: block;
  width: 100%;
}
#main-menu li.mega-menu .text-block,
#left-menu .menu .mega-menu .text-block {
  font-size: 12px;
  color: #667279;
  line-height: 2;
  padding: 8px 0;
}
#left-menu {
  background: #fff;
  border-color: #e8e6e2;
  border-style: solid;
  border-width: 0 1px;
  width: 270px;
}
#left-menu button {
  background: none;
  color: #95c03e;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  padding: 0 15px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  border: 0;
}
#left-menu button i {
  margin-right: 10px;
}
#left-menu .menu {
  background: #fff;
  left: -30px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 150px;
 /* border-color: #e8e6e2;
  border-style: solid;
  border-width: 0 1px 1px;*/
  /*border-right: 2px dashed;*/
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition:    all 0.3s ease-in-out;
  transition:         all 0.3s ease-in-out;
}
#left-menu .menu.active,
#left-menu.expand .menu {
  opacity: 1;
  visibility: visible;
}
#left-menu .menu > li,
#left-menu .menu li:not(.mega-menu) li {
  display: inline-block;
  width: 100%;
  /*padding: 0 20px;*/
}
/*#left-menu .menu li.parent:after {
  content: "\f105";
  position: absolute;
  font-family: FontAwesome;
  right: 20px;
  top: 13px;
  color: #ddd;
}*/
#left-menu .menu li a {
  border-bottom: 1px solid #e8e6e2;
  font-size: 11px;
  font-weight: 600;
  padding: 0;
  text-transform: uppercase;
  display: block;
  padding: 15px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition:    all 0.3s ease-in-out;
  transition:         all 0.3s ease-in-out;
}
#left-menu .menu li:last-child > a {
  border: 0;
}
#left-menu .menu .sub-menu {
  left: 300px;
  width: 270px;
  /*border: 1px solid #e8e6e2;*/
  top: -1px;
}
#left-menu .menu li:hover .sub-menu {
  left: 100px;
}
#left-menu .menu .sub-menu li a {
  color: #667279;
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
    font-family: cursive;
}
#left-menu .menu .sub-menu li a:hover {
    color: rgb(9, 178, 114);
  font-size: 14px;
  font-weight: 600;
}
#left-menu .menu .mega-menu .sub-menu {
  width: 840px;
  /*background: url('../templates/images/sample1.jpg') no-repeat 0px 0px / cover;*/
  padding: 10px;
  height: 460px;
  
}
}
.bg-white{
  background-color: #fff !important;
  background: url('../templates/images/white.jpg') !important;
}
#left-menu .menu .mega-menu .sub-menu li {
  padding: 0;
}
.title-menu{
  font-family:'Open Sans, Sans serif';
  font-weight: 400;
  font-size: 20px;
}
.b-r-d{
  border-right: #ccc 1px dotted;
}
.dosa-d, .wheat, .pizza, .chicken, .steak, .fish{
  background: url('../templates/images/sprite.png');
  background-repeat: no-repeat;
}
.dosa-d{
     width: 35px;
  height: 18px;
  background-position: -10px -17px;
  float: right;
  margin-right: 10px;
}
.wheat{
  width: 35px;
  height: 18px;
  background-position: -10px -174px;
  float: right;
  margin-right: 10px;
}
.pizza{
  width: 35px;
  height: 18px;
  background-position: -10px -81px;
  float: right;
  margin-right: 10px;
}
.chicken{
  width: 35px;
  height: 18px;
  background-position: -10px -292px;
  float: right;
  margin-right: 10px;
}
.steak{
  width: 35px;
  height: 18px;
  background-position: -10px -348px;
  float: right;
  margin-right: 10px;
}
.fish{
  width: 35px;
  height: 18px;
  background-position: -10px -370px;
  float: right;
  margin-right: 10px;
}
.img-last-bottom{
    position: absolute;
  right: -7px;
  bottom: 80px;
}
 .lightbox {
  /** Default lightbox to hidden */
  
display: none;
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}




/*Menu Buttons*/

@charset "UTF-8";
/* CSS Document */

/*
DEMO 3
*/

.a_demo_three {
  background-color:#3bb3e0;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  text-decoration:none;
  color:#fff;
  position:relative;
  padding:10px 20px;
  border-left:solid 1px #2ab7ec;
  margin-left:35px;
  background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(44,160,202)),
  color-stop(1, rgb(62,184,229))
  );
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_three:active {
  top:3px;
  background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(62,184,229)),
  color-stop(1, rgb(44,160,202))
  );
  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_three::before {
  background-color:#2561b4;
  content:"99/-";
  width:35px;
  max-height:29px;
  height:100%;
  position:absolute;
  display:block;
  padding-top:8px;
  top:0px;
  left:-36px;
  font-size:16px;
  font-weight:bold;
  color:#8fd1ea;
  text-shadow:1px 1px 0px #07526e;
  border-right:solid 1px #07526e;
  background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
  background-image: -o-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(10,94,125)),
  color-stop(1, rgb(14,139,184))
  );
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
  -moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
  -o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
  box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
}

.a_demo_three:active::before {
  top:-3px;
  -webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
  -moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
  -o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
  box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
}

/*
Second button
*/

.second_button::before {
  content:"2";
}

/*
Third button
*/

.third_button::before {
  content:"3";
}

/*end menu button*/