<!Doctype html>
<html>
<head th:replace="fragments/PortalHeadFragment::HeadFragment('Buy Non Veg','Buy Non Veg','Buy Non Veg')">
</head>
	<style>
.bg-white {
    background-color: #fff;
    color: #716F6F;
}
.m-t-md {
    margin-top: 20px;
}
.new-title {
    color: #000;
    height: 20px;
    margin: 0 auto 40px;
    text-align: center;
    text-transform: none;
    border-bottom: 1px #010101 dotted;
    width: 85%;
}
.new-title h3 {
    color: #555;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    padding: 10px 45px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    background: #fff;
    letter-spacing: 1px;
}
.m-b-md {
    margin-bottom: 20px;
    }
 
    </style>
<body>
	<div class="container">
	<div class="col-lg-12 bg-white m- t-md">
	<div class="new-title">
	<h3>TERMS AND CONDITIONS</h3>
	</div>
	<div class="col-sm-12 col-lg-12 col-md-12 m-b-md">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12">
                <h4>INTRODUCTION</h4>
                <p>Buynonveg meat online which is guaranteed to be 100% fresh and healthy. We  have the best meat for sale- our online store has meat products which are of the best quality. BuyNonveg is the online meat shop where you select and buy meat at the lazy click of a mouse. Fresh buffalo beef mince, fresh buffalo beef cubes, fresh white prawns, fresh chicken drumstick and a huge variety of meat products which the nearest grocery shop can never boast of. Find new launches in meat and amazing offers that make the meat prices palatable too- to your pocket. So put aside your grocery cares and let Buynonveg bring to your home the best meat in the market and enjoy the convenience and pleasure of online shopping in India.</p>
            </div>
        </div>
    </div>

        <div class="container">
        <div class="row">
        <div class="col-sm-12">
         <h4>1.ACCEPTANCE OF AGREEMENT</h4>
            <p>You agree to the terms and conditions outlined in this Terms of Use Agreement ("Agreement") with respect to our site (the"Site"). This Agreement constitutes the entire and only agreement between us and you, and supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to the Site, the content, products or services provided by or through the Site, and the subject matter of this Agreement. This Agreement may be amended at any time by us from time to time without specific notice to you. The latest Agreement will be posted on the Site, and you should review this Agreement prior to using the Site.</p>
        </div>
    </div>
    </div>

           <div class="container">
           <div class="row">
           <div class="col-sm-12">
            <h4>2. PRODUCTS USE</h4>
            <p>All the products listed on the Site will be sold at MRP unless otherwise specified. The prices mentioned at the time of ordering will be the prices charged on the date of the delivery. Although prices of most of the products do not fluctuate on a daily basis but some of the commodities and fresh food prices do change on a daily basis. In case the prices are higher or lower on the date of delivery not additional charges will be collected or refunded as the case may be at the time of the delivery of the order.</p>
        </div>
        </div>
           </div>

           <div class="container">
           <div class="row">
           <div class="col-sm-12">
            <h4>3.ADVERTISERS</h4>
            <p>The Site may contain advertising and sponsorships. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on the Site is accurate and complies with applicable laws. We are not responsible for the illegality or any error, inaccuracy or problem in the advertiser's or sponsor's materials.</p>
        </div>
        </div>
           </div>

       <div class="container">
       <div class="row">
       <div class="col-sm-12">
        <h4>4. REGISTRATION</h4>
        <p>Certain sections of, or offerings from, the Site may require you to register. If registration is requested, you agree to provide us with accurate, complete registration information. Your registration must be done using your real name and accurate information. Each registration is for your personal use only and not on behalf of any other person or entity. We do not permit<br/><br/>

       (a) any other person using the registered sections under your name; or<br/>

        (b) access through a single name being made available to multiple users on a network. You are responsible for preventing such unauthorized use.</p>
       </div>
       </div>
       </div>

           <div class="container">
           <div class="row">
           <div class="col-sm-12">
            <h4>5. PRIVACY POLICY</h4>
            <p>Our privacy policy, as it may change from time to time, is a part of this Agreement. You must review this privacy policy by clicking privacy policy link on our Web site</p>
           </div>
           </div>
           </div>

           <div class="container">
           <div class="row">
           <div class="col-sm-12">
            <h4>6.PAYMENTS</h4>
            <p>You represent and warrant that if you are purchasing something from us or from Merchants that<br/><br/>

                (i) any credit information you supply is true and complete<br/><br/>

                (ii) charges incurred by you will be honored by your credit card company and<br/><br/>

                (iii) you will pay the charges incurred by you at the posted prices, including any applicable taxes.</p>
           </div>
           <div>
           </div>
    </div>
	</div>
	</div>
	
    
	
	</body>
	</html>