<!doctype html>
<html>
	

<head th:replace="fragments/PortalHeadFragment::HeadFragment('Buy Non Veg','Buy Non Veg','Buy Non Veg')"></head>
	<body ng-app="HungryHomeTerminal">
		<div th:replace="fragments/LocationFragment"></div>
		
		<div class="wrapper">
				<header th:replace="fragments/HeaderFragment :: HeaderFragment('false')"></header>

		<div id="site-main">
			<th:block th:switch="${status}">
						<div th:case="'success'" th:replace="fragments/TransactionSuccessFragment"></div>
					<div th:case="'failure'" th:replace="fragments/TransactionFailureFragment"></div>


		</th:block>		



		</div>

		<div th:replace="fragments/FooterFragment"></div>
		</div><!-- .wrapper -->
		<th:block th:replace="fragments/PortalScriptsFragment"></th:block>
	</body>

</html>