<div class="row wrapper border-bottom white-bg" style="padding:5px 0px">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Attributes List</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row" ng-controller="AttributesListController">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title" style="min-height:38px;padding:5px 0px;">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <h4>Attributes LIST</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="btn-group pull-right" style="padding-top: 4px;">
            <a ui-sref="Tags.AttributesCreateView" class="btn-fit-height grey-salt" data-close-others="true">
            <i class="fa fa-plus"></i> Attributes
            </a>
          </div>
          <!-- <div ibox-tools></div> -->
        </div>
      </div>
      <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover dataTables-example" id="AttributesTable">
                <thead>
                  <tr>
                    <th>
                      Attribute Name
                    </th>
                    <th>
                      STATUS
                    </th>
                    <th>
                      
                    </th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
                <!-- <tfoot>
                  <tr>
                    <th>
                      CRITERIA VALUE
                    </th>
                     <th>
                      ORDER OF PLACE
                    </th>
                    <th>
                      STATUS
                    </th>
                    <th>
                      
                    </th>
                  </tr>
                </tfoot> -->
                <!-- <tbody>
                  <tr ng-repeat="category in catagories">
                    <td>
                      {{category['properties'].categoryCode}}
                    </td>
                    <td>
                      {{category['properties'].categoryName}}
                    </td>
                    <td>
                      {{category['properties'].createdDate}}
                    </td>
                    <td>
                      {{category['properties'].description}}
                    </td>
                    <td>
                      {{category['properties'].status}}
                    </td>
                    <td><a href="#/Category/{{category['properties'].categoryName}}/{{category['properties'].id}}">View</a></td>
                  </tr>
                </tbody> -->
              </table>
      </div>
    </div>
  </div>
</div>
