<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">COMPANY EMPLOYEE EDIT</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal form-bordered padder-t-b" name="EmployeeForm" >
			<div class="form-group">
				<label class="col-sm-4 col-md-4 control-label">Employee Code</label>
				<div class="col-sm-7">
					<div class="form-control-static">{{CompanyEmployeeEditData.userCode}}</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 col-md-4 control-label">Employee Name</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyEmployeeEditData.userName" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label"> Company Name</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyEmployeeEditData.companyName" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label"> Branch Name</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyEmployeeEditData.branchName" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">EmailId</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyEmployeeEditData.emailId" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">PhoneNo</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyEmployeeEditData.phoneNo" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">DOB</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<!-- <input type="text" class="form-control" ng-model="CompanyEmployeeEditData.dob" /> -->
						<input type="datetime" class="form-control" date-time ng-model="CompanyEmployeeEditData.dob" min-view="date" auto-close="true" format="dd/MM/yyyy">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Gender</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyEmployeeEditData.gender" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Contact Type</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyEmployeeEditData.userType" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
		<button type="button" class="btn btn-primary" ng-click="update(CompanyEmployeeEditData)">Save changes</button>
	</div>
</div>
<style>
.modal-header{
	padding: 10px 15px !important;
}
.modal-body {
    padding: 0px 30px 0px 30px;
}
</style>
