<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Company Branch Creation</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li>
				<a href="#/dashboards/CompanyTemplate">Company List</a>
			</li>
			<li class="active">
				<strong>Company Branch Creation</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="padding: 12px 10px 22px;">
	<div class="row">
		<div class="col-lg-12" style="padding:0px;">
			<div class="ibox">
				<div class="ibox-content wizard" style="padding:12px 12px 10px 10px;">
					<div class="wizard">
						<div class="content">
							<form id="companyBranchForm" method="get" action="" class="form-horizontal">
								<div id="companyBranchwizard">
									<ul>
									  <li><a data-target="#tab1" class="text-center" data-toggle="tab">COMPANY BRANCH DETAILS</a></li>
										<!-- <li><a data-target="#tab2" class="text-center" data-toggle="tab">RESTAURANT BRANCH</a></li> -->
										<li><a data-target="#tab3" class="text-center" data-toggle="tab">BRANCH ADDRESS</a></li>
										<li><a data-target="#tab4" class="text-center" data-toggle="tab">CONFIRM</a></li>
									</ul>
									<div class="tab-content">
									  <div class="tab-pane" id="tab1">
									    <div class="form-group" style="">
												<label class="col-sm-2 control-label">Company Name</label>
												<div class="col-sm-4">
													<select class="form-control select2_demo_1" ng-model="companyBranch.companyId" required style="width:100%;" ng-change="changeCompany()" name="companyName">
															<option value=""></option>
															<option value="{{company.id}}" data="{{company.companyName}}" ng-repeat="company in allCompanies">{{company.companyName}}</option>
														</select>
												</div>
												<label class="col-sm-2 control-label">Branch Name</label>
												<div class="col-sm-4">
														<input type="text" class="form-control" name="branchName" ng-model="companyBranch.branchName" required/>
												</div>
										 	</div>											
									  <!-- </div>
									  <div class="tab-pane" id="tab2"> -->
									    <div class="form-group">
												
												<label class="col-sm-2 control-label">Email ID</label>
												<div class="col-sm-4">
														<input type="text" class="form-control" name="branchEmail" ng-model="companyBranch.branchEmail" required/>
												</div>
												<label class="col-sm-2 control-label">Phone Number</label>
												<div class="col-sm-4">	
														<input type="text"  class="form-control" name="phoneNo" ng-model="companyBranch.phoneNo" required/>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Landline Number</label>
												<div class="col-sm-4">
													<input type="text" placeholder="landline No." class="form-control" name="landlineNo" ng-model="companyBranch.landlineNo" required/>
												</div>
												<label class="col-sm-2 control-label">Branch Type</label>
												<div class="col-sm-4">
													<select class="form-control select2_demo_4" name="type" ng-model="companyBranch.branchType" required style="width:100%;">
														<option value=""></option>
														<option value="SubBranch">SubBranch</option>
														<option value="MainBranch">MainBranch</option>
													</select>
												</div>
											</div>
											<!-- <div class="form-group">
												<label class="col-sm-2 control-label">Logo</label>
												<div class="col-sm-4" style="margin-top:8px;">
														<input type="file" onchange="angular.element(this).scope().upload(this, this.id)" class="form-control" name="logoImageNormal" required/>
												</div>
												<label class="col-sm-2 control-label">Logo Preview</label>
												<div class="col-sm-4" style="margin-top:8px;">
													<div class="logoImgPath1" >
													</div>
												</div>
											</div> -->
									  </div>
									  <div class="tab-pane" id="tab3">
									  	<div class="form-group">
												<label class="col-sm-2 control-label">Address Type</label>
												<div class="col-sm-4">
													<select class="form-control select2_demo_2" name="type" ng-model="companyAddress.type" style="width:100%;" required>
														<option value=""></option>
														<option value="Permanent">Permanent</option>
														<option value="Temporary">Temporary</option>
													</select>
												</div>
												<label class="control-label col-md-2">Zones</label>
												<div class="col-md-4">
													<select class="form-control select2_demo_3" name="zones" ng-model="companyBranch.zoneId" style="width:100%;" ng-change="zonechange()" required>	
													  <option value=""></option>			
														<option ng-repeat="zones in zonesCompanyAllDetails.entities" value="{{zones['properties'].id}}" data="{{zones['properties'].zoneName}}">{{zones['properties'].zoneName}}</option>
													</select>
												</div>
											</div> 
											<div class="form-group">
												<label class="col-sm-2 control-label">Plot No:</label>
												<div class="col-sm-4">
													<input type="text" class="form-control" name="ploatno" ng-model="companyAddress.line1" required/>
												</div>
												<label class="col-sm-2 control-label">Town</label>
												<div class="col-sm-4">
													<input type="text" class="form-control" name="town" ng-model="companyAddress.town" required/>
												</div>
											</div> 
											<div class="form-group">
												<label class="col-sm-2 control-label">City</label>
												<div class="col-sm-4">
													<input type="text" class="form-control" name="city" ng-model="companyAddress.city" required/>
												</div>
												<label class="col-sm-2 control-label">District</label>
												<div class="col-sm-4">
													<input type="text" class="form-control" name="district" ng-model="companyAddress.district" required/>
												</div>
											</div> 
											<div class="form-group">
												<label class="col-sm-2 control-label">State</label>
												<div class="col-sm-4">
													<input type="text" class="form-control" name="state" ng-model="companyAddress.state" required/>
												</div>
												<label class="col-sm-2 control-label">Zip Code</label>
												<div class="col-sm-4">
													<input type="number" class="form-control" name="zipcode" ng-model="companyAddress.zipcode" required/>
												</div>
											</div>
									  </div>
										<div class="tab-pane" id="tab4">
											<div class="row">
												<h3 class="block text-center b-b">CONFIRM THE ACCOUNT</h3>
												<div class="col-lg-6 b-r">
													<div class="form-group">
														<label class="control-label col-md-4">COMPANY NAME:</label>
														<div class="col-md-8">
															<p class="form-control-static" data-display="companyBranchName" ng-model="companyBranchName">
															{{companyBranchName}}</p>
														</div>
														<label class="control-label col-md-4">BRANCH NAME:</label>
														<div class="col-md-8">
															<p class="form-control-static" ng-model="companyBranch.branchName">
															{{companyBranch.branchName}}</p>
														</div>
														<label class="control-label col-md-4">EMAILID:</label>
														<div class="col-md-8">
															<p class="form-control-static" ng-model="companyBranch.branchEmail">
															{{companyBranch.branchEmail}}</p>
														</div>
													<!--</div>
													<h4 class="form-section">SEO:</h4> 
													<div class="form-group">-->
														<label class="control-label col-md-4">PHONE NUMBER:</label>
														<div class="col-md-8">
															<p class="form-control-static" ng-model="companyBranch.phoneNo">
																{{companyBranch.phoneNo}}
															</p>
														</div>
														<label class="control-label col-md-4">LANDLINE NUMBER:</label>
														<div class="col-md-8">
															<p class="form-control-static" ng-model="companyBranch.landlineNo">
															{{companyBranch.landlineNo}}</p>
														</div>
														<label class="control-label col-md-4">BRANCH TYPE:</label>
														<div class="col-md-8">
															<p class="form-control-static" ng-model="companyBranch.branchType">
															{{companyBranch.branchType}}</p>
														</div>
													</div>
												</div>
												 <div class="col-lg-6">
													<h4 class="form-section">ADDRESS:</h4>
													<div class="form-group">
														<label class="control-label col-md-4">ADDRESS TYPE:</label>
														<div class="col-md-8">
															<p class="form-control-static" data-display="type" ng-model="companyAddress.type">
															{{companyAddress.type}}</p>
														</div>
														<label class="control-label col-md-4">PLOT NO.:</label>
														<div class="col-md-8">
															<p class="form-control-static" data-display="line1" ng-model="companyAddress.line1">
																{{companyAddress.line1}}
															</p>
														</div>
														<label class="control-label col-md-4">TOWN:</label>
														<div class="col-md-8">
															<p class="form-control-static" data-display="town" ng-model="companyAddress.town">
															{{companyAddress.town}}</p>
														</div>
														<label class="control-label col-md-4">CITY:</label>
														<div class="col-md-8">
															<p class="form-control-static" data-display="city" ng-model="companyAddress.city">
															{{companyAddress.city}}</p>
														</div>
														<label class="control-label col-md-4">DISTRICT:</label>
														<div class="col-md-8">
															<p class="form-control-static" data-display="district" ng-model="companyAddress.district">
															{{companyAddress.district}}</p>
														</div>
														<label class="control-label col-md-4">STATE:</label>
														<div class="col-md-8">
															<p class="form-control-static" data-display="state" ng-model="companyAddress.state">
															{{companyAddress.state}}</p>
														</div>
														<label class="control-label col-md-4">ZIPCODE:</label>
														<div class="col-md-8">
															<p class="form-control-static" data-display="zipcode" ng-model="companyAddress.zipcode">
															{{companyAddress.zipcode}}</p>
														</div>
													</div>
													<div><label class="control-label col-md-4">ZONES:</label>
														<ul><li><span ng-repeat="zonedetails in zone">{{zonedetails.zoneName}},</span></li></ul>
													</div>
												</div> 
											</div>
									  </div>
										<ul class="pager wizard">
											<li class="previous first" style="display:none;"><a >First</a></li>
										  <li class="next pull-right"><a >NEXT</a></li>
											<li class="previous pull-right m-r-sm"><a >PREVIOUS</a></li>
											<li class="pull-right m-r-sm"><a href="#/dashboards/CompanyTemplate">CLOSE</a></li>
											<li class="next last" style="display:none;"><a>Last</a></li>
											<li class="confirm hide" ng-hide="confirm"><a ng-click="save(company,companyBranch,companyAddress,companyBranchZone)">CONFIRM</a></li>
										</ul>
									</div>	
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>

#companyBranchwizard >  ul > li{
	width: 33% !important;
}
label.error{
	display: block !important;
	margin-bottom: 0px !important
}
.tab-pane{
	padding: 10px;
}
.border{
	border: 1px solid #1ab394;
}
.tag-list li a{
	font-size: 15px;
}
</style>
<script>
$(".select2_demo_1").select2({
    placeholder: "SELECT A COMPANY .....",
    allowClear: true
});	
$(".select2_demo_2").select2({
    placeholder: "SELECT A ADDRESS TYPE.....",
    allowClear: true
});
$(".select2_demo_3").select2({
    placeholder: "SELECT  ZONES.....",
    allowClear: true
});
$(".select2_demo_4").select2({
    placeholder: "SELECT BRANCH TYPE.....",
    allowClear: true
});
</script>
<!-- <input type="radio" name="optionsRadios" value="{{tags['properties'].tagName}}" ng-model="tabbed.tagName" /> -->