<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">COMPANY ADMIN EDIT</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal form-bordered padder-t-b" name="EmployeeForm" >
			<div class="form-group">
				<label class="col-sm-4 col-md-4 control-label">Employee Code</label>
				<div class="col-sm-7">
					<div class="form-control-static">{{CompanyAdminEditData.userCode}}</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 col-md-4 control-label">Employee Name</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyAdminEditData.userName" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label"> Name</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<!-- <input type="text" class="form-control" disabled ng-model="CompanyAdminEditData.companyName" /> -->
						{{CompanyAdminEditData.companyName}}@{{CompanyAdminEditData.branchName}}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label"> Branch Name</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<!-- <input type="text" class="form-control" ng-model="CompanyAdminEditData.branchName" /> -->
						<select class="form-control" ng-model="CompanyAdminEditData.companyBranchId" required style="width:100%;" ng-change="changeCompany()" name="companyName">
							<option value=""></option>
							<option value="{{companyNames['properties'].id}}" ng-repeat="companyNames in companydetails">{{companyNames['properties'].companyName}}@{{companyNames['properties'].branchName}} </option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">EmailId</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyAdminEditData.emailId" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">PhoneNo</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyAdminEditData.phoneNo" />
					</div>
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-4 control-label">DOB</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyAdminEditData.dob" /> 
						<input type="datetime" class="form-control" date-time ng-model="CompanyAdminEditData.dob" min-view="date" max-view="date" auto-close="true" format="dd/MM/yyyy" maxlength="10">
					</div>
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-4 control-label">Gender</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<!-- <input type="text" class="form-control" ng-model="CompanyAdminEditData.gender" /> -->
						<label style="display:inline-block;">
							<div class="radio"> 
								<input type="radio" id="radio1" name="radioTest" ng-model="CompanyAdminEditData.gender" value="Male"> <label for="radio1">Male </label>
							</div>
						</label>
            <label style="display:inline-block;"> 
            	<div class="radio"> 
            	<input type="radio" id="radio2" name="radioTest" ng-model="CompanyAdminEditData.gender" value="Female"> <label for="radio2">Female  </label>
            	</div>
            </label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Contact Type</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" ng-model="CompanyAdminEditData.userType" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
		<button type="button" class="btn btn-primary" ng-click="update(CompanyAdminEditData)">Save changes</button>
	</div>
</div>

<style>
.modal-header{
	padding: 10px 15px !important;
}
.modal-body {
    padding: 0px 30px 0px 30px;
}
</style>