<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row white-bg" style="margin-top: 25px;">
    <div class="col-lg-4 col-md-4 timeline-item">
        <div class="row">
            <div class="col-xs-3 date">
                <i class="fa fa-briefcase"></i>
                6:00 am
                <br/>
                <small class="text-navy">2 hour ago</small>
            </div>
            <div class="col-xs-9 content">
                <p class="m-b-xs"><strong>Meeting</strong></p>
                <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
                    sale.</p>

                <p><line-chart data="main.LineChart.data" options="main.LineChart.options"></line-chart></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 timeline-item">
        <div class="row">
            <div class="col-xs-3 date">
                <i class="fa fa-file-text"></i>
                7:00 am
                <br/>
                <small class="text-navy">3 hour ago</small>
            </div>
            <div class="col-xs-9 content">
                <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 timeline-item">
      <div class="row">
        <div class="col-xs-3 date">
          <i class="fa fa-coffee"></i>
          8:00 am
          <br/>
        </div>
        <div class="col-xs-9 content">
          <p class="m-b-xs"><strong>Coffee Break</strong></p>
          <p>Go to shop and find some products.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title" style="background-color: #23C6C8">
          <span class="label label-success pull-right">Monthly</span>
          <h5 style="color:#fff;">Income</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">40 886,200</h1>
          <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
          <small>Total income</small>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title" style="background-color:#1c84c6;">
          <span class="label label-success pull-right">Monthly</span>
          <h5 style="color:#fff;">Income</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">40 886,200</h1>
          <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
          <small>Total income</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-title" style="background-color: #23C6C8">
          <span class="label label-success pull-right">Monthly</span>
          <h5 style="color:#fff;">Income</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">40 886,200</h1>
          <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
          <small>Total income</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-title" style="background-color:#1c84c6;">
          <span class="label label-success pull-right">Monthly</span>
          <h5 style="color:#fff;">Income</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">40 886,200</h1>
          <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
          <small>Total income</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-title" style="background-color: #23C6C8">
          <span class="label label-success pull-right">Monthly</span>
          <h5 style="color:#fff;">Income</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">40 886,200</h1>
          <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
          <small>Total income</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-title" style="background-color:#1c84c6;">
          <span class="label label-success pull-right">Monthly</span>
          <h5 style="color:#fff;">Income</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">40 886,200</h1>
          <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
          <small>Total income</small>
        </div>
      </div>
    </div>
  </div>
</div>