<div class="wrapper wrapper-content animated fadeInRight" style="padding: 12px 10px 22px;">
	<div class="row">
		<div class="col-lg-12" style="padding:0px;">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="text-center">
						<div class="bg-primary lock-word text-center" style="border-radius:50%;width: 230px;height: 150px;">
							<span class="m-t-xl" style="font-size:50px;">OFFERS</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>

.lock-word {
    z-index: 10;
    position: absolute;
    top: 200px;
    left: 80%;
    /* margin-left: -470px; */
}
</style>