<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>SELLER ITEMS</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a ui-sref="Sellers.SellerTemplate">Seller List</a>
      </li>
      <li>
        <a href="#/Sellers/{{sellerName}}/{{sellerId}}">Single Seller</a>
      </li>
      <li class="active">
        <strong> Seller Items List</strong>
      </li>
		</ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="" style="min-height:38px;padding:5px 0px;">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center">
        	<input type="text" placeholder="Search Items" class="form-control"  ng-model="searchItems"/>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="btn-group pull-right" style="padding-top: 4px;">
            <a href="#/Sellers/Supplier/{{sellerName}}/{{restId}}" class="btn-fit-height grey-salt" data-close-others="true">
             CLOSE 
            </a>
          </div>
          <!-- <div ibox-tools></div> -->
        </div>
      </div>
    </div>
  </div>
	<div class="row">
		<div class="col-lg-3" ng-repeat="branchItems in onlyBranchItemData | filter:searchItems">
			<div class="contact-box">
				<a ui-sref="profile">
					<div class="col-sm-4">
						<div class="text-center">
							<img alt="image" class="img-circle m-t-xs img-responsive" src="img/a1.jpg">

							<div class="m-t-xs font-bold">Graphics designer</div>
						</div>
					</div>
					<div class="col-sm-8">
						<h3><strong>{{branchItems.itemName}}</strong></h3>

						<p> {{branchItems.price}}</p>
						<!-- <address>
							<strong>Twitter, Inc.</strong><br>
							795 Folsom Ave, Suite 600<br>
							San Francisco, CA 94107<br>
							<abbr title="Phone">P:</abbr> (123) 456-7890
						</address> -->
					</div>
					<div class="clearfix"></div>
				</a>
			</div>
		</div>
	</div>
</div>