<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">SELLER ITEM CUT TYPES</h4>
	</div>
	<div class="modal-body">
	<!-- <p ng-repeat = "cutType in cutTypeDetails" ng-bind="cutType['properties'].cutTypeName"></p> -->
		<form class="form-horizontal form-bordered padder-t-b itemform" name="ItemForm">
			<div class="text-center">please select CutTypes HOLD THE <b>CTRL Key</b></div>
			<div class="form-group">
				<label class="control-label col-md-4">CutType Name</label>
				<div class="col-md-7">
					<select class="form-control" ng-model="cutTypeName" style="width:100%;" required name="cutTypeName" multiple ng-change="cutTypeChange(cutTypeId)">
						<option ng-repeat="cutType in cutTypeDetails" ng-if="itemCutType.indexOf(cutType['properties'].cutTypeName)==-1" value="{{cutType['properties'].cutTypeName}}" data="{{cutType['properties'].cutTypeName}}">{{cutType['properties'].cutTypeName}}</option>
					</select>	
				</div>
			</div>
			<div>
			<!-- <div class="form-group">
				<label class="control-label col-md-4">Status <span class="required">
					* </span>
				</label>
				<div class="col-md-7">
					<select class="select2_demo_1 form-control" name="branchStatus" ng-model="cutType.status" style="width:100%;" required>
						<option value=""></option>
						<option value="ACTIVE">ACTIVE</option>
						<option value="INACTIVE">INACTIVE</option>
					</select>
				</div>
			</div> -->
		</form>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
		<button type="button" class="btn btn-primary" ng-click="sellerItemCutTypeCreate(cutTypeName)">Add</button>
	</div>
</div>