<div class="row wrapper border-bottom white-bg" style="padding:10px 0px">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a ui-sref="ItemMaster.SubCategoryTemplate">SubCategory List</a>
      </li>
      <li class="active">
        <strong>Single SubCategory List</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div ng-controller="SingleSubCategoryController">
	<div class="col-lg-12">
		<div class="tabs-container">
			<div class="tabs-right">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" data-target="#tab-1"> INFO </a></li>
					<li class=""><a data-toggle="tab" data-target="#tab-2">  SEO</a></li>
					<li class=""><a data-toggle="tab" data-target="#tab-3"> TAGS</a></li>
					<li class=""><a data-toggle="tab" data-target="#tab-4">ITEMS</a></li>
					<li class=""><a data-toggle="tab" data-target="#tab-5">IMAGES</a></li>
				</ul>
				<div class="tab-content ">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<div class="font-bold text-center b-b">INFO</div>
							<form class="form-horizontal form-bordered padder-t-b" name="ItemForm" >
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 col-md-4 control-label"> Code</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{subCategoryDetails['properties'].subCategoryCode}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label"> Name</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{subCategoryDetails['properties'].subCategoryName}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Status</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{subCategoryDetails['properties'].status}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Description</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{subCategoryDetails['properties'].description}}</div>
									</div>
								</div>
							</form>
							<div class="form-actions">
								<div class="row">
									<div class="text-center col-md-12">
										<a href="javascript:;" ng-click="editSubCategory(subCategoryDetails['properties'])" class="btn btn-outline btn-primary">
											EDIT
										</a>
										<a ui-sref="ItemMaster.SubCategoryTemplate" class="btn btn-outline btn-warning">
											CANCEL
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
						<div class="panel-body">
							<div class="font-bold text-center b-b">SEO</div>
							<form class="form-horizontal form-bordered padder-t-b" name="ItemSeoForm">
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Title</label>
									<div class="col-sm-7">
										<div class="form-control-static">
											{{subCategoryDetails['properties'].seoTitle}}
										</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Keywords</label>
									<div class="col-sm-7">
										<div class="form-control-static">
											{{subCategoryDetails['properties'].seoKeywords}}
										</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="control-label col-md-4">Meta Description</label>
									<div class="col-sm-7">
										<div class="form-control-static">
											{{subCategoryDetails['properties'].seoMetaDescription}}
										</div>
									</div>
								</div>
							</form>
							<div class="form-actions">
								<div class="row">
									<div class="text-center col-md-12">
										<a href="javascript:;" ng-click="editSubCategorySeo(subCategoryDetails['properties'])" class="btn btn-outline btn-primary">
											EDIT
										</a>
										<a ui-sref="ItemMaster.SubCategoryTemplate" class="btn btn-outline btn-warning">
											CANCEL
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- END tags -->
					</div>
					<div id="tab-3" class="tab-pane">
						<div class="panel-body">
							<!-- START tags -->
							<div class="col-lg-12 b-b" style="padding-bottom:6px;">
								<div class="font-bold text-center col-lg-8"> TAGS</div>
								<div class="col-lg-4">
									<a ng-click="addsubCategoryTags()" class="pull-right">
										<i class="fa fa-plus"></i>
										ADD TAG 
									</a>
								</div>
							</div>
							<form class="form-horizontal form-bordered padder-t-b" name="TagForm" >
								<div class="" ng-repeat="tags in subCategoryTagDetails">
									<label class="col-sm-4 col-md-4 control-label">{{tags['properties'].tagTypeName}}</label>
									<div class="col-sm-4">
										<div class="form-control-static">{{tags['properties'].tagName}}</div>
									</div>
									<div class="col-sm-4">
										<div class="form-control-static">{{tags['properties'].subCategoryTagsStatus}}</div>
									</div>
								</div>
							</form>
							<div class="form-actions">
								<div class="row">
									<div class="text-center col-md-12">
									<a href="javascript:;" class="btn btn-outline btn-primary" ng-click="editsubCategoryTag(subCategoryTagDetails)" style="margin:5px;">
											EDIT
										</a>
										<a ui-sref="ItemMaster.SubCategoryTemplate" class="btn btn-outline btn-warning">
											CLOSE
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- END tags -->
					</div>
					
					<div id="tab-4" class="tab-pane">
						<div class="panel-body">
						<div class="font-bold text-center b-b">ITEMS</div>
						<div class="widget style1 navy-bg col-xs-2 m-r-xs" ng-repeat="itemData in itemDetails">
              <div class="row">
              	<div class="col-xs-12">
              		 <div class="text-warning text-center font-bold h6">{{itemData['properties'].itemName}}</div>
                      <div class="clearfix"></div>
              	</div>
								
							</div>
						</div>
						
						</div>
					</div>
					<div id="tab-5" class="tab-pane">
						<div class="panel-body">
							<div class="font-bold text-center b-b"> IMAGES</div>
							<div class="lightBoxGallery">
								<a ng-repeat="subCategoryImages in subCategoryImagesDetails">
									<label class="col-sm-4 col-md-4 control-label">{{subCategoryImages.imageName}}</label>
									<label class="col-sm-4 col-md-4 control-label">{{subCategoryImages.imageType}}</label>
									<div class="col-sm-4">
										<img class="" ng-src="{{subCategoryImages.imageLocation}}" alt="{{subCategoryImages.imageName}}" width="50%" />
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
.padder-t-b {
	padding-top: 15px;
	padding-bottom: 5px;
}
</style>