<div class="row wrapper border-bottom white-bg" style="padding:10px 0px">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a ui-sref="Timings.TimingTemplate"> Timing List</a>
      </li>
      <li class="active">
        <strong>Single Timing List</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div ng-controller="SingleTimingsController">
	<div class="col-lg-12">
		<div class="tabs-container">
			<div class="tabs-right">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" data-target="#tab-1"> TIMINGS INFO </a></li>
				</ul>
				<div class="tab-content ">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<div class="font-bold text-center b-b">TIMINGS INFO</div>
							<form class="form-horizontal form-bordered padder-t-b" name="RestaurantForm" >
								<!-- <div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label"> Name</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timingDetails['properties'].restaurantName}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label"> Branch Name</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timingDetails['properties'].branchName}}</div>
									</div>
								</div> -->
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 col-md-4 control-label">Timing Name</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timing['properties'].timingName}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Start Time</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timing['properties'].startTime}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">End Time</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timing['properties'].endTime}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Status</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timing['properties'].status}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Description</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timing['properties'].description}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Status Flag</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timing['properties'].statusFlag}}</div>
									</div>
								</div>
								<!-- <div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Seo Title</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timingDetails['properties'].seoTitle}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Seo KeyWords</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timingDetails['properties'].seoKeyWords}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Seo Description</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{timingDetails['properties'].seoMetaDescription}}</div>
									</div>
								</div> -->
							</form>
							<div class="form-actions">
								<div class="row">
									<div class="text-center col-md-12">
										<a href="javascript:;" ng-click="TimingsEdit(timing['properties'])" class="btn btn-outline btn-primary">
											EDIT
										</a>	
										<a ui-sref="Timings.TimingTemplate" class="btn btn-outline btn-warning">
											CANCEL
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
.padder-t-b {
	padding-top: 15px;
	padding-bottom: 5px;
}
</style>