<div class="row wrapper border-bottom white-bg" style="padding:10px 0px">
  <div class="col-lg-10">
	<ol class="breadcrumb">
	  <li>
		<a href="index.html">Home</a>
	  </li>
	  <li>
		<a ui-sref="ItemMaster.ItemsTemplate">Items List</a>
	  </li>
	  <li class="active">
		<strong>Single Item List</strong>
	  </li>
	</ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div ng-controller="SingleItemController">
	<div class="col-lg-12">
		<div class="tabs-container">
			<div class="tabs-right">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" data-target="#tab-1"> ITEM INFO</a></li>
					<li class=""><a data-toggle="tab" data-target="#tab-2">ITEM SEO</a></li>
					<li class=""><a data-toggle="tab" data-target="#tab-3">ITEM TAGS</a></li>
					<li class=""><a data-toggle="tab" data-target="#tab-4">ITEM ATTRIBUTES</a></li>
					<li class=""><a data-toggle="tab" data-target="#tab-5">SELLERS BRANCH </a></li>
					<li class=""><a data-toggle="tab" data-target="#tab-6">IMAGES </a></li>
				</ul>
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<div class="font-bold text-center b-b">ITEM INFO</div>
							<form class="form-horizontal form-bordered padder-t-b" name="ItemForm">
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 col-md-4 control-label">Item Code</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{itemDetails['properties'].itemCode}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Item Name</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{itemDetails['properties'].itemName}}
										</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="control-label col-md-4">Sub Category</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{itemDetails['properties'].subCategoryName}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Status</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{itemDetails['properties'].status}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Description</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{itemDetails['properties'].description}}</div>
									</div>
								</div>
							</form>
							<div class="form-actions">
								<div class="row">
									<div class="text-center col-md-12">
										<a href="javascript:;" ng-click="editItem(itemDetails['properties'])" class="btn btn-outline btn-primary">
											EDIT
										</a>
										<a ui-sref="ItemMaster.ItemsTemplate" class="btn btn-outline btn-warning">
											CLOSE
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
						<div class="panel-body">
							<!-- START Seo Title -->
							<div class="font-bold text-center b-b">ITEM SEO</div>
							<form class="form-horizontal form-bordered padder-t-b" name="ItemSeoForm">
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Title</label>
									<div class="col-sm-7">
										<div class="form-control-static">
											{{itemDetails['properties'].seoTitle}}
										</div>
									</div>
								</div>
								<!-- <div class="clearfix"></div> -->
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Keywords</label>
									<div class="col-sm-7">
										<div class="form-control-static">
											{{itemDetails['properties'].seoKeywords}}
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-4">Meta Description</label>
									<div class="col-sm-7">
										<div class="form-control-static">
											{{itemDetails['properties'].seoMetaDescription}}
										</div>
									</div>
								</div>
							</form>
							<div class="form-actions">
								<div class="row">
									<div class="text-center col-md-12">
										<a href="javascript:;" ng-click="editItemSeo(itemDetails['properties'])" class="btn btn-outline btn-primary">
											EDIT
										</a>
										<a ui-sref="ItemMaster.ItemsTemplate" class="btn btn-outline btn-warning">
											CLOSE
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- END Seo Title -->
					</div>
					<div id="tab-3" class="tab-pane">
						<div class="panel-body">
								<div class="col-lg-12 b-b" style="padding-bottom:6px;">
								<div class="font-bold text-center col-lg-8"> TAGS</div>
								<div class="col-lg-4">
									<a ng-click="additemTags()" class="pull-right">
										<i class="fa fa-plus"></i>
										ADD TAG
									</a>
								</div>
							</div>
							<!-- <form class="form-horizontal form-bordered padder-t-b" name="TagForm" >
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Item Name</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{singleTagDetails['properties'].itemName}}</div>
									</div>
								</div>
								<div class="form-group" style="height:30px;">
									<label class="col-sm-4 control-label">Tag Name</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{singleTagDetails['properties'].tagsName}}</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">ItemTags Status</label>
									<div class="col-sm-7">
										<div class="form-control-static">{{singleTagDetails['properties'].itemTagsStatus}}</div>
									</div>
								</div>
							</form> -->
							<form class="form-horizontal form-bordered padder-t-b" name="TagForm">
								<div class="" ng-repeat="itemTag in itemTagDetails">
									<label class="col-sm-4 col-md-4 control-label">{{itemTag['properties'].tagName}}</label>
									<div class="col-sm-4">
										<div class="form-control-static">{{itemTag['properties'].tagTypeName}}</div>
									</div>
									<div class="col-sm-4">
										<div class="form-control-static">{{itemTag['properties'].itemTagsStatus}}</div>
									</div>
								</div>
							</form>
							<div class="form-actions">
								<div class="row">
									<div class="text-center col-md-12">
									<a href="javascript:;" ng-click="editItemTag(itemTagDetails)" class="btn btn-outline btn-primary" style="margin:5px;">
											EDIT
										</a>
										<a ui-sref="ItemMaster.ItemsTemplate" class="btn btn-outline btn-warning">
											CLOSE
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div id="tab-4" class="tab-pane">
						<div class="panel-body">
								<div class="col-lg-12 b-b" style="padding-bottom:6px;">
								<div class="font-bold text-center col-lg-8"> ATTRIBUTES</div>
								<div class="col-lg-4">
									<a ng-click="additemAttributes(itemDetails['properties'].categoryId)" class="pull-right">
										<i class="fa fa-plus"></i>
										ADD ATTRIBUTES
									</a>
								</div>
							</div>
							<form class="form-horizontal form-bordered padder-t-b" name="AttributeForm" >
							<div class="" ng-repeat="attributesData in itemAttributesDetails">
									<label class="col-sm-3 col-md-3 control-label">{{attributesData['properties'].attributeName}}</label>
									<div class="col-sm-3">
										<div class="form-control-static">{{attributesData['properties'].attributeValue}}</div>
									</div>
									<div class="col-sm-3">
										<div class="form-control-static">{{attributesData['properties'].status}}</div>
									</div>
									<div class="col-sm-3">
										<a href="javascript:;" ng-click="editItemAttribute(attributesData['properties'])" class="btn btn-outline btn-primary" style="margin:5px;">
											EDIT
										</a>
									</div>								
								</div>
							</form>
							<div class="form-actions">
								<div class="row">
									<div class="text-center col-md-12">
										<a ui-sref="ItemMaster.ItemsTemplate" class="btn btn-outline btn-warning">
											CANCEL
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="tab-5" class="tab-pane">
						<div class="panel-body">
							<div class="col-lg-12 b-b" style="padding-bottom:6px;">
								<div class="col-lg-8 font-bold text-center"> BRANCH DETAILS</div>
								<div class="col-lg-4">
									<a ng-click="addSellerBranch(itemId,name)" class="pull-right">
										<i class="fa fa-plus"></i>
										ADD SELLER BRANCH
									</a>
								</div>
							</div>
							<table class="footable table table-striped toggle-arrow-tiny" data-page-size="2">
								<thead>
									<tr>
										<th data-toggle="true">Branch Name</th>
										<th>Price</th>
										<th>Quantity</th>
										<!-- <th data-hide="all">Timings</th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="sellerItem in singleItemDetails | filter:searchBranch" my-directive >
										<td>{{sellerItem['properties'].branchName}}</td>
										<td>{{sellerItem['properties'].sellingPrice}}</td>
										<td>{{sellerItem['properties'].quantity}}</td>
										<!-- <td><ol class="nav navbar-nav"><li ng-repeat="sellerItems in sellerItem.entities" ng-if="sellerItems['class']=='restaurantItemTiming'" class="m-l-sm"> {{restaurantItems['properties'].timingName}},</li></ol></td> -->
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5">
								  		<ul class="pagination pull-right"></ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div id="tab-6" class="tab-pane">
						<div class="panel-body">
							<div class="font-bold text-center b-b"> IMAGES</div>
							<div>
								<a class="col-lg-12" ng-repeat="itemImage in itemImageDetails">
									<label class="col-sm-4 col-md-4 control-label">{{itemImage['properties'].imageName}}</label>
									<label class="col-sm-4 col-md-4 control-label">{{itemImage['properties'].imageType}}</label>
									<div class="col-sm-4">
										<img class="" ng-src="{{itemImage['properties'].imageLocation}}" alt="{{itemImage['properties'].imageName}}" width="50%" />
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>
<style>
.padder-t-b {
	padding-top: 15px;
	padding-bottom: 5px;
}
</style>
<script type="text/javascript" src="js/plugins/dataTables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/plugins/footable/footable.all.min.js"></script>
<script type="text/javascript" src="js/plugins/dataTables/dataTables.bootstrap.js"></script>