<!-- <ion-view view="" hide-nav-bar="true" hide-back-button="true" title="Welcome" > -->
<ion-view view="" hide-nav-bar="true" hide-back-button="true" title="Welcome"  ng-controller="LoadingController">
  <ion-content has-header="false" scroll="false" style="background-position: -320px; background-size: cover;">
    <div class="first-Pag_cnt" >
        <div class="center_logo">
          <!-- <h4>Hi, Welcome To BuyNONVeg.....</h4> -->
          <!-- <i class="ion ion-fork" style="font-size: 60px;"></i>
          <i class="ion ion-android-restaurant" style="font-size: 60px;"></i>
          <i class="ion ion-spoon" style="font-size: 60px;"></i> -->
          <h3><img src="img/Bnv.gif" /></h3>
          <div class="pdt20 ">
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>

<style type="text/css">
.loading-container .loading {
    padding: 20px;
    border-radius: 5px;
     background-color: rgba(0, 0, 0, 0); 
    color: #fff;
    text-align: center;
    text-overflow : ellipsis;
    font-size: 15px;
}
.center_logo {
    margin-top: 0% !important;
    font-family: cursive;
    font-weight: 800;
    color: #B57878;
    text-align: center;
}
</style>