<ion-content>
  <ion-list>
    <!-- <th:block th:each="subOrder,row:${subOrders}" th:if="${subOrder.timings}">
      <input type="hidden" th:attr="ng-init='setOrderData(\''+${subOrder.id}+'\',\''+${subOrder.subOrderCode}+'\',\''+${subOrder.subOrderStatus}+'\',\''+${subOrder.subOrderTotalPrice}+'\',\''+${subOrder.timings.startTime}+'\',\''+${subOrder.timings.endTime}+'\',\''+${subOrder.timings.timingName}+'\',\''+${subOrder.subOrderDeliveryTime}+'\',\''+${#dates.format(subOrder.subOrderDeliveryDate, 'dd-MMM-yyyy')}+'\',\''+${row.index}+'\')'" />
      <th:block th:each="orderItem:${subOrder.orderItems}">
        <input type="hidden" th:attr="ng-init='setOrderItemsData(\''+${subOrder.id}+'\',\''+${subOrder.subOrderCode}+'\',\''+${orderItem.sellerItem.item.itemName}+'\',\''+${orderItem.id}+'\',\''+${orderItem.units}+'\')'" />
      </th:block>
    </th:block>
    <th:block th:each="subOrder,row:${subOrders}" th:unless="${subOrder.timings}">
      <input type="hidden" th:attr="ng-init='setOrderData(\''+${subOrder.id}+'\',\''+${subOrder.subOrderCode}+'\',\''+${subOrder.subOrderStatus}+'\',\''+${subOrder.subOrderTotalPrice}+'\',\'N/A\',\'N/A\',\'N/A\',\''+${subOrder.subOrderDeliveryTime}+'\',\''+${#dates.format(subOrder.subOrderDeliveryDate, 'dd-MMM-yyyy')}+'\',\''+${row.index}+'\')'" />
      <th:block th:each="orderItem:${subOrder.orderItems}">
        <input type="hidden" th:attr="ng-init='setOrderItemsData(\''+${subOrder.id}+'\',\''+${subOrder.subOrderCode}+'\',\''+${orderItem.sellerItem.item.itemName}+'\',\''+${orderItem.id}+'\',\''+${orderItem.units}+'\',\''+${orderItem.sellerItem.measurementUnit}+'\')'" />
      </th:block>
    </th:block> -->
    <!-- <p class="text-center" style="color:#F27028">Delivered Orders</p> -->
        <!-- <ion-item th:each="subOrder:${subOrders}" class="order-item animated bounceInLeft" th:if="${subOrder.subOrderStatus} == DELIVERED" th:attr="ng-click='toggleGroup(\''+${subOrder.id}+'\')'">

          <div>
            <div class="row no-padding">
              <span class="col col-50" style="color: #908282;font-size: 16px;" th:inline="text"  th:attr="ng-class='{active: isGroupShown(\''+${subOrder.id}+'\')}'">
                [[${subOrder.subOrderCode}]]
              </span>
              <span class="col col-25"  style="font-size: 14px;" th:inline="text">
                <i class="ion ion-clock"></i> [[${subOrder.timings.endTime}]]
              </span>
              <span class="col col-25"  style="font-size: 14px;" th:inline="text">
                <i class="ion ion-card"></i> [[${#numbers.formatInteger(subOrder.subOrderTotalPrice,2)}]]
              </span>
            </div>
            
          </div>
          <div class="item-accordion" style="" th:attr="ng-show='isGroupShown(\''+${subOrder.id}+'\')'">
            <div class="row accordion-toggle no-padding" style="font-size:14px;" >
              <div class="col col-80" style="">
                <div class="padding-left" th:each="orderItem:${subOrder.orderItems}" >
                  <p style="">
                    <span class="item-color" th:text="${orderItem.sellerItem.item.itemName}"></span>
                    <span class="units" style="padding: 0px 10px;border-right:1px solid #F1993E">500gm</span>
                    <span class="units" th:inline="text">
                     <i class="ion ion-close-round" style="font-size: 7px;"></i> 
                      <span style="margin-left:4px;">[[${#numbers.formatInteger(orderItem.units,2)}]]</span>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ion-item> -->
        <div ng-repeat="subOrder in orderData track by $index" class="card order-item animated bounceInLeft" ng-if="subOrder['properties'].subOrderStatus == 'DELIVERED' ">
          <div class="item item-divider" style="background-color:#FFFFFF;padding: 5px;">
            <div class="row" style="color: #CCCBCB;padding:0px;">
              <div class="col col-50 font-size">Delivery Time</div>
              <div class="col col-50 font-size" style="text-align: right;">Order No</div>
            </div>
            <div class="row" style="padding:0px;">
              <span class="col col-50" style="font-size: 12px;color: #4CAF50;">
                {{subOrder['properties'].subOrderDeliveryDate}} {{subOrder['properties'].subOrderDeliveryTime}}
              </span>
              <div class="col col-50 font-size" style="text-align: right;color: #4CAF50;">
                {{subOrder['properties'].subOrderCode}} 
                <!-- <span style="font-size: 10px;">({{subOrder.orderItems.length}})</span> -->
              </div>
            </div>
          </div>
          <div class="item item-text-wrap" style="padding: 5px;">
            <div class="row font-12" ng-repeat="orderItemData in subOrder.entities" ng-if="orderItemData['class'][0] == 'orderItem'">
              <div class="col-50 item-color order-item">
                {{orderItemData['properties'].sellerItemName}}
              </div>
              <div class="col-50">
                <span class="pull-right">{{orderItemData['properties'].units}} {{orderItemData['properties'].measurementUnit}}</span>
              </div>
            </div>
          </div>
          <div class="item item-divider" style="background-color:#FFFFFF;padding: 5px;">
            <div class="row">
              <!-- <a class="col-50 font-size button button-balanced" ng-click="deliveredOrder(subOrder.id,'DELIVERED')">DELIVERED</a> -->
              <div class="font-size col" style="text-align: center;color:#F44336;padding-top:10px;">
                <i class="fa fa-rupee"></i> {{subOrder['properties'].subOrderTotalPrice | number}}
                <p style="font-size:9px;">inclusive of all taxes</p>
              </div>
               <div class="col" style="text-align: center;color:#4CAF50;padding-top:16px;">Delivered Successfully</div>
            </div>
          </div>
          <div class="item"><i class="ion ion-android-person pull-left" style="font-size: 20px;padding-right:25px;color:#F27028;"></i>{{subOrder['properties'].deliveryContactName}}</div>
        </div>
        <div ng-show="countData.deliveredCount == 0" class="text-center" style="color:#F27028">
          No Delivered Orders 
        </div>
    </ion-list>
  </ion-content>
<ion-list>
        <!-- <div class="label-notify">
          <div class="col col-offset-33" th:inline="text">[[${#lists.size(subOrders)}]] Order(s) To Confirm</div>
        </div> -->
        <!-- <p class="text-center" style="color:#F27028">Delivered Orders</p>
        <ion-item th:each="subOrder:${subOrders}" class="order-item animated bounceInLeft" th:if="${subOrder.subOrderStatus} == DELIVERED" th:attr="ng-click='toggleGroup(\''+${subOrder.id}+'\')'"> -->

          <!-- <div>
            <div class="row no-padding">
              <span class="col col-50" style="color: #908282;font-size: 16px;" th:inline="text"  th:attr="ng-class='{active: isGroupShown(\''+${subOrder.id}+'\')}'">
                [[${subOrder.subOrderCode}]]
              </span>
              <span class="col col-25"  style="font-size: 14px;" th:inline="text">
                <i class="ion ion-clock"></i> [[${subOrder.timings.endTime}]]
              </span>
              <span class="col col-25"  style="font-size: 14px;" th:inline="text">
                <i class="ion ion-card"></i> [[${#numbers.formatInteger(subOrder.subOrderTotalPrice,2)}]]
              </span>
            </div>
            
          </div> -->
          <!-- <div class="item-accordion animated zoomInUp" style="" th:attr="ng-show='isGroupShown(\''+${subOrder.id}+'\')'"> -->
          <!-- <div class="item-accordion" style="" th:attr="ng-show='isGroupShown(\''+${subOrder.id}+'\')'">
            <div class="row accordion-toggle no-padding" style="font-size:14px;" > -->
              <!-- <div class="col col-33 text-center">
                <p class="b-r-l" th:inline="text"><i class="ion ion-card"></i> &nbsp;[[${#numbers.formatInteger(subOrder.subOrderTotalPrice,2)}]]</p>
                <p class="b-r-l" th:inline="text"><i class="ion ion-calendar"></i> &nbsp;[[${#dates.format(subOrder.subOrderDeliveryDate, 'dd/MMM')}]]</p>
                <p class="b-1px" th:inline="text"><i class="ion ion-clock"></i> &nbsp;[[${subOrder.timings.endTime}]]
              </div> -->
              <!-- <div class="col col-80" style="">
                <div class="padding-left" th:each="orderItem:${subOrder.orderItems}" >
                  <p style="">
                    <span class="item-color" th:text="${orderItem.sellerItem.item.itemName}"></span>
                    <span class="units" style="padding: 0px 10px;border-right:1px solid #F1993E">500gm</span>
                    <span class="units" th:inline="text">
                    <i class="ion ion-close-round" style="font-size: 7px;"></i>
                      <span style="margin-left:4px;">[[${#numbers.formatInteger(orderItem.units,2)}]]</span>
                    </span>
                  </p>
                </div>
              </div>
            </div> -->
            <!-- <span th:attr="ng-click='openModal(\''+${subOrder.id}+'\')'" style="cursor:pointer;">View Details...</span> -->
            <!-- <hr />
            <div class="row"> -->
              <!-- <button class="button button-small col col-10 col-offset-10 button-assertive" th:attr="ng-click='declineOrder(\''+${subOrder.id}+'\',\''+DECLINE+'\')'">DECLINE <i class="ion ion-close-round"></i>
              </button> -->
              <!-- <button class="button button-small col col-10 col-offset-10 button-balanced" th:attr="ng-click='confirmOrder(\''+${subOrder.id}+'\',\''+DELIVERED+'\')'">DELIVERED <i class="ion ion-checkmark-round"></i></button> -->
            <!-- </div>
          </div> -->
        <!-- </ion-item> -->
    </ion-list>
