

<form data-toggle="validator" role="form" class="user-chgpwd chgpwd form-group" ng-controller="MyAccountController" name="change-form">


    <div class="row" style="margin-right:90px;">
        
           <div class="col-lg-12">
              <span class="input input--yoshiko  mgt10">
          <input class="input__field input__field--yoshiko mgb10" type="password" name="password"  ng-model="chgpwd.password" required="required" id="cchng_password"/>
          <i class="fa fa-lock icon-fix-non"></i>
          <label class="input__label input__label--yoshiko inputlabel-pad" for="password">
            <span class="input__label-content input__label-content--yoshiko" data-content="Bird&#39;s Color">
              Current Password
            </span>
          </label>
        </span>
        </div>
        <div class="col-lg-12">
              <span class="input input--yoshiko  mgt10">
          <input class="input__field input__field--yoshiko mgb10" type="password" name="password"  ng-model="chgpwd.newPassword" required="required" id="chng_password" minlength="8"/>
          <i class="fa fa-lock icon-fix-non"></i>
          <label class="input__label input__label--yoshiko inputlabel-pad" for="password">
            <span class="input__label-content input__label-content--yoshiko" data-content="Bird&#39;s Color">
              Password
            </span>
          </label>
        </span>
        </div>
        <div class="col-lg-6">

        <span class="input input--yoshiko  mgt10">
          <input class="input__field input__field--yoshiko mgb10" type="password" name="confirmpassword"  ng-model="chgpwd.confirmPassword" id="chgn_confirm_password" required="required" minlength="8" compare-to="userdata.password"/>
          <i class="fa fa-lock icon-fix-non"></i>
          <label class="input__label input__label--yoshiko inputlabel-pad" for="password">
            <span class="input__label-content input__label-content--yoshiko" data-content="Bird&#39;s Color">
              Confirm Password</span>
          </label>
        </span>
        

        </div>
        
      </div>
 	



  <div class="form-group col-lg-4">
  	<button type="submit" class="btn btn-main button" name="chgpwd" ng-click="changePassword(chgpwd,$event)" value="chgpwd">Submit</button>
  </div>
</form>


<script src="/js/classie.js"></script>
		<script>
			(function() {
				// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
				if (!String.prototype.trim) {
					(function() {
						// Make sure we trim BOM and NBSP
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
					// in case the input is already filled..
					if( inputEl.value.trim() !== '' ) {
						classie.add( inputEl.parentNode, 'input--filled a' );
					}

					// events:
					inputEl.addEventListener( 'active', onInputActive );
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}
					function onInputActive( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						classie.remove( ev.target.parentNode, 'input--filled' );
					}else{

						classie.add( ev.target.parentNode, 'a' );
					}
				}
			})();


		</script>

