
 <div class="parallax_page"> 
    <div class="parallax_container" style="background: 50% 0 no-repeat fixed;background-image: url('/common/img/home/maxresdefault.jpg');">
        <div class="row parallax_row">
<div id="content-wrap">
	<div class="container">
		<div id="hot-categories" class="row latest-blog ">

		
			 <div class="div_latest_header" id="sankar">
			  <a href="#">
			   <h2 class="latest_div" style="background: none;color: #fff;">Hot Categories</h2>
			   </a> 
			   </div>
			
			<div class="col-xs-12 col-sm-6  col-lg-3 ">
			<div class="cate-box">
				<div class="cate-tit">
					
					
					<div class="div-1" >
						<div class="cate-name-wrap">
							<p class="cate-name">Boiler Chicken</p>
						</div>
						
					</div>
					<div class="div-2">
						<a href="#">
							 <img src="/common/img/home/img/hotcat/cc1.png" alt="Boiler Chicken" />
						</a>
					</div>
					
				</div>
				<div class="cate-content">
					<ul style="display:inline-block;float:left">
						<li><a class="t-c-w" href="/meatitem/Chicken-Wings?id=402880c8547a2eb701547a67f9e60016">Wings</a></li>
						<li><a class="t-c-w" href="/meatitem/Chicken-Breast?id=402880c8547a2eb701547a60ab790008">Chicken Breast</a></li>
						<li><a class="t-c-w" href="/meatitem/Chicken-Curry-Pieces?id=402880c854cc53e40154cc5cfeb10001">Curry Pieces</a></li>
						<li><a class="t-c-w" href="/meatitem/Chicken-Liver-Pieces?id=402880c854cc53e40154cc64765b0011">Chicken Liver</a></li>
					</ul>
					<div class="pull-left shop_nw">
						<a class="cate-link link-active" data-ac="flipInX" href="/items/category/Chicken/a?id=402880c85471c5590154721b3f000012&amp;scid=402880c85474fa40015475115ab40010"><span>shop now</span></a>
					</div>
				</div>
				</div>
			</div> <!-- /.cate-box -->
			
			<div class="col-xs-12 col-sm-6  col-lg-3 ">
			<div class="cate-box">
				<div class="cate-tit">
					<div class="div-1" >
						<div class="cate-name-wrap">
							<p class="cate-name">Country Chicken</p>
						</div>
					  
					</div>
					<div class="div-2">
						<a href="#">
							<img src="/common/img/home/img/hotcat/cc2.png" alt="Electronics" class="hot-cate-img img-rounded" />
						</a>
					</div>
				</div>
				<div class="cate-content">
					<ul>
						<li><a class="t-c-w" href="/meatitem/NaatuKodi-Chicken-Bonless?id=402880c854c901140154c941665e0003">Bonless</a></li>
						<li><a class="t-c-w" href="/meatitem/Naatukodi-Chicken-with-bones?id=402880c854c901140154c94746cc0010">Bones</a></li>
						<li><a class="t-c-w" href="/meatitem/Naatukodi-Chicken-Wings?id=402880c8547a2eb701547a8541e30038">Chicken Wings</a></li>
						<li><a class="t-c-w" href="/meatitem/Naatukodi-Chicken-without-skin?id=402880c854c901140154c9834c8e001e">Skinless</a></li>
					</ul>
					<div class="pull-left shop_nw">
						<a href="/items/category/Chicken/a?id=402880c85471c5590154721b3f000012&amp;scid=402880c85474fa40015475115ab40010" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
					</div>
				</div>
				</div>
			</div> <!-- /.cate-box -->
			<div class="col-xs-12 col-sm-6  col-lg-3 ">
			<div class="cate-box">
				<div class="cate-tit">
					<div class="div-1" >
						<div class="cate-name-wrap">
							<p class="cate-name">Goat Meat</p>
						</div>
					  
					</div>
					<div class="div-2">
						<a href="#">
							<img src="/common/img/home/img/hotcat/goatm.png" alt="Electronics" class="hot-cate-img img-rounded" />
						</a>
					</div>
					
				</div>
				<div class="cate-content">
					<ul>
						<li><a class="t-c-w" href="/meatitem/Minced-Mutton,?id=402880c854763c2c01547674ea810012">Minced Mutton</a></li>
						<li><a class="t-c-w" href="/meatitem/Boti-Mutton?id=402880c854763c2c0154769ae218002d">Boti Mutton</a></li>
						<li><a class="t-c-w" href="/meatitem/Goat-Mutton-Boneless?id=402880c854cca9c60154ccb7edfd000a">Boneless</a></li>
						<li><a class="t-c-w" href="/meatitem/Goat-Liver?id=402880c854763c2c0154768af608001f">Mutton Liver</a></li>
					</ul>
					<div class="pull-left shop_nw">
						<a href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001&amp;scid=402880c85474fa40015475137a860016" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
					</div>
				</div>
				</div>
			</div> <!-- /.cate-box -->
			<div class="col-xs-12 col-sm-6  col-lg-3 ">
			<div class="cate-box">
				<div class="cate-tit">
					<div class="div-1" >
						<div class="cate-name-wrap">
							<p class="cate-name">Sheep Meat</p>
						</div>
					</div>
					<div class="div-2">
						<a href="#">
							<img src="/common/img/home/img/hotcat/sheepm.png" alt="Electronics" class="hot-cate-img img-rounded" />
						</a>
					</div>
					
				</div>
				<div class="cate-content">
					<ul>
						<li><a class="t-c-w" href="/meatitem/Mutton-Cubes?id=402880c854763c2c015476459fca0004">Mutton Cubes</a></li>
						<li><a class="t-c-w" href="/meatitem/Sheep-Mutton--With-Skin?id=402880c854cc53e40154cc7a7776001f">Mutton(WithSkin)</a></li>
						<li><a class="t-c-w" href="/meatitem/Sheep-Mutton-With-Bone?id=402880c854cc53e40154cc7cb63a0025">Mutton Bones</a></li>
						<li><a class="t-c-w" href="/meatitem/Sheep-Mutton-without-Bones?id=402880c854cc53e40154cc7faaca002c">Mutton Boneless</a></li>
					</ul>
					<div class="pull-left shop_nw">
						<a href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001&amp;scid=402880c85474fa40015475137a860016" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
					</div>
				</div>
				</div>
			</div> <!-- /.cate-box -->
			<div class="col-xs-12 col-sm-6  col-lg-3 ">
			<div class="cate-box">
				<div class="cate-tit">
					<div class="div-1" >
						<div class="cate-name-wrap">
							<p class="cate-name">Fish</p>
						</div>
					</div>
					<div class="div-2">
						<a href="#">
							<img src="/common/img/home/img/hotcat/fishm.png" alt="Electronics" class="hot-cate-img img-rounded" />
						</a>
					</div>
				</div>
				<div class="cate-content">
					<ul>
						<li><a class="t-c-w" href="/meatitem/Rohu-Fish?id=402880c854763c2c01547647704e000b">Rohu</a></li>
						<li><a class="t-c-w" href="/meatitem/Sardine-Fish?id=402880c854763c2c015476c550a1004f">Sardine</a></li>
						<li><a class="t-c-w" href="/meatitem/River-Bommidailu-Fish?id=402880c8547b5bf701547b6840aa0001">Bommidailu</a></li>
						<li><a class="t-c-w" href="/meatitem/Mullet-Fish?id=402880c854763c2c015476bb10700041">Mullet</a></li>
					</ul>
					<div class="pull-left shop_nw">
						<a href="/items/category/Fish/a?id=402880c85474fa400154751b79740022&amp;scid=402880c85474fa400154752261b20032" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
					</div>
				</div>
				</div>
			</div> <!-- /.cate-box -->
			
			<div class="col-xs-12 col-sm-6  col-lg-3">
			<div class="cate-box">
				<div class="cate-tit">
					<div class="div-1" >
						<div class="cate-name-wrap">
							<p class="cate-name">Prawns</p>
						</div>
					</div>
					<div class="div-2">
						<a href="#">
							<img src="/common/img/home/img/hotcat/prawnsm.png" alt="Electronics" class="hot-cate-img img-rounded" />
						</a>
					</div>
				</div>
				<div class="cate-content">
					<ul>
						<li><a class="t-c-w" href="/meatitem/White-Prawns?id=402880c854763c2c015476dc4537006f">White Prawns</a></li>
						<li><a class="t-c-w" href="/meatitem/River-Prawns-With-Skin?id=402880c854cca9c60154cd077e2800bb">River Prawns</a></li>
						<li><a class="t-c-w" href="/meatitem/Sea-Prawns-With-Skinless?id=402880c854cca9c60154cd13af5600e4">Sea Prawns</a></li>
						<li><a class="t-c-w" href="/meatitem/Frozen-Prawns?id=402880c854d1d2730154d20697ac003f">Frozen Prawns</a></li>
					</ul>
					<div class="pull-left shop_nw">
						<a href="/items/category/Prawns/a?id=402880c85474fa4001547527ec0d003a&amp;scid=402880c85474fa400154753060cd0057" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
					</div>
				</div>
				</div>
			</div><!-- /.cate-box -->
			<div class="col-xs-12 col-sm-6  col-lg-3">
			<div class="cate-box">
				<div class="cate-tit">
					<div class="div-1" >
						<div class="cate-name-wrap">
							<p class="cate-name">Crabs</p>
						</div>
					</div>
					<div class="div-2">
						<a href="#">
							<img src="/common/img/home/img/hotcat/crabm.png" alt="Electronics" class="hot-cate-img img-rounded"  />
						</a>
					</div>
					
				</div>
				<div class="cate-content">
					<ul>
						<li><a class="t-c-w" href="/meatitem/BlackFin-Crabs?id=402880c854763c2c015476dfb1bd0075">Blackfin Crabs</a></li>
						<li><a class="t-c-w" href="/meatitem/Blue-Crab?id=402880c854cca9c60154cda87fd4011e">Blue Crab</a></li>
						<li><a class="t-c-w" href="/meatitem/RedKingCrabs?id=402880c854763c2c015476e616470081">Red Crabs</a></li>
						<li><a class="t-c-w" href="/meatitem/Stone-Crabs?id=402880c854cca9c60154cdb0b038013d">Stone Crabs</a></li>
					</ul>
					<div class="pull-left shop_nw">
						<a href="/items/category/Crabs/a?id=402880c85474fa400154752c72f90048&amp;scid=402880c85474fa4001547532a77c0061" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
					</div>
				</div>
				</div>
			</div> <!-- /.cate-box -->
			<div class="col-xs-12 col-sm-6  col-lg-3">
			<div class="cate-box">
				<div class="cate-tit">
					<div class="div-1" >
						<div class="cate-name-wrap">
							<p class="cate-name">Others</p>
						</div>
					</div>
					<div class="div-2">
						<a href="#">
							<img src="/common/img/home/img/hotcat/otherm.png" alt="Electronics" class="hot-cate-img img-rounded" />
						</a>
					</div>
				</div>
				<div class="cate-content">
					<ul>
						<li><a class="t-c-w" href="/meatitem/Rohu-Fish?id=402880c854763c2c01547647704e000b">Rohu</a></li>
						<li><a class="t-c-w" href="/meatitem/Sardine-Fish?id=402880c854763c2c015476c550a1004f">Sardine</a></li>
						<li><a class="t-c-w" href="/meatitem/River-Bommidailu-Fish?id=402880c8547b5bf701547b6840aa0001">Bommidailu</a></li>
						<li><a class="t-c-w" href="/meatitem/Mullet-Fish?id=402880c854763c2c015476bb10700041">Mullet</a></li>
					</ul>
					<div class="pull-left shop_nw">
						<a href="/items/category/Fish/a?id=402880c85474fa400154751b79740022&amp;
						scid=402880c85474fa400154752261b20032" class="cate-link link-active" data-ac="flipInX"><span>shop now</span></a>
					</div>
				</div>
				</div>
			</div><!-- /.cate-box -->                                                       
		</div> <!-- /#hot-categories -->
		
	</div> <!-- /.container -->
</div>



</div>
</div>
</div>













