<div class="page-section v1-two">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
				<div class="wr-element">
					<div class="product">
						<div class="p-image">
							<span class="latest_header">Latest Fish Deals</span>
							<img src="/common/img/home/img/170x140/dealitems/deal1.png"  width="278" height="278" alt="Product 01" />
						</div>
				
					</div>
				</div>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 mgb20">
				<div>
					<h5 class="title-1 textup">Most Selling Items</h5>
					<div class="product-slider navtop">
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Squid-Fish?id=402880c854763c2c015476c014f80048">
									<img  src="/images_upload/item_media/dbb97a71-f515-427d-b52a-9afd3f424827.png" class="img-thumbnail"  alt="Product 02" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Squid-Fish?id=402880c854763c2c015476c014f80048">Squid Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.280/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart ad"  data-toggle="tooltip" data-placement="bottom" title="Hooray!"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Sardine-Fish?id=402880c854763c2c015476c550a1004f">
									<img src="/images_upload/item_media/58a87ea9-b415-40fe-83a8-a88598fd8cab.png" class="img-thumbnail"  alt="Product 03" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Sardine-Fish?id=402880c854763c2c015476c550a1004f">Sardine Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.215/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Rohu-Fish?id=402880c854763c2c01547647704e000b">
										<img src="/images_upload/item_media/6059590d-0047-47ce-8c72-bee89ccf0c3c.png" class="img-thumbnail"  alt="Product 04" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Rohu-Fish?id=402880c854763c2c01547647704e000b">Rohu Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.435/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/River-Bommidailu-Fish?id=402880c8547b5bf701547b6840aa0001">
										<img src="/images_upload/item_media/09a5ef05-2cba-47f0-a7b5-e23e0655217d.png" class="img-thumbnail"  alt="Product 05" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/River-Bommidailu-Fish?id=402880c8547b5bf701547b6840aa0001">River Bommidailu Fish</a></h4>
									<span class="price">
										<span class="amount">R.340/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Bass-Fish?id=402880c854763c2c015476d17455005d">
										<img src="/images_upload/item_media/0ce5a74c-babb-42e1-b1cb-13c7494408c2.png" class="img-thumbnail"  alt="Product 06" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Bass-Fish?id=402880c854763c2c015476d17455005d">Bass Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.190/-</span>
									</span>
									<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Bommidailu-Fish?id=402880c854763c2c015476b4637f003a">
										<img src="/images_upload/item_media/2cdfdd4f-d02d-43e0-be55-2cf8a545942c.png" class="img-thumbnail"  alt="Product 07" /></a>
								
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Bommidailu-Fish?id=402880c854763c2c015476b4637f003a">Bommidailu Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.190/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Mullet-Fish?id=402880c854763c2c015476bb10700041">
										<img src="/images_upload/item_media/91cab7bf-e9a3-46fe-a6d0-b497ec8f1dd6.png" class="img-thumbnail"  alt="Product 07" /></a>
								
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Mullet-Fish?id=402880c854763c2c015476bb10700041">Mullet Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.190/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Barracuda-Fish?id=402880c854d1d2730154d1fc3fe20025">
										<img src="/images_upload/item_media/a44188ae-5a93-4856-a2dd-b9447abd8b2e.png" class="img-thumbnail"  alt="Product 07" /></a>
								
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Barracuda-Fish?id=402880c854d1d2730154d1fc3fe20025">Barracuda Fish</a></h4>
									<span class="price">
										<span class="amount">Rs.420/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- .product-slider -->
				</div>
			</div><!-- .col-md-6 -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .page-section -->








<!-- <div class="latest-blog wow bounceInUp animated container animated" style="visibility: visible;">
 <div class="div_latest_header">
    <a href="#">
     <h2 class="latest_div">Latest Categories</h2>
     </a> 
  </div>
		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
			<div class="blog_inner effect6">           
        <div class="blog-img">
           <a > <img src="/common/img/home/img/deals/beef.png" width="369" height="201" alt="banner 03" /> </a>
           <div class="mask"> <a class="info" href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001&amp;scid=402880c85474fa4001547518023b001c">Sheep Mutton</a> </div>
        </div>                                                                                  
      </div>                                                                                         
		</div> 
			<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
				<div class="blog_inner effect6">  
					<div class="blog-img">
             <a > <img src="/common/img/home/img/deals/chicken.png" width="369" height="201" alt="banner 04" /> </a>
             <div class="mask"> <a class="info" href="/items/category/Chicken/a?id=402880c85471c5590154721b3f000012">Chicken</a> </div>
          </div>                                                                                      
        </div>                                                                                         
			</div> 
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
					<div class="blog_inner effect6">  
						<div class="blog-img">
               <a > <img src="/common/img/home/img/deals/mutton.png" width="369" height="201" alt="banner 05" /> </a>
               <div class="mask"> <a class="info" href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001">Goat Mutton</a> </div>
            </div>                                                                                   
          </div>                                                                                          
				</div> 
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
					<div class="blog_inner effect6">  
						<div class="blog-img">
			         <a > <img src="/common/img/home/img/deals/fishes.png" width="369" height="201" alt="banner 03" /> </a>
			         <div class="mask"> <a class="info" href="/items/category/Fish/a?id=402880c85474fa400154751b79740022">Fish</a> </div>
			      </div>                                                                                  
          </div>                                                                                         
				</div> 
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
						<div class="blog_inner effect6"> 
               <div class="blog-img">
                 <a > <img src="/common/img/home/img/deals/crabs.png" width="369" height="201" alt="banner 04" /> </a>
                 <div class="mask"> <a class="info" href="/items/category/Crabs/a?id=402880c85474fa400154752c72f90048">Crabs</a> </div>
              	</div>                                                                                      
           	</div>                                                                                         
					</div> 
					<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
						<div class="blog_inner effect6">  
							<div class="blog-img">
                 <a > <img src="/common/img/home/img/deals/prawns.png" width="369" height="201" alt="banner 03" /> </a>
                 <div class="mask"> <a class="info" href="/items/category/Prawns/a?id=402880c85474fa4001547527ec0d003a">Prawns</a> </div>
              </div>                                                                                  
            </div>                                                                                         
					</div> 
	</div>
 -->




<div class="page-section v1-two" style="margin-top:35px;">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 mgb20">
				<div>
					<h5 class="title-1 textup">Best Selling Items</h5>
						<div class="product-slider navtop">
							<div class="wr-element">
								<div class="product style-2">
									<div class="item">
										<a href="/meatitem/Naatukodi-Chicken-Wings?id=402880c8547a2eb701547a8541e30038">
											<img src="/images_upload/item_media/7ddc1b88-8701-4f05-a061-f684293e415b.png" class="img-thumbnail"  alt="Product 02" /></a>
										
									</div>
									<div class="p-info">
										<h4><a href="/meatitem/Naatukodi-Chicken-Wings?id=402880c8547a2eb701547a8541e30038">Naatukodi Chicken Wings</a></h4>
										<span class="price">
											<span class="amount">Rs.206/-</span>
										</span>
										<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="item">
										<a href="/meatitem/Naatukodi-Chicken-curry-pieces?id=402880c854c901140154c973909d0017">
											<img src="/images_upload/item_media/7aa5bbdc-1ea2-460a-850f-60d1b587ee48.png" class="img-thumbnail"  alt="Product 02" /></a>
										
									</div>
									<div class="p-info">
										<h4><a href="/meatitem/Naatukodi-Chicken-curry-pieces?id=402880c854c901140154c973909d0017">Naatukodi Chicken curry pieces</a></h4>
										<span class="price">
											<span class="amount">Rs.242/-</span>
										</span>
										<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
										</div>
									</div>
								</div>
							</div>
										<div class="wr-element">
								<div class="product style-2">
									<div class="item">
										<a href="/meatitem/Naatukodi-Chicken-without-skin?id=402880c854c901140154c9834c8e001e">
											<img src="/images_upload/item_media/6599296a-badc-49a6-9f2e-e4b2793b432e.png" class="img-thumbnail"  alt="Product 02" /></a>
										
									</div>
									<div class="p-info">
										<h4><a href="/meatitem/Naatukodi-Chicken-without-skin?id=402880c854c901140154c9834c8e001e">Naatukodi Chicken without skin</a></h4>
										<span class="price">
											<span class="amount">Rs.156.50/-</span>
										</span>
										<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
										</div>
									</div>
								</div>
							</div>
										<div class="wr-element">
								<div class="product style-2">
									<div class="item">
										<a href="/meatitem/Chicken-Lollipop.?id=402880c8547a2eb701547a6b32ae001c">
											<img src="/images_upload/item_media/b6444d5b-6822-440d-bf4e-b3aeccd4d70c.png" class="img-thumbnail"  alt="Product 02" /></a>
										
									</div>
									<div class="p-info">
										<h4><a href="/meatitem/Chicken-Lollipop.?id=402880c8547a2eb701547a6b32ae001c">Chicken Lollipop</a></h4>
										<span class="price">
											<span class="amount">Rs.152/-</span>
										</span>
										<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="item">
										<a href="/meatitem/Naatukodi-Chicken-Breast?id=402880c8547a2eb701547a78e183002a">
											<img src="/images_upload/item_media/ed49fd76-a95c-42b9-9749-5f147eeb6d84.png" class="img-thumbnail"  alt="Product 02" /></a>
										
									</div>
									<div class="p-info">
										<h4><a href="/meatitem/Naatukodi-Chicken-Breast?id=402880c8547a2eb701547a78e183002a">Naatukodi Chicken Breast</a></h4>
										<span class="price">
											<span class="amount">Rs.224/-</span>
										</span>
										<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="item">
										<a href="/meatitem/Naatukodi-Chicken-with-bones?id=402880c854c901140154c94746cc0010">
											<img src="/images_upload/item_media/efb490f3-aa39-4e76-a3ff-652b74520b19.png" class="img-thumbnail"  alt="Product 02" /></a>
										
									</div>
									<div class="p-info">
										<h4><a href="/meatitem/Naatukodi-Chicken-with-bones?id=402880c854c901140154c94746cc0010">Naatukodi Chicken with bones</a></h4>
										<span class="price">
											<span class="amount">Rs.150/-</span>
										</span>
										<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="item">
										<a href="/meatitem/Chicken-Wings?id=402880c8547a2eb701547a67f9e60016">
											<img src="/images_upload/item_media/91ec396c-27c2-4c69-860a-1faa3f198128.png" class="img-thumbnail"  alt="Product 02" /></a>
										
									</div>
									<div class="p-info">
										<h4><a href="/meatitem/Chicken-Wings?id=402880c8547a2eb701547a67f9e60016">Chicken Wings</a></h4>
										<span class="price">
											<span class="amount">Rs.142/-</span>
										</span>
										<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="wr-element">
								<div class="product style-2">
									<div class="item">
										<a href="/meatitem/Chicken-Breast-Special?id=402880c854cc53e40154cc61303b000a">
											<img src="/images_upload/item_media/8e590e94-ee85-4833-b045-9b17d5e20541.png" class="img-thumbnail"  alt="Product 02" /></a>
										
									</div>
									<div class="p-info">
										<h4><a href="/meatitem/Chicken-Breast-Special?id=402880c854cc53e40154cc61303b000a">Chicken Breast Special</a></h4>
										<span class="price">
											<span class="amount">Rs.161/-</span>
										</span>
										<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
										</div>
									</div>
								</div>
							</div>
									</div><!-- .product-slider -->
								</div>
							</div><!-- .col-md-6 -->

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
								<div class="wr-element">
									<div class="product">
										<div class="p-image">
											<span class="latest_header_1">Latest Chicken Deals</span>
											<img src="/common/img/home/img/170x140/dealitems/bestdeal_chicken.png"  width="278" height="278" alt="Product 01" />
										</div>
								
									</div>
								</div>
							</div>
						</div><!-- .row -->
					</div><!-- .container -->
				</div><!-- .page-section -->







<div class="page-section v1-two" style="margin-top: 35px;">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
				<div class="wr-element">
					<div class="product">
						<div class="p-image">
							<span class="latest_header">LATEST MUTTON DEALS</span>
							<img src="/common/img/home/img/170x140/dealitems/mutton1.png"  width="278" height="278" alt="Product 01" />
						</div>
				
					</div>
				</div>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 mgb20">
				<div>
					<h5 class="title-1 textup">Most Popular Items</h5>
					<div class="product-slider navtop">
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Boti-Mutton?id=402880c854763c2c0154769ae218002d">
										<img src="/images_upload/item_media/adfe7f77-1442-4614-ac71-0a112dcd1aa7.png" class="img-thumbnail"  alt="Product 02" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Boti-Mutton?id=402880c854763c2c0154769ae218002d">Boti Mutton</a></h4>
									<span class="price">
										<span class="amount">Rs.430/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>

							</div>


						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Goat-curry-Pieces?id=402880c854cc53e40154cc754a3a0018">
										<img src="/images_upload/item_media/f1610f45-af37-4533-911f-b59054386010.png" class="img-thumbnail"  alt="Product 03" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Goat-curry-Pieces?id=402880c854cc53e40154cc754a3a0018">Goat Curry Pieces</a></h4>
									<span class="price">
										<span class="amount">Rs.370/-</span>
									</span>
									<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Goat-Kidney?id=402880c854763c2c01547681d0510018">
										<img src="/images_upload/item_media/d4c172aa-8e5a-4d3f-99f7-8e134c20307e.png" class="img-thumbnail"  alt="Product 04" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Goat-Kidney?id=402880c854763c2c01547681d0510018">Goat Kidney</a></h4>
									<span class="price">
										<span class="amount">Rs.400/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Goat-Liver?id=402880c854763c2c0154768af608001f">
										<img src="/images_upload/item_media/d89ebdd4-0c15-4003-8085-287410945a82.png" class="img-thumbnail"  alt="Product 05" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Goat-Liver?id=402880c854763c2c0154768af608001f">Goat Liver</a></h4>
									<span class="price">
										<span class="amount">R.400/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Mutton-Cubes?id=402880c854763c2c015476459fca0004">
										<img src="/images_upload/item_media/c62f4937-441c-404c-b744-d60205d50b8d.png" class="img-thumbnail"  alt="Product 06" /></a>
									
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Mutton-Cubes?id=402880c854763c2c015476459fca0004">Mutton Cubes</a></h4>
									<span class="price">
										<span class="amount">Rs.265/-</span>
									</span>
									<div class="p-action">
											<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Minced-Mutton,?id=402880c854763c2c01547674ea810012">
										<img src="/images_upload/item_media/b4bce44e-f466-463a-a463-87ad9f8edb94.png" class="img-thumbnail"  alt="Product 07" /></a>
								
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Minced-Mutton,?id=402880c854763c2c01547674ea810012">Minced Mutton</a></h4>
									<span class="price">
										<span class="amount">Rs.475/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="http:///meatitem/sheep-Boti-Mutton?id=402880c854cc53e40154cc8d1f8d003a">
										<img src="/images_upload/item_media/c7ccd3ad-b2ef-4c57-a044-7f6ee1b2c016.png" class="img-thumbnail"  alt="Product 07" /></a>
								
								</div>
								<div class="p-info">
									<h4><a href="http:///meatitem/sheep-Boti-Mutton?id=402880c854cc53e40154cc8d1f8d003a">Sheep Boti Mutton</a></h4>
									<span class="price">
										<span class="amount">Rs.200/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="wr-element">
							<div class="product style-2">
								<div class="item">
									<a href="/meatitem/Goat-Legs?id=402880c854763c2c01547692e93f0026">
										<img src="/images_upload/item_media/080def7b-ecb8-4262-9c6e-f1db90c869c2.png" class="img-thumbnail"  alt="Product 07" /></a>
								
								</div>
								<div class="p-info">
									<h4><a href="/meatitem/Goat-Legs?id=402880c854763c2c01547692e93f0026">Goat Legs</a></h4>
									<span class="price">
										<span class="amount">Rs.390/-</span>
									</span>
									<div class="p-action">
										<div class="row">
                       <div class="col-lg-2">
                      
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_cart"><img src="/common/img/home/img/icons/commerce.png" />
                      	</button>
                      </div>
                      <div class="col-lg-4">
                      	<button class="btn-5 hm_exp_cart"><img src="/common/img/home/img/icons/add.png" />
                      	</button>
                      </div>
                      <div class="col-lg-2">
                      
                      </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- .product-slider -->
				</div>
			</div><!-- .col-md-6 -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .page-section -->
	<!-- 
				 <div class="container">
              <div class="div_latest_header">
              <a href="#">
               <h2 class="latest_div">Feature Deals </h2>
               </a> 
               </div>
                 
                   <div class="col-md-12 Featur_deal_main mgb10">
                    <div class="row row-wrap" id="masonry" style="position: relative; ">
                        <div class=" col-xs-6 col-sm-2 col-md-2  mgb10 pdlr10 " >
                            <div class="product">
                            <div class="prod-im1 ">
                            	<a href="#">
                            		<img src="common\img/home/6abbe91e7cf3b7c4c934613028759d42.jpg" class="img-thumbnail grow pic"/>
                            	</a>
                            </div>
                                
                               
                            </div>
                        </div>
                        <div class=" col-xs-6  col-sm-2 col-md-2  col-masonry popup-text mgb10 pdlr10" href="#product-quick-view-dialog" data-effect="mfp-move-from-top">
                            <div class="">   
                                <div class="prod-im  product">
                                	<a href=""><img src="/common/img/home/meat_image221.jpg" class="img-thumbnail grow pic"/></a>
                                </div>
                                <div class="prod-im mgt10 product">
                                    <a href=""><img src="/common/img/home/MEAT-Burger-Jannette-Dellanos-crop_54_990x660_201404242057.jpg" class="img-thumbnail grow pic" /></a> 
                                </div>
                            </div>
                        </div>
                        <div class=" col-xs-6 col-sm-4 col-md-4 col-masonry popup-text  mgb10 pdlr10" href="#product-quick-view-dialog" data-effect="mfp-move-from-top">
                            <div class="product">
                            <div class="prod-im1">
                            	<a href="#">
                            		<img src="/common/img/home/Carne-de-pollo1.jpg" width="100%" class="img-thumbnail grow pic"/>
                            	</a>
                            </div>
                                
                               
                            </div>
                        </div>
                        <div class=" col-xs-6 col-sm-2 col-md-2 col-masonry popup-text  mgb10 pdlr10" href="#product-quick-view-dialog" data-effect="mfp-move-from-top">
                            <div class="">
                            <div class="prod-im  product">
                                	<a href=""><img src="common\img/home/fish-fish.jpg" class="img-thumbnail grow pic" /></a>
                                </div>
                                <div class="prod-im mgt10 product">
                                    <a href=""><img src="common\img\home\dsc_00311.jpg" class="img-thumbnail grow pic"/></a> 
                                </div>  
                            </div>
                        </div>
                        <div class=" col-xs-6 col-sm-2 col-md-2 mgb10 pdlr10 " >
                            <div class="">
                            <div class="prod-im  product">
                                	<a href=""><img src="\common\img\home\images.jpg" class="img-thumbnail grow pic"/></a>
                                </div>
                                <div class="prod-im mgt10 product">
                                    <a href=""><img src="\common\img\home\prawns11.jpg" class="img-thumbnail grow pic"/></a> 
                                </div>  
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>  
 -->








				