<div class="container" ng-controller="LocationController">
		
		<!-- Trigger the modal with a button -->
		<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#location-target">Open Modal</button> -->
		<!-- Modal -->
		<div class="modal fade location-model" id="location-target" role="dialog">
		<th:block th:each="cookie:${#httpServletRequest.cookies}">
			<input type="hidden" th:if="${cookie.name=='zid'}" ng-init="insertCookies('zid')" />
		
			</th:block>
			<div class="modal-dialog" ng-init="showLocation()">
			<!-- Modal content-->
				<div class="modal-content">
					
					<div class="modal-header bg-r text-center">
						<button type="button" class="close modal_close" data-dismiss="modal" style="color:#fff;opacity:1.5;">&times;</button>
						<a th:href="@{/(zid=${param.zid},zname=${param.zname})}"><img src="/common/img/home/img/meat_logo1.png" alt="" width="200" height="35" /></a>
						<!-- <div class="text-center" style="background:#E8E7C4;color:#9A3939;">SELECT ZONES IN HYDERABAD</div> -->
					</div>
					<div class="modal-body" style="padding-top:0px;">
						<!-- <div class="back-img" >
						<div class="location-img">
							<img src="images/current_pos.png" />
						</div>
					</div> -->
						
						<!-- <p ng-repeat="zoneDetails in zonesData.zone">HYDERABAD, SECUNDRABAD,KUKATPALLY, MOOSAPET, HYTECH CITY</p> -->
						<!-- <span> </span> -->
						<div class="row" style="background-color:#ffffff;">
							<div class="text-center" style="color:#9A3939;padding-top: 18px;"><span style="border-bottom:2px solid #9A3939;">SELECT LOCATIONS IN HYDERABAD</span></div>
							<div class="col-lg-12" style="padding-top: 20px;">
								<div class="zones-list col-lg-6 text_center" ng-repeat="zoneDetails in zonesData.zone" ng-init="user.zoneName=zoneDetails['properties'].zoneName;user.zoneId=zoneDetails['properties'].id" ng-click="saveUserDetails(user)" ng-mouseenter="map=true" ng-mouseleave="map=fasle">
								<div class="col-lg-offset-2 zones_list" style="width:60%;font-size:15px;text-align:left;">
									<i class="fa fa-map-marker" ng-show="map" style="padding-right:5px;"></i>
								{{zoneDetails['properties'].zoneName}}
								</div>
							</div>
						</div>
						</div>
						<!-- <ul>
							
						</ul> -->
					</div>
					<!-- <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	