	<div class="page-section pdt50">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="product-tabs has-border right">
									<ul class="nav nav-tabs" role="tablist">
										<li><h5 class="title-1 textup">Featured</h5></li>
										<li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All Types</a></li>
										<li role="presentation"><a href="#dresses" aria-controls="dresses" role="tab" data-toggle="tab">Chicken</a></li>
										<li role="presentation"><a href="#cameras" aria-controls="cameras" role="tab" data-toggle="tab">Mutton</a></li>
										<li role="presentation"><a href="#watches" aria-controls="watches" role="tab" data-toggle="tab">Sea Foods</a></li>
								
									</ul>
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active fade in" id="all">
											<div class="products columns-6">
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/fish-1.png" width="170" height="139" alt="Product 08" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/fish-1.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Fish(Boche)</a></h4>
														<span class="price">
															<span class="amount">$199.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-1 -->
												<div class="product style-2">
													<div class="p-image">
														<span class="p-badge sale">Sale</span>
														<img src="/common/img/non-veg/fish-2.png" width="170" height="139" alt="Product 09" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/fish-2.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Fish(Korramatta)</a></h4>
														<span class="price">
															<span class="amount">$999.00</span>
															<del>$299.00</del>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-2 -->
												<div class="product style-2">
													<div class="p-image">
														<span class="p-badge hot">Hot</span>
														<img src="/common/img/non-veg/fish-3.png" width="170" height="139" alt="Product 10" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/fish-3.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Tuna Fish</a></h4>
														<span class="price">
															<span class="amount">$9.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-3 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/fish-4.png" width="170" height="139" alt="Product 11" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/fish-4.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Pulasa</a></h4>
														<span class="price">
															<span class="amount">$69.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-4 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/chicken-1.png" width="170" height="139" alt="Product 12" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/chicken-1.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Form Chicken</a></h4>
														<span class="price">
															<span class="amount">$24.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-5 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/chicken-2.png" width="170" height="139" alt="Product 13" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/chicken-1.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Chicken Bone Less</a></h4>
														<span class="price">
															<span class="amount">$38.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-6 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/chicken-3.png" width="170" height="139" alt="Product 14" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/chicken-3.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Chicken Legs</a></h4>
														<span class="price">
															<span class="amount">$99.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-7 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-1.png" width="170" height="139" alt="Product 15" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-1.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Mutton Pieces</a></h4>
														<span class="price">
															<span class="amount">$79.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-8 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-2.png" width="170" height="139" alt="Product 16" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-2-1.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Mutton Legs</a></h4>
														<span class="price">
															<span class="amount">$19.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-9 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-3.png" width="170" height="139" alt="Product 17" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-3.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Mutton Boti</a></h4>
														<span class="price">
															<span class="amount">$39.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-10 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-4.png" width="170" height="139" alt="Product 18" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-5.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Mutton Paya</a></h4>
														<span class="price">
															<span class="amount">$129.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-11 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-5.png" width="170" height="139" alt="Product 19" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-6.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Mutton Chops</a></h4>
														<span class="price">
															<span class="amount">$69.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-12 -->
											</div><!-- .products.columns-6 -->
										</div><!-- #all.tab-pane -->
										<div role="tabpanel" class="tab-pane fade" id="dresses">
											<div class="products columns-6">
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/chicken-3.png" width="170" height="139" alt="Product 09" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/chicken-3.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">The Journeyman Watch</a></h4>
														<span class="price">
															<span class="amount">$999.00</span>
															<del>$299.00</del>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-2 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/chicken-4.png" width="170" height="139" alt="Product 10" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/chicken-4.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">iStick</a></h4>
														<span class="price">
															<span class="amount">$9.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-3 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/chicken-5.png" width="170" height="139" alt="Product 08" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/chicken-5.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Supra Cuttler</a></h4>
														<span class="price">
															<span class="amount">$199.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-1 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/chicken-1.png" width="170" height="139" alt="Product 12" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/chicken-1.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Dripped Wax Glassware</a></h4>
														<span class="price">
															<span class="amount">$24.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-5 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/chicken-2.png" width="170" height="139" alt="Product 14" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/chicken-2.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Pelican Chair</a></h4>
														<span class="price">
															<span class="amount">$99.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-7 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/chicken-5.png" width="170" height="139" alt="Product 11" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/chicken-5.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Modern Footstool</a></h4>
														<span class="price">
															<span class="amount">$69.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-4 -->
											
						
											</div><!-- .products.columns-6 -->
										</div><!-- #dresses.tab-pane -->
										<div role="tabpanel" class="tab-pane fade" id="cameras">
											<div class="products columns-6">
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-3.png" width="170" height="139" alt="Product 10" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-3.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">iStick</a></h4>
														<span class="price">
															<span class="amount">$9.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-3 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-4.png" width="170" height="139" alt="Product 08" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-4.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Supra Cuttler</a></h4>
														<span class="price">
															<span class="amount">$199.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-1 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-5.png" width="170" height="139" alt="Product 09" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-5.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">The Journeyman Watch</a></h4>
														<span class="price">
															<span class="amount">$999.00</span>
															<del>$299.00</del>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-2 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-1.png" width="170" height="139" alt="Product 12" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-1.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Dripped Wax Glassware</a></h4>
														<span class="price">
															<span class="amount">$24.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-5 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-7.png" width="170" height="139" alt="Product 11" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-7.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Modern Footstool</a></h4>
														<span class="price">
															<span class="amount">$69.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-4 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/mutton-8.png" width="170" height="139" alt="Product 14" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/mutton-8.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Pelican Chair</a></h4>
														<span class="price">
															<span class="amount">$99.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-7 -->
											
											</div><!-- .products.columns-6 -->
										</div><!-- #cameras.tab-pane -->
										<div role="tabpanel" class="tab-pane fade" id="watches">
											<div class="products columns-6">
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/fish-3.png" width="170" height="139" alt="Product 08" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/fish-3.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Supra Cuttler</a></h4>
														<span class="price">
															<span class="amount">$199.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-1 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/fish-4.png" width="170" height="139" alt="Product 10" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/fish-4.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">iStick</a></h4>
														<span class="price">
															<span class="amount">$9.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-3 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/prawns-2.png" width="170" height="139" alt="Product 11" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/prawns-2.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Modern Footstool</a></h4>
														<span class="price">
															<span class="amount">$69.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-4 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/prawns-5.png" width="170" height="139" alt="Product 09" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/prawns-5.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">The Journeyman Watch</a></h4>
														<span class="price">
															<span class="amount">$999.00</span>
															<del>$299.00</del>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-2 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/prawns-4.png" width="170" height="139" alt="Product 13" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/prawns-4.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Robot Light Bulbs</a></h4>
														<span class="price">
															<span class="amount">$38.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-6 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="/common/img/non-veg/prawns-7.png" width="170" height="139" alt="Product 14" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="/common/img/non-veg/prawns-7.png" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Pelican Chair</a></h4>
														<span class="price">
															<span class="amount">$99.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-7 -->
											</div><!-- .products.columns-6 -->
										</div><!-- #watches.tab-pane -->
										<div role="tabpanel" class="tab-pane fade" id="accessories">
											<div class="products columns-6">
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/05_thumb.jpg" width="170" height="139" alt="Product 10" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/05_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">iStick</a></h4>
														<span class="price">
															<span class="amount">$9.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-3 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/01_thumb.jpg" width="170" height="139" alt="Product 08" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/01_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Supra Cuttler</a></h4>
														<span class="price">
															<span class="amount">$199.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-1 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/06_thumb.jpg" width="170" height="139" alt="Product 11" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/06_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Modern Footstool</a></h4>
														<span class="price">
															<span class="amount">$69.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-4 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/07_thumb.jpg" width="170" height="139" alt="Product 12" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/07_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Dripped Wax Glassware</a></h4>
														<span class="price">
															<span class="amount">$24.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-5 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/08_thumb.jpg" width="170" height="139" alt="Product 13" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/08_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Robot Light Bulbs</a></h4>
														<span class="price">
															<span class="amount">$38.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-6 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/09_thumb.jpg" width="170" height="139" alt="Product 14" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/09_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Pelican Chair</a></h4>
														<span class="price">
															<span class="amount">$99.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-7 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/10_thumb.jpg" width="170" height="139" alt="Product 15" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/10_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Naomik Fire Log Holder</a></h4>
														<span class="price">
															<span class="amount">$79.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-8 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/04_thumb.jpg" width="170" height="139" alt="Product 09" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/04_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">The Journeyman Watch</a></h4>
														<span class="price">
															<span class="amount">$999.00</span>
															<del>$299.00</del>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-2 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/11_thumb.jpg" width="170" height="139" alt="Product 16" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/11_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Ducky</a></h4>
														<span class="price">
															<span class="amount">$19.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-9 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/12_thumb.jpg" width="170" height="139" alt="Product 17" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/12_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">iPhone Tiny Batteries</a></h4>
														<span class="price">
															<span class="amount">$39.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-10 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/02_thumb.jpg" width="170" height="139" alt="Product 19" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/02_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">Supra Cuttler</a></h4>
														<span class="price">
															<span class="amount">$69.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-12 -->
												<div class="product style-2">
													<div class="p-image">
														<img src="placeholder/shop/170x139/03_thumb.jpg" width="170" height="139" alt="Product 18" />
														<div class="p-action">
															<a href="#" class="add-to-wishlist">
																<i class="fa fa-heart-o"></i>
																<span>Add To Wishlist</span>
															</a>
															<a data-lightbox="roadtrip" href="placeholder/shop/170x139/03_large.jpg" class="quickview">
																<i class="fa fa-eye"></i>
																<span>Quick View</span>
															</a>
														</div>
													</div>
													<div class="p-info">
														<h4><a href="shop_details_fullwidth.html">The Journeyman Art Kit</a></h4>
														<span class="price">
															<span class="amount">$129.00</span>
														</span>
														<div class="p-action">
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> view</a>
															<a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i>quick view</a>
														</div>
													</div>
												</div><!-- end product-tab-11 -->
											</div><!-- .products.columns-6 -->
										</div><!-- #accessories.tab-pane -->
									</div><!-- .tab-content -->
								</div><!-- .product-tabs -->
							</div><!-- .col-md-12 -->
						</div><!-- .row -->
					</div><!-- .container -->
				</div><!-- .page-section -->