
<style>
.bg-white {
    background-color: #fff;
    color: #716F6F;
}
.m-t-md {
    margin-top: 20px;
}
.new-title {
    color: #000;
    height: 20px;
     margin: 31px 0px;
    text-align: center;
    text-transform: none;
  border-bottom: 1px #130101 solid;
       width: 100%;
}
.new-title h3 {
        color: #ef0b0b;
    font-size: 18px;
  /*  font-weight: 600;*/
    margin-top: 0;
    padding: 10px 45px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    background: #fff;
    letter-spacing: 1px;
}
.p-heading3{
    color:#000!important; text-align:center;border-right: double #dc3333;
    border-left: double #dc3333;
}
.thcr{
    color: #dd3333;
    font-weight: bolder;
}
.s-heading4{
padding:5px;margin-top: 13px;color:#000;   background-color: #efecec; font-size:15px;

}
.p-black{
    color:#000;
}
.k-para{
    text-align: justify;
    font-size: 12px;
}
</style>
<div class="container">
<div class="row">
<div class="col-lg-12 bg-white m- t-md">
	<div class="new-title">
	<h3 class="p-heading3"><span class="thcr">O</span>rder <span class="thcr">A</span>nd <span class="thcr">P</span>ricing</h3>
	</div>
</div>
</div>
<div class="row">
<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <h4 class="s-heading4"><span class="thcr">O</span>rder</h4>
           
            <p class="k-para">
            <span style="color: #dd3333;
    font-size: 25px;">A</span>ny contract for the supply of Food/Meat Delivery from this Website is between you and the Participating Seller; for the supply of Goods or Services from this Website any contact is between you and Buynonveg.com. You agree to take particular care when providing us with your details and warrant that these details are accurate and complete at the time of ordering. You also warrant that the credit or debit card details that you provide are for your own credit or debit card and that you have sufficient funds to make the payment.
            </p>
</div>
 </div>
<div class="row">
<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <h4 class="s-heading4"><span class="thcr">P</span>RICING</h4>
            <p class="k-para">
                <span style="color: #dd3333;
    font-size: 25px;">T</span>he guide price on the website uses an estimate weighed products. But what you pay will be based on the exact weight of your product, so the price may vary slightly from the price being displayed at time of delivery additional funds may be collected or refunded.
            </p>
            <p class="k-para">
                All material on this site, including images, illustrations, graphics, utility models, designs, know-how, trade secrets and inventions (patent pending), goodwill, source code, meta tags, databases, text, content, icons, and hyperlinks, are protected by copyrights, trademarks are owned and controlled by Buynonveg.com unless otherwise noted. You agree to not use, copy, reproduce, republish, or distribute any content from the Website in any way directly or indirectly without prior written authorization from Buynonveg.com.
            </p>
            <p class="k-para">
                <span style="color: #dd3333;
    font-size: 25px;">T</span>he prices reflected on the website/mobile application/email are determined solely by the participating Seller and informed to Buynonveg.com at the time of listing or afterwards. Any change in the prices of menu at the time of placing order is at the sole discretion of the Participating Seller.
    All applicable taxes and levies, the rates thereof and the manner of applicability of such taxes are being charged and determined by the Participating Seller and Buynonveg.com is merely collecting the same on behalf of such Participating Seller.
    The entire amount of applicable taxes collected by Buynonveg.com is directly remitted as it is to Participating Sellers and Buynonveg.com does not retain any amounts thereof.
            </p>
         
            <p class="k-para">
                <span style="color: #dd3333;
    font-size: 25px;">B</span>uynonveg.com is not responsible for validating the legal sanctity of the applicable taxes and the manner of its applicability on behalf of the Participating Seller. Buynonveg.com holds no responsibility for the legal correctness/validity of the levy of such taxes. The sole responsibility for any legal issue arising on the taxes shall reside with the Participating Seller.
    The prices reflected on the website/mobile application are determined solely by the Participating Seller and informed to Buynonveg.com at the time of listing. Any change in the prices of menu at the time of placing order is at the sole discretion of the Participating Seller.
    The transaction of sale of Food/Meat or Food/Meat items is between Participating Seller and the customer, and accordingly, Buynonveg.com is not liable to charge or deposit any taxes applicable on such transaction.
    The final tax invoice will be issued by the Participating Seller and delivered to the customer along with the order.
            </p>
      
            </div>
</div>
</div>