
<div class="page-section v1-three">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<h4 class="textup">Top Sellers</h4>
								<p>We choose our Best Seller Brand, which provides best and healthy quality food provider to our seekers.</p>
							</div>
							<div class="col-md-9">
								<div class="client pdt40 xs-pdl50">
											<div class="brand-slider navtop">
										<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand1.png" width="143" height="89" /></a>
										
											</div>
										</div>
										<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand2.png" width="143" height="89" /></a>
										
												
											</div>
										</div>
										<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand3.png" width="143" height="89" /></a>
											
											</div>
										</div>
								
										<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand4.png" width="143" height="89" /></a>
										
												
											</div>
										</div>
										<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand5.png" width="143" height="89" /></a>
										
												
											</div>
										</div>
										<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand6.png" width="143" height="89" /></a>
											
												
											</div>
										</div>
										<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand7.png" width="143" height="89" /></a>
										
											</div>
										</div>
										<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand8.png" width="143" height="89" /></a>
											
												
											</div>
										</div>
											<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand1.png" width="143" height="89" /></a>
										
											</div>
										</div>
											<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand2.png" width="143" height="89" /></a>
									
												
											</div>
										</div>
											<div class="wr-element">
											<div class="product style-2">
												<a href="#"><img class="thumbnail" alt="Client 1" src="../../common/img/home/img/brands/brand3.png" width="143" height="89" /></a>
											
												
											</div>
										</div>
									</div><!-- .product-slider -->
								</div>
							</div>
						</div><!-- .row -->
					</div><!-- .container -->
				</div><!-- .page-section -->









