 <!-- <div class="page-section v1-one pdt30 ">
					<div class="container   ">
						<div class="row"> -->


								<div class="our-features-box wow bounceInUp animated" style="visibility: visible;"  th:unless="${#authentication.principal}!='anonymousUser'">
<div class="container">
<ul>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<div class="feature-box free-shipping pointer">
<div class="icon-truck">&nbsp;</div>
<div class="content">FREE SHIPPING <br/> Service</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
<div class="feature-box need-help pointer">
<div class="icon-support">&nbsp;</div>
<div class="content">Need Help <br/> +91 9014 553 534
	</div>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
<div class="feature-box money-back pointer">

<i class="fa fa-inr rupee_icon"></i>

<div class="content">Money Back Guarantee</div>
</div>
</li>
<li class="last col-lg-3 col-md-3 col-sm-6 col-xs-6 " >
<div class="feature-box return-policy pointer">
<div class="icon-return">&nbsp;</div>
<div class="content">Instants return Service</div>
</div>
</li>
</ul>
</div>
</div>




						<!-- 	<div class="col-md-3  ">
									<div class="wr-element ">
									<div class="im-box">
									<img src="/common/img/home/img/promotions/prom1.png"/>
										<div class="text">
											<h4>10% Discount</h4>
											<p>On every order over ₹ 150.00</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12 ">
								<div class="wr-element ">
									<div class="im-box">
										<img src="/common/img/home/img/promotions/prom2.png"/>
										<div class="text">
											<h4>Free Shipping</h4>
											<p>On all order over ₹65.00</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12 ">
								<div class="wr-element ">
									<div class="im-box">
									<img src="/common/img/home/img/promotions/prom3.png" />
										
										<div class="text">
										
											<h4>Meat at Your Door Steps</h4>
											<p>+918998877445</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="wr-element ">
									<div class="im-box">
										<img src="/common/img/home/img/promotions/prom4.png" />
										<div class="text">
											<h4>10% Discount</h4>
											<p>On every order over ₹ 150.00</p>
										</div>
									</div>
								</div>
							</div> -->
			<!-- 			</div>
					</div>
				</div>
 -->

