<div class="page_section_login mgt50 mgb50" ng-controller="ForgotPasswordController">
<div class="container">
  <div class="row">
    
    <div class="col-md-4">
      
      <form class="form-signin" name="resetform">
        <h3>Reset Your Password</h3>
        <h5>I am a returning customer</h5>


              <span class="input input--yoshiko  mgt10" ng-class="{'has-error':resetform.newPassword.$invalid &amp;&amp; !resetform.newPassword.$pristine}">
          <input class="input__field input__field--yoshiko mgb10" type="password" name="newPassword"  ng-model="resetdata.newPassword" required="required" id="newpassword" minlength="8"/>
          <i class="fa fa-lock icon-fix-non"></i>
          <label class="input__label input__label--yoshiko inputlabel-pad" for="newPassword">
            <span class="input__label-content input__label-content--yoshiko" data-content="Bird&#39;s Color">
              New Password
            </span>
          </label>
        </span>
        

        <span class="input input--yoshiko  mgt10" ng-class="{'has-error':resetform.confirmPassword.$invalid &amp;&amp; !resetform.confirmPassword.$pristine}">
          <input class="input__field input__field--yoshiko mgb10" type="password" name="confirmPassword"  ng-model="resetdata.confirmPassword" id="confirmpassword" required="required" minlength="8"/>
          <i class="fa fa-lock icon-fix-non"></i>
          <label class="input__label input__label--yoshiko inputlabel-pad" for="password">
            <span class="input__label-content input__label-content--yoshiko" data-content="Bird&#39;s Color">
              Confirm Password</span>
          </label>
            </span>
   
        <p id="wrg_pass" class="help-block hide mgl20"><i class="fa fa-asterisk ls5" aria-hidden="true"></i>Please enter confirm Password same as Password!</p>
      










        <!-- 
          <div class="form-group" ng-class="{'has-error':resetform.newPassword.$invalid &amp;&amp; !resetform.newPassword.$pristine}">
                  <label>Password:</label>
                    <input type="password" class="form-control" placeholder="password"   ng-model="resetdata.newPassword" name="newPassword" id="password" required="required"/>
              </div>
              <div class="form-group" ng-class="{'has-error':resetform.confirmPassword.$invalid &amp;&amp; !resetform.confirmPassword.$pristine}">
                  <label>Confirm Password:</label>
                    <input type="password" class="form-control" placeholder="Confirm password" ng-model="resetdata.confirmPassword" name="confirmPassword" id="confirmPassword" required="required" ng-keyup="getPasswordMatch($event)"/>
                     <p id="wrg_pass" class="help-block hide">Please enter confirm Password same as Password!</p>

              </div> -->
              <a ng-click="resetPassword(resetdata)" ng-disabled="resetform.$invalid" class="btn btn-danger">Submit</a>
          </form>
    </div>

    <div class="col-md-8">
<img src="/common/img/home/resetbanner-meat.png" alt="Please Reset Ypur Password" />
    </div>
    <!-- <div class="col-md-4">
      <div id="myCarousel" class="carousel slide p-none" data-ride="carousel">
    
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item"  th:each="post,postIndex:${loginPageSliderSection.cmsBlocks[0].cmsPostses}" th:classappend = "${postIndex.index==0}?'active':''">
            <a th:href="${post.url}" th:target="${post.urlTargetLocation}">
              <img th:src = "${post.cmsPostsImageses[0].imageLocation}" th:alt="${post.cmsPostsImageses[0].imageAlt}"/>
            </a>
        </div>
      </div>
      
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>  
  </div> -->  
</div>
</div>

</div>

<script src="/js/classie.js"></script>
    <script>
      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled a' );
          }

          // events:
          inputEl.addEventListener( 'active', onInputActive );
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }
          function onInputActive( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }else{

            classie.add( ev.target.parentNode, 'a' );
          }
        }
      })();


    </script>
