
<th:block th:fragment="SubMenuFragment(MenuStatus)">
<div class="subMenuDiv hide animated " id="sub_div_1">
	<ul class="bg-white sub-menu  mega-submenu list-n">
		<li class="col-md-4 col-sm-4  col-xs-4 col-offset-lg-1">
			<!-- <a class="mega-title t-c-g b-b-g menu_head menu_head" th:href="@{/items/category/chicken(id=40288018526c1e0c01526c7215e30020)}">Naatukodi Chicken</a> -->
			<a class="mega-title t-c-g b-b-g menu_head menu_head" href="/items/category/Chicken?id=402880c85471c5590154721b3f000012&amp;scid=402880c85474fa400154750fd53c000a">Naatukodi Chicken</a>

			<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;" >(24 Varities)</span> -->
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Naatukodi Chicken Liver?id=402880c8547a2eb701547a75be030023"><span class="tcr">N</span>aatukodi <span class="tcr">C</span>hicken <span class="tcr">L</span>iver</a></li>
				
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Naatukodi-Chicken-Breast?id=402880c8547a2eb701547a78e183002a"><span class="tcr">N</span>aatukodi <span class="tcr">C</span>hicken <span class="tcr">B</span>reast<!-- <img src="/common/img/home/img/18x10/flag-new-red.png" /> --></a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Naatukodi-Chicken-Wings?id=402880c8547a2eb701547a8541e30038"><span class="tcr">N</span>aatukodi <span class="tcr">C</span>hicken <span class="tcr">W</span>ings</a></li>
				 <li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/NaatuKodi-Chicken-Bonless?id=402880c854c901140154c941665e0003"><span class="tcr">N</span>aatukodi <span class="tcr">C</span>hicken <span class="tcr">B</span>onless</a></li>
				 <li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Naatukodi-Chicken-with-bones?id=402880c854c901140154c94746cc0010"><span class="tcr">N</span>aatukodi <span class="tcr">C</span>hicken <span class="tcr">W</span>ith <span class="tcr">B</span>ones</a></li>
				 <li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Naatukodi-Chicken-curry-pieces?id=402880c854c901140154c973909d0017"><span class="tcr">N</span>aatukodi <span class="tcr">C</span>hicken <span class="tcr">C</span>urry <span class="tcr">P</span>ieces</a></li>
				 <li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Naatukodi-Chicken-without-skin?id=402880c854c901140154c9834c8e001e"><span class="tcr">N</span>aatukodi <span class="tcr">C</span>hicken <span class="tcr">W</span>ithout <span class="tcr">S</span>kin</a></li>
				 <li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Naatukodi-Chicken-without-Bones?id=402880c854c901140154c98527240025"><span class="tcr">N</span>aatukodi <span class="tcr">C</span>hicken <span class="tcr">W</span>ithout <span class="tcr">B</span>ones</a></li>
			</ul>
			<!-- 
				<a class="mega-title t-c-g b-b-g menu_head" href="#">CHICKEN (Bgrowthss)<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Heart</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Livers</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Wings</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Full Body</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Chicken Breast</a></li>
			 
			</ul>  -->
		</li>
		<li class="col-md-3 col-sm-3 col-xs-3">
			<a class="mega-title t-c-g b-b-g menu_head" href="/items/category/Chicken/a?id=402880c85471c5590154721b3f000012&amp;scid=402880c85474fa40015475115ab40010"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Boiler Chicken<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span> --></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Chicken-Breast?id=402880c8547a2eb701547a60ab790008"><span class="tcr">C</span>hicken <span class="tcr"> B</span>reast</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Chicken-Liver?id=402880c8547a2eb701547a63f28f000f"><span class="tcr">C</span>hicken <span class="tcr"> L</span>iver</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Chicken-Wings?id=402880c8547a2eb701547a67f9e60016"><span class="tcr">C</span>hicken <span class="tcr"> W</span>ings</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Chicken-Lollipop.?id=402880c8547a2eb701547a6b32ae001c"><span class="tcr">C</span>hicken <span class="tcr"> L</span>ollipop</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Chicken-Wings-pieces?id=402880c854b822120154b8461f290001"><span class="tcr">C</span>hicken <span class="tcr"> W</span>ings <span class="tcr">P</span>ieces</a></li>
				 <li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Chicken-Curry-Pieces?id=402880c854cc53e40154cc5cfeb10001"><span class="tcr">C</span>hicken <span class="tcr"> C</span>urry <span class="tcr">P</span>ieces</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Chicken-Breast-Special?id=402880c854cc53e40154cc61303b000a"><span class="tcr">C</span>hicken <span class="tcr"> B</span>reast <span class="tcr">S</span>pecial</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Chicken-Liver-Pieces?id=402880c854cc53e40154cc64765b0011"><span class="tcr">C</span>hicken <span class="tcr"> L</span>iver <span class="tcr">P</span>ieces</a></li>

			 
			</ul> 

					 <!-- <a class="mega-title t-c-g b-b-g menu_head" href="#">CHICKEN (WITHOUT SKIN) <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Heart</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Livers</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Wings</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Full Body</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Chicken Breast</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Bones</a></li>
				 <li class="p-t-b-1 growth"><a class=" text f-f-open" >Bgrowthss</a></li>

			 
			</ul>  -->
			</li>
			<li class="col-md-5 col-sm-5 col-xs-5 ">
				<div class="p-10"><a href="/meatitem/Naatukodi-Chicken-Wings?id=402880c8547a2eb701547a8541e30038" ><img src="/common/img/home/img/ckn_left.png" /></a></div>
				<div class="p-10"><a href="/meatitem/Chicken-Breast-Special?id=402880c854cc53e40154cc61303b000a"><img src="/common/img/home/img/ckn_right.png" /></a></div>
			</li>
		</ul>
		<!-- <div><a class="" ><img src="/common/img/home/img/menubanners/menu_banner_2.png" /></a></div> -->
		</div>
		<!-- ******************sub_div_1 end********************** -->
		<!-- ******************sub_div_2 start********************** -->
 		<div class="subMenuDiv hide animated" id="sub_div_2">
			<ul class="bg-white sub-menu  mega-submenu list-n">
				<li class="col-md-4 col-sm-4 col-xs-4 col-offset-lg-1 ">
			<a class="mega-title t-c-g b-b-g menu_head " href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001&amp;scid=402880c85474fa40015475137a860016"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Goat Mutton<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span> --></a>
					<ul class=" mega-submenu list-n" >
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Minced-Mutton,?id=402880c854763c2c01547674ea810012"><span class="tcr">M</span>inced <span class="tcr">M</span>utton</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Kidney?id=402880c854763c2c01547681d0510018"><span class="tcr">G</span>oat <span class="tcr">K</span>idney<img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Liver?id=402880c854763c2c0154768af608001f"><span class="tcr">G</span>oat <span class="tcr">L</span>iver</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Legs?id=402880c854763c2c01547692e93f0026"><span class="tcr">G</span>oat <span class="tcr">L</span>egs</a></li>
						 <li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Boti-Mutton?id=402880c854763c2c0154769ae218002d"><span class="tcr">B</span>oti <span class="tcr">M</span>utton</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-curry-Pieces?id=402880c854cc53e40154cc754a3a0018"><span class="tcr">G</span>oat <span class="tcr">C</span>urry <span class="tcr">P</span>ieces</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Mutton-Bgrowthss?id=402880c854cca9c60154ccb7edfd000a"><span class="tcr">G</span>oat <span class="tcr">M</span>utton <span class="tcr">B</span>oneless</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Mutton-Chops?id=402880c854cca9c60154ccbd4d6d0018"><span class="tcr">G</span>oat <span class="tcr">M</span>utton <span class="tcr">C</span>hops</a></li>
					</ul> 
					 <!--  <a class="mega-title t-c-g b-b-g menu_head" href="#">Bone Mutton<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
					<ul class=" mega-submenu list-n" >
						<li class="p-t-b-1 growth"><a class=" text f-f-open" >Mutton Mixed Pieces</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" >Mutton Chops</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" >Mutton Kheema</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" >Mutton Shoulder Pieces</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" >Mutton Nalli Gosht</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" >Mutton Baby Leg</a></li>
							<li class="p-t-b-1 growth"><a class=" text f-f-open" >Mutton Leg Pieces</a></li>
					</ul>   -->
				</li>
				<li class="col-md-3 col-sm-3 col-xs-3 ">
				<a class="mega-title t-c-g b-b-g menu_head" href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001&amp;scid=402880c85474fa40015475137a860016"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sheep Mutton<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
				<ul class=" mega-submenu list-n" >
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Mutton-Cubes?id=402880c854763c2c015476459fca0004"><span class="tcr">M</span>utton <span class="tcr">C</span>ubes</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Kidney?id=402880c8547a2eb701547aa6ca74004a"><span class="tcr">S</span>heep <span class="tcr">K</span>idney </a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Liver?id=402880c8547a2eb701547ab67a010051"><span class="tcr">S</span>heep <span class="tcr">L</span>iver</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Legs?id=402880c8547a2eb701547ac5326e0058"><span class="tcr">S</span>heep <span class="tcr">L</span>egs</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Mutton--With-Skin?id=402880c854cc53e40154cc7a7776001f"><span class="tcr">S</span>heep <span class="tcr">M</span>utton <span class="tcr">W</span>ith <span class="tcr">S</span>kin</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Mutton-With-Bone?id=402880c854cc53e40154cc7cb63a0025"><span class="tcr">S</span>heep <span class="tcr">M</span>utton <span class="tcr">W</span>ith <span class="tcr">B</span>one</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Mutton-without-Bones?id=402880c854cc53e40154cc7faaca002c"><span class="tcr">S</span>heep <span class="tcr">M</span>utton <span class="tcr">W</span>ithout <span class="tcr">B</span>one</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Mutton-Curry-pieces?id=402880c854cc53e40154cc84b60c0033"><span class="tcr">S</span>heep <span class="tcr">M</span>utton <span class="tcr">C</span>urry <span class="tcr">P</span>ieces</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/sheep-Boti-Mutton?id=402880c854cc53e40154cc8d1f8d003a"><span class="tcr">S</span>heep <span class="tcr">B</span>oti <span class="tcr">M</span>utton </a></li>
				</ul>  
			</li>
			<li class="col-md-5 col-sm-5 col-xs-5 ">
				<div class="p-10"><a href="/meatitem/Boti-Mutton?id=402880c854763c2c0154769ae218002d"><img src="/common/img/home/img/260x100/freshmutton.png" /></a></div>
				<div class="p-10"><a href="/meatitem/Goat-Mutton-Boneless?id=402880c854cca9c60154ccb7edfd000a"><img src="/common/img/home/img/260x100/mutton.png" /></a></div>
			</li >
			<!--  <li class="col-lg-3">
			<img src="/common/img/home/img/195x89/menu_img_8.png" />
			<div class="clearfix"></div>
			<img src="/common/img/home/img/195x89/menu_img_7.png" />
			<div class="clearfix"></div>
			<img src="/common/img/home/img/195x89/menu_img_5.png" style="float:right;margin-top: 118px;" />
			</li>
			-->
		</ul>
	</div>

<!-- ******************sub_div_2 end********************** -->

<!-- ******************sub_div_3 start********************** -->
<div class="subMenuDiv hide animated" id="sub_div_3">
	<ul class="bg-white sub-menu  mega-submenu list-n">
			<li class="col-md-4 col-sm-4  col-xs-4 col-offset-lg-1">
				<!-- <a class="mega-title t-c-g b-b-g menu_head menu_head" th:href="@{/items/category/chicken(id=40288018526c1e0c01526c7215e30020)}">GOAT Mutton</a> -->
				<a class="mega-title t-c-g b-b-g menu_head menu_head" href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001&amp;scid=402880c85474fa40015475137a860016">GOAT Mutton</a>
				<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;" >(24 Varities)</span> -->
				<ul class=" mega-submenu list-n" >
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Minced-Mutton,?id=402880c854763c2c01547674ea810012"><span class="tcr">M</span>inced <span class="tcr">M</span>utton</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Kidney?id=402880c854763c2c01547681d0510018"><span class="tcr">G</span>oat <span class="tcr">K</span>idney<img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Liver?id=402880c854763c2c0154768af608001f"><span class="tcr">G</span>oat <span class="tcr">L</span>iver</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Legs?id=402880c854763c2c01547692e93f0026"><span class="tcr">G</span>oat <span class="tcr">L</span>egs</a></li>
					 <li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Boti-Mutton?id=402880c854763c2c0154769ae218002d"><span class="tcr">B</span>oti <span class="tcr">M</span>utton</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-curry-Pieces?id=402880c854cc53e40154cc754a3a0018"><span class="tcr">G</span>oat <span class="tcr">C</span>urry <span class="tcr">P</span>ieces</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Mutton-Bgrowthss?id=402880c854cca9c60154ccb7edfd000a"><span class="tcr">G</span>oat <span class="tcr">M</span>utton <span class="tcr">B</span>growthss</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Goat-Mutton-Chops?id=402880c854cca9c60154ccbd4d6d0018"><span class="tcr">G</span>oat <span class="tcr">M</span>utton <span class="tcr">C</span>hops</a></li>
				</ul>
				
				 <!--  <a class="mega-title t-c-g b-b-g menu_head" href="#">Sheep Mutton (Bgrowthss)<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span></a>
				<ul class=" mega-submenu list-n" >
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Heart</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Livers</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Wings</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Full Body</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Mutton Breast</a></li>
				 
				</ul>  -->
			</li>
			<li class="col-md-3 col-sm-3 col-xs-3  ">
				<a class="mega-title t-c-g b-b-g menu_head" href="/items/category/Mutton/a?id=402880c85474fa40015475042cf60001&amp;scid=402880c85474fa40015475137a860016"><!-- <img srcMuttoncommon/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sheep Mutton<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">Legs</span> --></a>
				<ul class=" mega-submenu list-n" >
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Mutton-Cubes?id=402880c854763c2c015476459fca0004"><span class="tcr">M</span>utton <span class="tcr">C</span>ubes</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Kidney?id=402880c8547a2eb701547aa6ca74004a"><span class="tcr">S</span>heep <span class="tcr">K</span>idney </a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Liver?id=402880c8547a2eb701547ab67a010051"><span class="tcr">S</span>heep <span class="tcr">L</span>iver</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Legs?id=402880c8547a2eb701547ac5326e0058"><span class="tcr">S</span>heep <span class="tcr">L</span>egs</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Mutton--With-Skin?id=402880c854cc53e40154cc7a7776001f"><span class="tcr">S</span>heep <span class="tcr">M</span>utton <span class="tcr">W</span>ith <span class="tcr">S</span>kin</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Mutton-With-Bone?id=402880c854cc53e40154cc7cb63a0025"><span class="tcr">S</span>heep <span class="tcr">M</span>utton <span class="tcr">W</span>ith <span class="tcr">B</span>one</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Mutton-without-Bones?id=402880c854cc53e40154cc7faaca002c"><span class="tcr">S</span>heep <span class="tcr">M</span>utton <span class="tcr">W</span>ithout <span class="tcr">B</span>one</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sheep-Mutton-Curry-pieces?id=402880c854cc53e40154cc84b60c0033"><span class="tcr">S</span>heep <span class="tcr">M</span>utton <span class="tcr">C</span>urry <span class="tcr">P</span>ieces</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/sheep-Boti-Mutton?id=402880c854cc53e40154cc8d1f8d003a"><span class="tcr">S</span>heep <span class="tcr">B</span>oti <span class="tcr">M</span>utton </a></li>

				 
				</ul> 

			<!--        <a class="mega-title t-c-g b-b-g menu_head" href="#">Sheep Mutton (WITHOUT SKIN):  </a>
				<ul class=" mega-submenu list-n" >
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Heart</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Livers</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Wings</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Full Body</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Mutton Breast</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Bones</a></li>
					 <li class="p-t-b-1 growth"><a class=" text f-f-open" >Bgrowthss</a></li>

					
				</ul>  -->
			</li>

			<li class="col-md-5 col-sm-5 col-xs-5 ">
		<div class="p-10"><a href="/meatitem/Goat-curry-Pieces?id=402880c854cc53e40154cc754a3a0018"><img src="/common/img/home/img/260x100/sheepMeatraw.png" /></a></div>
		<div class="p-10"><a href="/meatitem/Goat-Liver?id=402880c854763c2c0154768af608001f"><img src="/common/img/home/img/260x100/sheepmeat.png" /></a></div>
			</li>
				 
	
		</ul>
	</div>
<!-- ******************sub_div_3 end********************** -->
<!-- ******************sub_div_4 start********************** -->

 <div class="subMenuDiv hide animated b-r-none" id="sub_div_4">
		<ul class="bg-white sub-menu  mega-submenu list-n">
			<li class="col-md-5 col-sm-5 col-xs-5 " th:classappend="${MenuStatus=='false'}?'pull-right'">
					<div class="p-10"><a href="/meatitem/Squid-Fish?id=402880c854763c2c015476c014f80048"><img src="/common/img/home/img/260x100/fresh.png" /></a></div>
					<div class="p-10"><a href="/meatitem/Rohu-Fish?id=402880c854763c2c01547647704e000b"><img src="/common/img/home/img/260x100/moonfish.png" /></a></div>
						</li>

						<li class="col-md-4 col-sm-4 col-xs-4 col-offset-lg-1 ">
							<a class="mega-title t-c-g b-b-g menu_head " href="/items/category/Fish/a?id=402880c85474fa400154751b79740022&amp;scid=402880c85474fa400154752261b20032"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sea Fish<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span> --></a>
							<ul class=" mega-submenu list-n" >
								<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Mullet-Fish?id=402880c854763c2c015476bb10700041"><span class="tcr">M</span>ullet <span class="tcr">F</span>ish </a></li>
								<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Squid-Fish?id=402880c854763c2c015476c014f80048"><span class="tcr">S</span>quid <span class="tcr">F</span>ish <img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
								<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sardine-Fish?id=402880c854763c2c015476c550a1004f"><span class="tcr">S</span>ardine <span class="tcr">F</span>ish</a></li>
								 <li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Bass-Fish?id=402880c854763c2c015476d17455005d"><span class="tcr">B</span>ass <span class="tcr">F</span>ish </a></li>
								<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Salman-Fish?id=402880c854d1d2730154d1f7494d001f"><span class="tcr">S</span>alman <span class="tcr">F</span>ish </a></li>
								<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Barracuda-Fish?id=402880c854d1d2730154d1fc3fe20025"><span class="tcr">B</span>arracuda <span class="tcr">F</span>ish </a></li>
							</ul> 
							 

								<a class="mega-title t-c-g b-b-g menu_head" href="/items/category/Fish/a?id=402880c85474fa400154751b79740022&amp;scid=402880c85474fa400154752261b20032"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->River Fish<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
							<ul class=" mega-submenu list-n" >
								<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Rohu-Fish?id=402880c854763c2c01547647704e000b"><span class="tcr">R</span>ohu <span class="tcr">F</span>ish </a></li>
								<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/River-Bommidailu-Fish?id=402880c8547b5bf701547b6840aa0001"><span class="tcr">R</span>iver <span class="tcr">B</span>ommidailu <span class="tcr">F</span>ish</a></li>
								<!-- <li class="p-t-b-1 growth"><a class=" text f-f-open" >Fish Nalli Gosht</a></li>
								<li class="p-t-b-1 growth"><a class=" text f-f-open" >Fish Baby Leg</a></li>
									<li class="p-t-b-1 growth"><a class=" text f-f-open" >Fish Leg Pieces</a></li>
-->
						 
							 
							</ul>  
						</li>
						

							<li class="col-md-3 col-sm-3 col-xs-3 ">
							<a class="mega-title t-c-g b-b-g menu_head" href="/items/category/Fish/a?id=402880c85474fa400154751b79740022&amp;scid=402880c85474fa400154752261b20032"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Dry Fish<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
							<ul class=" mega-submenu list-n" >
								<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Bommidailu-Fish?id=402880c854763c2c015476b4637f003a"><span class="tcr">B</span>ommidailu <span class="tcr">F</span>ish </a></li>
								<!-- <li class="p-t-b-1 growth"><a class=" text f-f-open" >Fish Boti</a></li>
								<li class="p-t-b-1 growth"><a class=" text f-f-open" >Fish Soup Pieces</a></li>
								<li class="p-t-b-1 growth"><a class=" text f-f-open" >Fish Liver</a></li>Fish
								<li class="p-t-b-1 growth"><a class=" text f-f-open" >Fish Mince</a></li> -->
							</ul>  
						</li>
						 
						
						<!--  <li class="col-lg-3">
							<img src="/common/img/home/img/195x89/menu_img_8.png" />
							<div class="clearfix"></div>
							<img src="/common/img/home/img/195x89/menu_img_7.png" />
							<div class="clearfix"></div>
							<img src="/common/img/home/img/195x89/menu_img_5.png" style="float:right;margin-top: 118px;" />
						 </li>
								-->
				
					</ul>
				</div>

<!-- ******************sub_div_4 end********************** -->
<!-- ******************sub_div_5 start********************** -->

 <div class="subMenuDiv hide animated b-r-none" id="sub_div_5">
		<ul class="bg-white sub-menu  mega-submenu list-n">
			<li class="col-md-5 col-sm-5 col-xs-5 "  th:classappend="${MenuStatus=='false'}?'pull-right'">
			<div class="p-10"><a href="/meatitem/Sea-Prawns-With-Skinless?id=402880c854cca9c60154cd13af5600e4"><img src="/common/img/home/img/260x100/Prawns.png" /></a></div>
			<div class="p-10"><a href="/meatitem/White-Prawns?id=402880c854763c2c015476dc4537006f"><img src="/common/img/home/img/260x100/whiteprawns.png" /></a></div>
				</li>
				<li class="col-md-4 col-sm-4 col-xs-4 col-offset-lg-1 ">
					<a class="mega-title t-c-g b-b-g menu_head " href="/items/category/Prawns/a?id=402880c85474fa4001547527ec0d003a&amp;scid=402880c85474fa400154753060cd0057"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sea Prawns<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span> --></a>
					<ul class=" mega-submenu list-n" >
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sea-Prawns-Curry-Pieces?id=402880c854cca9c60154cd0c135200cf"><span class="tcr">S</span>ea <span class="tcr">P</span>rawns <span class="tcr">C</span>urry <span class="tcr">P</span>ieces<img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Sea-Prawns-With-Skinless?id=402880c854cca9c60154cd13af5600e4"><span class="tcr">S</span>ea <span class="tcr">P</span>rawns <span class="tcr">W</span>ith <span class="tcr">S</span>kinless</a></li>
						 <!-- <li class="p-t-b-1 growth"><a class=" text f-f-open" >White Prawns Chopped Bgrowthss</a></li> -->
						
					</ul> 
					 <a class="mega-title t-c-g b-b-g menu_head" href="/items/category/Prawns/a?id=402880c85474fa4001547527ec0d003a&amp;scid=402880c85474fa400154753060cd0057"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->River Prawns<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
					<ul class=" mega-submenu list-n" >
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/River-Prawns-With-Skin?id=402880c854cca9c60154cd077e2800bb"><span class="tcr">R</span>iver <span class="tcr">P</span>rawns 	<span class="tcr">W</span>ith <span class="tcr">S</span>kin</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/River-Prawns-With-Skinless?id=402880c854cca9c60154cd09e08d00c8"><span class="tcr">R</span>iver <span class="tcr">P</span>rawns <span class="tcr">W</span>ith <span class="tcr">S</span>kinless</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Frozen-Prawns?id=402880c854d1d2730154d20697ac003f"><span class="tcr">F</span>orzen <span class="tcr">P</span>rawns</a></li>
					<!--     <li class="p-t-b-1 growth"><a class=" text f-f-open" >White Prawns Leg Pieces</a></li>
-->
				 </ul>  
				</li>
				<li class="col-md-3 col-sm-3 col-xs-3 ">
					<a class="mega-title t-c-g b-b-g menu_head" href="/items/category/Prawns/a?id=402880c85474fa4001547527ec0d003a&amp;scid=402880c85474fa40015475362859006b"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Dry Prawns<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
					<ul class=" mega-submenu list-n" >
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/White-Prawns?id=402880c854763c2c015476dc4537006f"><span class="tcr">W</span>hite <span class="tcr">P</span>rawns </a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Dry-Prawns-with-Bones?id=402880c854cca9c60154ccdd0d6d0053"><span class="tcr">D</span>ry <span class="tcr">P</span>rawns <span class="tcr">W</span>ith <span class="tcr">B</span>ones</a></li>
			<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Dry-Prawns-With-Skin?id=402880c854cca9c60154cceb8522006e"><span class="tcr">D</span>ry <span class="tcr">P</span>rawns <span class="tcr">W</span>ith <span class="tcr">S</span>kin</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Royal-Prawns?id=402880c854d1d2730154d20984120045"><span class="tcr">R</span>oyal <span class="tcr">P</span>rawns</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Dry-Prawns-Without-Skinless?id=402880c854cca9c60154ccf5bc700081"><span class="tcr">D</span>ry <span class="tcr">P</span>rawns <span class="tcr">W</span>ithout <span class="tcr">S</span>kinless</a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Prawns-Sticks?id=402880c854d1d2730154d20c61970050"> <span class="tcr">P</span>rawns <span class="tcr">S</span>ticks</a></li>
					</ul>  
				</li>
		 		<!--  <li class="col-lg-3">
					<img src="/common/img/home/img/195x89/menu_img_8.png" />
					<div class="clearfix"></div>
					<img src="/common/img/home/img/195x89/menu_img_7.png" />
					<div class="clearfix"></div>
					<img src="/common/img/home/img/195x89/menu_img_5.png" style="float:right;margin-top: 118px;" />
				 </li>
						-->
				</ul>
			</div>

<!-- ******************sub_div_5 end********************** -->


<!-- ******************sub_div_6 start********************** -->

 <div class="subMenuDiv hide animated b-r-none" id="sub_div_6">
	<ul class="bg-white sub-menu  mega-submenu list-n">
	 <li class="col-md-5 col-sm-5 col-xs-5 "  th:classappend="${MenuStatus=='false'}?'pull-right'">
			<div class="p-10"><a href="/meatitem/Stone-Crabs?id=402880c854cca9c60154cdb0b038013d"><img src="/common/img/home/img/260x100/rawcrab.png" /></a></div>
			<div class="p-10"><a href="/meatitem/RedKingCrabs?id=402880c854763c2c015476e616470081"><img src="/common/img/home/img/260x100/crabs.png" /></a></div>
		</li>
		<li class="col-md-4 col-sm-4 col-xs-4 col-offset-lg-1 ">
			<a class="mega-title t-c-g b-b-g menu_head " href="/items/category/Crabs/a?id=402880c85474fa400154752c72f90048&amp;scid=402880c85474fa4001547531072d005"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> --> Sea Crabs<!-- <span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span> --></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/SoftShellCrab?id=402880c854cca9c60154cda4d2e60113"><span class="tcr">S</span>oft <span class="tcr">S</span>hell <span class="tcr">C</span>rab </a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">T</span>hree <span class="tcr">S</span>potted <span class="tcr">C</span>rab <img src="/common/img/home/img/18x10/flag_new.png" /></a></li>
				<!-- <li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Shoulder Bgrowthss</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Bgrowthss keema</a></li>
				 <li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Chopped Bgrowthss</a></li>
				 -->
			</ul> 
			 <!-- <a class="mega-title t-c-g b-b-g menu_head" href="#">Bone Crabs<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Mixed Pieces</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Chops</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Kheema</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Shoulder Pieces</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Nalli Gosht</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Baby Leg</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" >Crabs Leg Pieces</a></li>
			</ul>   -->
		</li>
		<li class="col-md-3 col-sm-3 col-xs-3 ">
			<a class="mega-title t-c-g b-b-g menu_head" href="/items/category/Crabs/a?id=402880c85474fa400154752c72f90048&amp;scid=402880c85474fa4001547532a77c0061"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->River Crabs<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">10 Varities</span></a>
				<ul class=" mega-submenu list-n" >
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/WhiteCrabs?id=402880c854763c2c015476da84f3006a"><span class="tcr">W</span>hite <span class="tcr">C</span>rabs </a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/BlackFin-Crabs?id=402880c854763c2c015476dfb1bd0075"><span class="tcr">B</span>lackFin <span class="tcr">C</span>rabs</a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Claw-Crabs?id=402880c854763c2c015476e28d7c0079"><span class="tcr">C</span>law <span class="tcr">C</span>rabs </a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/RedKingCrabs?id=402880c854763c2c015476e616470081"><span class="tcr">R</span>ed <span class="tcr">K</span>ing <span class="tcr">C</span>rabs </a></li>
					<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/JumboLump-Crabs?id=402880c854763c2c015476e8f2720085"><span class="tcr">J</span>umpbo <span class="tcr">L</span>ump <span class="tcr">C</span>rabs </a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Corn-Crab-White?id=402880c854cca9c60154cd3c96d900f8"><span class="tcr">C</span>orn <span class="tcr">C</span>rab <span class="tcr">W</span>hite </a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Crab-Rangoon?id=402880c854cca9c60154cd4194b50105"><span class="tcr">C</span>rab <span class="tcr">R</span>angoon </a></li>
						<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Blue-Crab?id=402880c854cca9c60154cda87fd4011e"><span class="tcr">B</span>lue <span class="tcr">C</span>rab </a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Alaska-King-Crab?id=402880c854cca9c60154cdac9e2e0132"><span class="tcr">A</span>laska <span class="tcr">K</span>ing <span class="tcr">C</span>rab </a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" href="/meatitem/Stone-Crabs?id=402880c854cca9c60154cdb0b038013d"><span class="tcr">S</span>tone <span class="tcr">C</span>rabs </a></li>
				</ul>  
		</li>
		<!--  <li class="col-lg-3">
			<img src="/common/img/home/img/195x89/menu_img_8.png" />
			<div class="clearfix"></div>
			<img src="/common/img/home/img/195x89/menu_img_7.png" />
			<div class="clearfix"></div>
			<img src="/common/img/home/img/195x89/menu_img_5.png" style="float:right;margin-top: 118px;" />
		 </li>
				-->
	</ul>
</div>

<!-- ******************sub_div_6 end********************** -->



<!-- ******************sub_div_7 start********************** -->
<div class="subMenuDiv hide animated" id="sub_div_7">
	<ul class="bg-white sub-menu  mega-submenu list-n">
		<li class="col-md-4 col-sm-4 col-xs-4 ">
			<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/home/img/20x22/dish3.png" style="width:25px;" /> -->Sea Oysters<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span><img src="/common/img/home/img/18x10/flag_new.png" width="23" /></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">E</span>astern <span class="tcr">O</span>ysters</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">O</span>lympia <span class="tcr">O</span>yesters</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">G</span>ulf <span class="tcr">C</span>oast <span class="tcr">O</span>ysters</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">A</span>merican <span class="tcr">O</span>ysters</a></li>
				 <li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">A</span>rginia <span class="tcr">O</span>yesters</a></li>
				 <li class=""><a class="" href="#"><img src="/common/img/home/img/18x10/more_icon.png" /></a></li>
			</ul>
			<div class=""><!-- <span class="mega-title t-c-g b-b-g menu_head" style="color: #1ab394;margin-left: 18px;float: left;font-size:14px">Mutton</span> -->
			</div>  
		</li>
		<li class="col-md-4 col-sm-4 col-xs-4">
			<a class="mega-title t-c-g b-b-g menu_head" href="#"><!-- <img src="/common/img/images/biryani.png" style="width:25px;"/> -->Flat Oysters<span style="color: rgb(239, 61, 61);font-size: 10px;font-family: sans-serif;padding:5px;">24 Varities</span></a>
			<ul class=" mega-submenu list-n" >
				<li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">S</span>ydney <span class="tcr">O</span>ysters 
			</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">P</span>acific <span class="tcr">O</span>ysters</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">O</span>lympia <span class="tcr">O</span>ysters</a></li>
				<li class="p-t-b-1 growth"><a class=" text f-f-open" ><span class="tcr">W</span>est <span class="tcr">C</span>oast <span class="tcr">O</span>ysters</a></li>
			</ul>
				 
		</li>
		 <li class="col-lg-3">
			<!-- <img src="/common/img/images/veg-twister.png" />
			<div class="clearfix"></div>
			<img src="/common/img/images/999.png" />
			<div class="clearfix"></div> -->
			<!-- <img src="/common/img/home/img/195x89/menu_img_snack.png" style="width: 220px;float:left;margin-top: 10px;" /> -->
		 </li>
	</ul>
</div>
<!-- ******************sub_div_7 end********************** -->                  
<!-- ******************sub_div_8 start********************** -->


</th:block>