<div id="successmodal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md success_centered">

    <!-- Modal content-->
    <div class="modal-content b-r-n">
      <!-- <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" style="display:inline">&times;</button>
        <h4 class="modal-title" style="display:inline; font-weight:bold;">New Customer</h4>
      </div> -->

      <div class="modal-body p-none effect6 b-t-r" >
        <button type="button" class="close" data-dismiss="modal" style="display:inline;font-size: 40px;font-weight: lighter;margin: -3px 8px;">&times;</button>
<div class="register-signup-newDialog">

  <div class="row">
    
    <form name="registerForm">
      <div class="col-lg-6 col-md-6">
        
        <img class="b-s-r" src="/common/img/home/img/banners/success.png" />
      </div>
    <div class="col-sm-6 col-md-6">
    <img class="tick_suc" src="/common/img/home/img/banners/successtick.png" />
     <h1 class="fs30"><span class="t-c-r">Y</span>ou </h1>
     <h1 class="fs30"><span class="t-c-r">H</span>ave </h1>
     <h1 class="fs30"> <span class="t-c-r">S</span>uccessfully</h1>
     <h1 class="fs30"> <span class="t-c-r">S</span>ubscribed</h1>
   <!--   <div class="clear-fix"></div> -->
        <!-- <button type="submit" class="register-btn-non"  ng-click="userRegistration(userdata)" >Continue Shopping...</button> -->
      </div>
    
   
  
    
  </form>
   
  </div>

</div>
      </div>
     
    </div>

  </div>
</div>