
<div class="product-tabs  right" style="padding:10px;">
									<ul class="nav nav-tabs mg0 pdlr10" role="tablist" style="">
										<li><h5 class="title-1 textup">Orders</h5></li>
									
										
										
									
										<li role="presentation" class="active "><a href="#ordersToDelievered" aria-controls="accessories" role="tab" data-toggle="tab" class="mgb0">Yet to be Delivered</a></li>
										<li role="presentation"><a href="#cancelled" aria-controls="accessories" role="tab" data-toggle="tab" class="mgb0">Cancelled</a></li>
										<li role="presentation"><a href="#ordersDelievered" aria-controls="accessories" role="tab" data-toggle="tab" class="mgb0">Delivered</a></li>
									</ul>
									<!-- <div class="prd-or-hed-div ">
									<ul class="prd-or-hed">
									<li class="ord-cod"><h5> Order No.</h5></li>
									<li class="ord-am"><h5>Price</h5></li>
									<li class="ord-da"><h5>OrderCreatedDate</h5></li>
									<li class="ord-vw"><h5> Description</h5></li>
									</ul>
									</div> -->
									<div class="tab-content mgt20">
										
									
									
										
										<div role="tabpanel" class="tab-pane fade active in" id="ordersToDelievered">
															
															<div class="panel-group accordion" id="currentOrders">
									<div class="panel panel-default pd-mgb10" th:each = "order:${orders}" th:if="${(order.status!='CANCELLED' and order.status!='DELIVERED') and (order.status!='CartAdded')}" >
										<div class="panel-heading ursel-non curs-p brdb4 collapsed " data-toggle="collapse" data-parent="#currentOrders" th:href="${'#'+order.id}" aria-expanded="true">
											<ul class="list-inline padding-top-10">
											<li class="ord-cod">
											<h5 class="panel-title h4" th:text="${order.orderCode}"></h5>
										</li>
											<li class="ord-am"><i class="fa fa-inr"></i>
											<h5  th:text="${order.amount+'/-'}">
											
											</h5>
										</li>
										<li th:inline="text" class="text-danger ord-da"> <strong class="text-info"> [[${#dates.format(order.orderCreatedDate,'dd/MM/yyyy')}]]</strong></li>
										<li class="ord-sts">
											<p class="accordion-toggle mgb0 text-success"  th:inline="text">[[${order.status}]]
											 </p>
											 <a href="javascript:;" class="text-danger text-underline" th:attr="ng-click='cancelOrder(\''+${order.id}+'\',\''+${order.status}+'\',\''+${order.orderCode}+'\')'">Cancel </a>
										</li>
										<li class="ord-vw">
											<a class="accordion-toggle mgb0"  >Track
											 </a>
										</li>
										<li class="">
											<i class="fa fa-long-arrow-down"></i>
											<i class="fa fa-long-arrow-up"></i>
										</li>
									</ul>
										</div>
										<div th:id="${order.id}" class="panel-collapse collapse" aria-expanded="true">
											<div class="panel-body">
												<th:block th:each="subOrder:${#lists.toList(order.subOrders)}">
											<div class="row ordrview">
											<!-- <div class="col-md-1 col-sm-1"></div> -->
												<div class="col-md-2 col-sm-2" th:text="${subOrder.subOrderCode}"></div>
												<div class="col-md-4 col-sm-4" th:text="${subOrder.sellerBranch.seller.sellerName}">Seller Name[-----]</div>
													<div class="col-md-2 col-sm-2" th:text="${subOrder.subOrderStatus}"></div>
													<div class="col-md-2 col-sm-2"><a class="btn btn-sm" href="javascript:;" th:attr="ng-click='cancelSubOrder(\''+${subOrder.id}+'\')'">Cancel</a></div>
													
													
													
													
											</div>
											<div class="ordr-prd">
<th:block th:each="orderItem:${subOrder.orderItems}">
												<div class="row " >
													<div class="col-md-1 col-sm-1">
														<img width="80" height="80" alt="foodimage"  th:each="image:${orderItem.sellerItem.item.itemImageses}"  th:if="${image.imageType=='THUMBIMAGE'}" th:src="${image.imageLocation}"/>
													</div>
													<div class="col-md-3 col-sm-3" th:text="${orderItem.sellerItem.sellerItemName}">
													

													</div>
													<div class="col-md-3 col-sm-3">
													<span th:text="${#dates.format(orderItem.deliveryDate,'dd/MM/yyyy')}">
												
													</span>
													<span th:if="${orderItem.timings}" style="display:block;" th:text="${orderItem.timings.timingName}">
														lunch
													</span>
													<span th:if="${orderItem.timings}" th:text="${orderItem.timings.startTime+'-'+orderItem.timings.endTime}">
														1:30pm
													</span>
													</div>
							     <!--  <div class="col-md-1 col-sm-1" th:text="${orderItem.units}"></div>
													<div class="col-md-1 col-sm-1" th:text="${orderItem.price}">120.00</div> -->
													<div class="col-md-1 col-sm-1" th:text="${orderItem.taxValue}"></div>
													<div class="col-md-2 col-sm-2" th:text = "${orderItem.orderItemTotalPrice}">131.00</div>
													<div class="col-lg-2 col-mg-2 col-sm-2"><a class="pointer" data-toggle="modal" th:attr="ng-click='showRatingWindow(\''+${orderItem.sellerItem.id}+'\')'">Write Review</a></div>
												</div>
											</th:block>
												 <div class="row bs-wizard" style="border-bottom:0;">
												 	<th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='PLACED'">
																	<div class="col-xs-3 bs-wizard-step complete">

                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Cart</div>
                </div>
                </th:block>
                <th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='CONFIRMED'">
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Confirmed </div>
                </div>
                </th:block>
                <th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='SHIPPED'">
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Your Food is about to reach to you </div>
                </div>
                </th:block>
                <th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='DELIVERED'">
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Delivered &amp; Have a Nice Day </div>
                </div>
               </th:block>
            </div>
        </div>
       </th:block>
       <!--  <div class="ordr-prd">
        <div class="row ordrview">
											<div class="col-md-1 col-sm-1"></div>
												<div class="col-md-3 col-sm-3">Suborder Id:</div>
												<div class="col-md-4 col-sm-4">seller Name</div>	
											</div>
												<div class="row " >
													<div class="col-md-1 col-sm-1">
														<img width="80" height="80" alt="foodimage"  src="/common/img/home/img/80x80/cart_item_1.png"/>
													</div>
													<div class="col-md-3 col-sm-3">
														Coastal Spices Gachibowli Mutton Dum Biryani

													</div>
													<div class="col-md-2 col-sm-2">
													<span>
													31/12/2015
													</span>
													<span style="display:block;">
														lunch
													</span>
													<span>
														1:30pm
													</span>
													</div>
							      <div class="col-md-1 col-sm-1">Qty:2</div>
													<div class="col-md-2 col-sm-2">120.00</div>
													<div class="col-md-1 col-sm-1">11.00</div>
													<div class="col-md-2 col-sm-2">251.00</div>
												</div>
												 <div class="row bs-wizard" style="border-bottom:0;">
<div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Cart</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Local Store </div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Shipping </div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled">
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Delivered </div>
                </div>
            </div>
        </div> -->
        
        
        
        



												</div>
										</div>
									</div>
					
									
							


								</div>



										</div>
											<div role="tabpanel" class="tab-pane fade" id="cancelled">
															
															<div class="panel-group accordion" id="currentOrders">
									<div class="panel panel-default pd-mgb10" th:each = "order:${orders}" th:if="${(order.status=='CANCELLED')}" >
										<div class="panel-heading ursel-non curs-p brdb4 collapsed " data-toggle="collapse" data-parent="#currentOrders" th:href="${'#'+order.id}" aria-expanded="true">
											<ul class="list-inline padding-top-10">
											<li class="ord-cod">
											<h5 class="panel-title h4" th:text="${order.orderCode}"></h5>
										</li>
											<li class="ord-am"><i class="fa fa-inr"></i>
											<h5  th:text="${order.amount+'/-'}">
											
											</h5>
										</li>
										<li th:inline="text" class="text-danger ord-da"> <strong class="text-info"> [[${order.orderCreatedDate}]]</strong></li>
										<li class="ord-sts">
											<a class="accordion-toggle mgb0"  th:inline="text">[[${order.status}]]
											 </a>
										</li>
										<li class="ord-vw">
											<a class="accordion-toggle mgb0"  >Track
											 </a>
										</li>
										<li class="">
											<i class="fa fa-long-arrow-down"></i>
											<i class="fa fa-long-arrow-up"></i>
										</li>
									</ul>
										</div>
										<div th:id="${order.id}" class="panel-collapse collapse" aria-expanded="true">
											<div class="panel-body">
												<th:block th:each="subOrder:${#lists.toList(order.subOrders)}">
											<div class="row ordrview">
											<div class="col-md-1 col-sm-1"></div>
												<div class="col-md-3 col-sm-3" th:text="${subOrder.subOrderCode}"></div>
												<div class="col-md-4 col-sm-4" th:text="${subOrder.sellerBranch.seller.sellerName}">seller Name[-----]</div>
													<div class="col-md-3 col-sm-3" th:text="${subOrder.subOrderStatus}"></div>
												
													
													
											</div>
											<div class="ordr-prd">
<th:block th:each="orderItem:${subOrder.orderItems}">
												<div class="row " >
													<div class="col-md-1 col-sm-1">
														<img width="80" height="80" alt="foodimage"  src="/common/img/home/img/80x80/cart_item_1.png"/>
													</div>
													<div class="col-md-3 col-sm-3" th:text="${orderItem.sellerItem.sellerItemName}">
													

													</div>
													<div class="col-md-3 col-sm-3">
													<span th:text="${#dates.format(orderItem.deliveryDate,'dd/MM/yyyy')}">
												
													</span>
													<span style="display:block;" th:if="${orderItem.timings}" th:text="${orderItem.timings.timingName}">
														lunch
													</span>
													<span th:if="${orderItem.timings}" th:text="${orderItem.timings.startTime+'-'+orderItem.timings.endTime}">
														1:30pm
													</span>
													</div>
							      <div class="col-md-1 col-sm-1" th:text="${orderItem.units}"></div>
													<div class="col-md-1 col-sm-1" th:text="${orderItem.finalUnitPrice}">120.00</div>
													<div class="col-md-1 col-sm-1" th:text="${orderItem.taxValue}"></div>
													<div class="col-md-2 col-sm-2" th:text = "${orderItem.orderItemTotalPrice}">131.00</div>
												</div>
											</th:block>
												 <div class="row bs-wizard" style="border-bottom:0;">
												 	<th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='PLACED'">
																	<div class="col-xs-3 bs-wizard-step complete">

                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Cart</div>
                </div>
                </th:block>
                <th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='CONFIRMED'">
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Confirmed </div>
                </div>
                </th:block>
                <th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='SHIPPED'">
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Your Food is about to reach to you </div>
                </div>
                </th:block>
                <th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='DELIVERED'">
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Delivered &amp; Have a Nice Day </div>
                </div>
               </th:block>
            </div>
        </div>
       </th:block>
       <!--  <div class="ordr-prd">
        <div class="row ordrview">
											<div class="col-md-1 col-sm-1"></div>
												<div class="col-md-3 col-sm-3">Suborder Id:</div>
												<div class="col-md-4 col-sm-4">seller Name</div>	
											</div>
												<div class="row " >
													<div class="col-md-1 col-sm-1">
														<img width="80" height="80" alt="foodimage"  src="/common/img/home/img/80x80/cart_item_1.png"/>
													</div>
													<div class="col-md-3 col-sm-3">
														Coastal Spices Gachibowli Mutton Dum Biryani

													</div>
													<div class="col-md-2 col-sm-2">
													<span>
													31/12/2015
													</span>
													<span style="display:block;">
														lunch
													</span>
													<span>
														1:30pm
													</span>
													</div>
							      <div class="col-md-1 col-sm-1">Qty:2</div>
													<div class="col-md-2 col-sm-2">120.00</div>
													<div class="col-md-1 col-sm-1">11.00</div>
													<div class="col-md-2 col-sm-2">251.00</div>
												</div>
												 <div class="row bs-wizard" style="border-bottom:0;">
<div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Cart</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Local Store </div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Shipping </div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled">
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Delivered </div>
                </div>
            </div>
        </div> -->
        
        
        
        



												</div>
										</div>
									</div>
					
									
							


								</div>



										</div>
										<div role="tabpanel" class="tab-pane fade" id="ordersDelievered">
															
															<div class="panel-group accordion" id="currentOrders">
									<div class="panel panel-default pd-mgb10" th:each = "order:${orders}" th:if="${(order.status=='DELIVERED')}" >
										<div class="panel-heading ursel-non curs-p brdb4 collapsed " data-toggle="collapse" data-parent="#currentOrders" th:href="${'#'+order.id}" aria-expanded="true">
											<ul class="list-inline padding-top-10">
											<li class="ord-cod">
											<h5 class="panel-title h4" th:text="${order.orderCode}"></h5>
										</li>
											<li class="ord-am"><i class="fa fa-inr"></i>
											<h5  th:text="${order.amount+'/-'}">
											
											</h5>
										</li>
										<li th:inline="text" class="text-danger ord-da"> <strong class="text-info"> [[${order.orderCreatedDate}]]</strong></li>
										<li class="ord-sts">
											<a class="accordion-toggle mgb0"  th:inline="text">[[${order.status}]]
											 </a>
										</li>
										<li class="ord-vw">
											<a class="accordion-toggle mgb0"  >Track
											 </a>
										</li>
										<li class="">
											<i class="fa fa-long-arrow-down"></i>
											<i class="fa fa-long-arrow-up"></i>
										</li>
									</ul>
										</div>
										<div th:id="${order.id}" class="panel-collapse collapse" aria-expanded="true">
											<div class="panel-body">
												<th:block th:each="subOrder:${#lists.toList(order.subOrders)}">
											<div class="row ordrview">
											<div class="col-md-1 col-sm-1"></div>
												<div class="col-md-3 col-sm-3" th:text="${subOrder.subOrderCode}"></div>
												<div class="col-md-4 col-sm-4" th:text="${subOrder.sellerBranch.seller.sellerName}">seller Name[-----]</div>
													<div class="col-md-3 col-sm-3" th:text="${subOrder.subOrderStatus}"></div>
												
													
													
											</div>
											<div class="ordr-prd">
<th:block th:each="orderItem:${subOrder.orderItems}">
												<div class="row " >
													<div class="col-md-1 col-sm-1">
														<img width="80" height="80" alt="foodimage"  src="/common/img/home/img/80x80/cart_item_1.png"/>
													</div>
													<div class="col-md-3 col-sm-3" th:text="${orderItem.sellerItem.sellerItemName}">
													

													</div>
													<div class="col-md-3 col-sm-3">
													<span th:text="${#dates.format(orderItem.deliveryDate,'dd/MM/yyyy')}">
												
													</span>
													<span th:if="${orderItem.timings}" style="display:block;" th:text="${orderItem.timings.timingName}">
														lunch
													</span>
													<span th:if="${orderItem.timings}"  th:text="${orderItem.timings.startTime+'-'+orderItem.timings.endTime}">
														1:30pm
													</span>
													</div>
							      <div class="col-md-1 col-sm-1" th:text="${orderItem.units}"></div>
													<div class="col-md-1 col-sm-1" th:text="${orderItem.orderItemTotalPrice}">120.00</div>
													<div class="col-md-1 col-sm-1" th:text="${orderItem.sellerDiscounts+orderItem.otherDiscounts}"></div>
													<div class="col-md-2 col-sm-2" th:text = "${orderItem.orderItemTotalPrice}">131.00</div>
												</div>
											</th:block>
												 <div class="row bs-wizard" style="border-bottom:0;">
												 	<th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='PLACED'">
																	<div class="col-xs-3 bs-wizard-step complete">

                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Cart</div>
                </div>
                </th:block>
                <th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='CONFIRMED' OR ${statusCode.subOrderStatusName}=='CANCELLED' ">
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center" th:if="${statusCode.subOrderStatusName}=='CONFIRMED'"> Confirmed </div>
                  <div class="bs-wizard-info text-center" th:if="${statusCode.subOrderStatusName}=='CANCELLED'"> Cancelled </div>
                </div>
                </th:block>
                <th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='SHIPPED'">
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Your Food is about to reach to you </div>
                </div>
                </th:block>
                <th:block th:each="statusCode:${#lists.toList(subOrder.subOrderStatusCodes)}" th:if="${statusCode.subOrderStatusName}=='DELIVERED'">
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Delivered &amp; Have a Nice Day </div>
                </div>
               </th:block>
            </div>
        </div>
       </th:block>
       <!--  <div class="ordr-prd">
        <div class="row ordrview">
											<div class="col-md-1 col-sm-1"></div>
												<div class="col-md-3 col-sm-3">Suborder Id:</div>
												<div class="col-md-4 col-sm-4">seller Name</div>	
											</div>
												<div class="row " >
													<div class="col-md-1 col-sm-1">
														<img width="80" height="80" alt="foodimage"  src="/common/img/home/img/80x80/cart_item_1.png"/>
													</div>
													<div class="col-md-3 col-sm-3">
														Coastal Spices Gachibowli Mutton Dum Biryani

													</div>
													<div class="col-md-2 col-sm-2">
													<span>
													31/12/2015
													</span>
													<span style="display:block;">
														lunch
													</span>
													<span>
														1:30pm
													</span>
													</div>
							      <div class="col-md-1 col-sm-1">Qty:2</div>
													<div class="col-md-2 col-sm-2">120.00</div>
													<div class="col-md-1 col-sm-1">11.00</div>
													<div class="col-md-2 col-sm-2">251.00</div>
												</div>
												 <div class="row bs-wizard" style="border-bottom:0;">
<div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Cart</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Local Store </div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Shipping </div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled">
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Delivered </div>
                </div>
            </div>
        </div> -->
        
        
        
        



												</div>
										</div>
									</div>
					
									
							


								</div>



										</div>
									</div><!-- .tab-content -->

								</div>

<th:block th:replace="fragments/RatingFragment"></th:block>
<th:block th:replace="fragments/CancelOrderFragment"></th:block>





