@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-apple54:before {
	content: "\e000";
}
.flaticon-apple55:before {
	content: "\e001";
}
.flaticon-bag-of-flour:before {
	content: "\e002";
}
.flaticon-baked1:before {
	content: "\e003";
}
.flaticon-baked2:before {
	content: "\e004";
}
.flaticon-bakery9:before {
	content: "\e005";
}
.flaticon-barbecue2:before {
	content: "\e006";
}
.flaticon-basic11:before {
	content: "\e007";
}
.flaticon-beer:before {
	content: "\e008";
}
.flaticon-birthday10:before {
	content: "\e009";
}
.flaticon-birthday20:before {
	content: "\e00a";
}
.flaticon-bread14:before {
	content: "\e00b";
}
.flaticon-broccoli:before {
	content: "\e00c";
}
.flaticon-cake28:before {
	content: "\e00d";
}
.flaticon-cheese:before {
	content: "\e00e";
}
.flaticon-cheese12:before {
	content: "\e00f";
}
.flaticon-cheese14:before {
	content: "\e010";
}
.flaticon-chef15:before {
	content: "\e011";
}
.flaticon-chicken7:before {
	content: "\e012";
}
.flaticon-chilis:before {
	content: "\e013";
}
.flaticon-chinese-food1:before {
	content: "\e014";
}
.flaticon-chinese-food3:before {
	content: "\e015";
}
.flaticon-chinese-food5:before {
	content: "\e016";
}
.flaticon-chinese13:before {
	content: "\e017";
}
.flaticon-cocktail32:before {
	content: "\e018";
}
.flaticon-cocktails1:before {
	content: "\e019";
}
.flaticon-coffee10:before {
	content: "\e01a";
}
.flaticon-coffee26:before {
	content: "\e01b";
}
.flaticon-coffee50:before {
	content: "\e01c";
}
.flaticon-coffeeshop:before {
	content: "\e01d";
}
.flaticon-cook4:before {
	content: "\e01e";
}
.flaticon-cooking15:before {
	content: "\e01f";
}
.flaticon-cooking27:before {
	content: "\e020";
}
.flaticon-cooking29:before {
	content: "\e021";
}
.flaticon-cooking30:before {
	content: "\e022";
}
.flaticon-cookware:before {
	content: "\e023";
}
.flaticon-covered16:before {
	content: "\e024";
}
.flaticon-cross85:before {
	content: "\e025";
}
.flaticon-cup74:before {
	content: "\e026";
}
.flaticon-cutlery1:before {
	content: "\e027";
}
.flaticon-cutlery22:before {
	content: "\e028";
}
.flaticon-cutlery23:before {
	content: "\e029";
}
.flaticon-cutlery6:before {
	content: "\e02a";
}
.flaticon-cutlery9:before {
	content: "\e02b";
}
.flaticon-dessert4:before {
	content: "\e02c";
}
.flaticon-dining3:before {
	content: "\e02d";
}
.flaticon-dining8:before {
	content: "\e02e";
}
.flaticon-drink110:before {
	content: "\e02f";
}
.flaticon-drink165:before {
	content: "\e030";
}
.flaticon-drink2:before {
	content: "\e031";
}
.flaticon-drink24:before {
	content: "\e032";
}
.flaticon-drink76:before {
	content: "\e033";
}
.flaticon-drink81:before {
	content: "\e034";
}
.flaticon-fast-food:before {
	content: "\e035";
}
.flaticon-fastfood1:before {
	content: "\e036";
}
.flaticon-fish52:before {
	content: "\e037";
}
.flaticon-fishes5:before {
	content: "\e038";
}
.flaticon-flat15:before {
	content: "\e039";
}
.flaticon-food20:before {
	content: "\e03a";
	margin-left: 0px !important;
}
.flaticon-fork48:before {
	content: "\e03b";
}
.flaticon-fruit34:before {
	content: "\e03c";
}
.flaticon-fruit41:before {
	content: "\e03d";
}
.flaticon-fruit42:before {
	content: "\e03e";
}
.flaticon-fruit72:before {
	content: "\e03f";
}
.flaticon-glass15:before {
	content: "\e040";
}
.flaticon-glass35:before {
	content: "\e041";
}
.flaticon-healthy-food4:before {
	content: "\e042";
}
.flaticon-healthy-food5:before {
	content: "\e043";
}
.flaticon-hot-food:before {
	content: "\e044";
	margin-left: 0px !important;
}
.flaticon-hot51:before {
	content: "\e045";
}
.flaticon-italian-food:before {
	content: "\e046";
}
.flaticon-italian1:before {
	content: "\e047";
}
.flaticon-japanese-food:before {
	content: "\e048";
}
.flaticon-jar20:before {
	content: "\e049";
}
.flaticon-kitchen77:before {
	content: "\e04a";
}
.flaticon-kitchen84:before {
	content: "\e04b";
}
.flaticon-kitchen85:before {
	content: "\e04c";
}
.flaticon-knife15:before {
	content: "\e04d";
}
.flaticon-knife36:before {
	content: "\e04e";
}
.flaticon-lunch4:before {
	content: "\e04f";
}
.flaticon-lunch5:before {
	content: "\e050";
}
.flaticon-man288:before {
	content: "\e051";
}
.flaticon-man332:before {
	content: "\e052";
}
.flaticon-menu21:before {
	content: "\e053";
}
.flaticon-paper-cup:before {
	content: "\e054";
}
.flaticon-pizza3:before {
	content: "\e055";
}
.flaticon-plate13:before {
	content: "\e056";
}
.flaticon-plate17:before {
	content: "\e057";
}
.flaticon-plate7:before {
	content: "\e058";
}
.flaticon-popcorn6:before {
	content: "\e059";
}
.flaticon-restaurant23:before {
	content: "\e05a";
}
.flaticon-restaurant29:before {
	content: "\e05b";
}
.flaticon-restaurant33:before {
	content: "\e05c";
}
.flaticon-restaurant51:before {
	content: "\e05d";
}
.flaticon-salad:before {
	content: "\e05e";
}
.flaticon-sandwich:before {
	content: "\e05f";
}
.flaticon-snack1:before {
	content: "\e060";
}
.flaticon-sprig1:before {
	content: "\e061";
}
.flaticon-sprig2:before {
	content: "\e062";
}
.flaticon-steak:before {
	content: "\e063";
}
.flaticon-sweet9:before {
	content: "\e064";
}
.flaticon-tea24:before {
	content: "\e065";
}
.flaticon-turkey7:before {
	content: "\e066";
}
.flaticon-utensil13:before {
	content: "\e067";
}
.flaticon-vegan:before {
	content: "\e068";
}
.flaticon-vegetable3:before {
	content: "\e069";
}
.flaticon-vegetable6:before {
	content: "\e06a";
}
.flaticon-vegetable7:before {
	content: "\e06b";
}
.flaticon-vegetables4:before {
	content: "\e06c";
}
.flaticon-wedding11:before {
	content: "\e06d";
}
.flaticon-wine65:before {
	content: "\e06e";
}
